html, body {
    font-family: 'Droid Sans', sans-serif;
    background-color: #FFF;
    padding: 5px;
}

/****** PAGE LAYOUT ******/
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% */
.row.content {
    /*height: 600px*/
}

/* Set gray background color and 100% height */
.sidenav {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  /*height: 600px;*/
}


/****** OBJECT BOX ******/
.objbox {
    position: relative;
    height: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #f1f1f1;
    box-shadow: 5px 5px 6px #cccccc;
}
.objbox-control-button {
    text-align: right;
}

/* Set grey background color, black text and some padding */
footer {
  background-color: #f1f1f1;
  color: black;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

#subitem {
    padding-left: 20px;
}


/****** IMAGES ******/
#unilogo {
    width: 118px;
    height: 37px;
    cursor: pointer;
}
#snf {
    width: 118px;
    height: 40px;
    cursor: pointer;
    padding-right: 10px;
}
#webernlogo {
    cursor: pointer;
    font-family: 'Droid Sans', sans-serif;
    text-align: center;
}
#webernlogo span {
    font-weight: lighter;
}

.img-thumbnail {
    height: 100px;
    width:auto;
    padding: 0px;
    margin: 2px 0px;
}

/****** SVG ******/
svg {
    box-shadow: 5px 5px 6px #cccccc;
    border: 1px solid #eeeeee;
}
.svg_item {
    fill: orange;
    opacity: 0.2;
}
/*.svg_system {
    fill: red;
    opacity: 0.2;
}*/
.svg_measure, .svg_system, .svg_linkbox {
    fill: white;
    opacity: 0;
}
.svg_measure:hover, .svg_system:hover, .svg_linkbox:hover, .svg_item:hover {
    fill: #8bb82d; /* some lighter OliveDrab*/
    opacity: 0.2;
}
svg a.active rect {
    fill: OliveDrab;
    opacity: 0.2;
}



/****** TABLES & LISTS ******/
.table thead tr th {
    border-bottom: 2px solid black;
}
.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}
td {
    vertical-align: top;
}

ul.none {
    list-style: none;
}

#sidenav_results tbody tr {
    cursor:pointer;
}
#sidenav_results tbody tr:hover {
    background-color: #e7e7e7;
}
#sidenav_results tbody tr.active td {
    background-color: #d7d7d7;
}


/****** LINKS & POINTER ******/
a, .ins {
    cursor: pointer;
}

#imp {
    cursor: pointer;
    color: black;
}
#imp:hover {
	color: #666;
}


/****** DIVS ******/
.para {
    margin-bottom: 3em;
}


/****** FONTPROPERTIES ******/
.bold {
    font-weight: bold;
}
.highlighted {
    background: orange;
}
span.caps, .version {
    font-variant: small-caps;
}
span.indent {
    text-indent:25px;
}
