<ngb-accordion activeIds="awg-accolade-view">
    <ngb-panel id="awg-accolade-view">
        <ng-template ngbPanelHeader>
            <div class="d-flex align-items-center justify-content-between">
                <button ngbPanelToggle class="btn btn-link text-left">Edierter Notentext</button>
                <button
                    type="button"
                    class="btn btn-sm btn-outline-info ml-2"
                    (click)="openModal('HINT_EDITION_DETAIL')"
                >
                    Hinweise zur Nutzung
                </button>
            </div>
        </ng-template>
        <ng-template ngbPanelContent>
            <!-- accolade control -->
            <awg-edition-svg-sheet-nav
                *ngIf="svgSheetsData && selectedSvgSheet"
                [svgSheetsData]="svgSheetsData"
                [selectedSvgSheet]="selectedSvgSheet"
                (selectSvgSheetRequest)="selectSvgSheet($event)"
            >
            </awg-edition-svg-sheet-nav>

            <!-- svg panel -->
            <awg-edition-svg-sheet
                *ngIf="svgSheetsData && selectedSvgSheet"
                [svgSheetsData]="svgSheetsData"
                [selectedSvgSheet]="selectedSvgSheet"
                [selectedOverlay]="selectedOverlay"
                (selectSvgSheetRequest)="selectSvgSheet($event)"
                (selectOverlayRequest)="selectOverlay($event)"
            >
            </awg-edition-svg-sheet>

            <!-- table for TkA -->
            <div class="panel-footer" *ngIf="showTkA && selectedTextcriticalComments">
                <h5 class="mt-4">Textkritischer Kommentar ({{ selectedOverlay.type }} {{ selectedOverlay.id }}):</h5>
                <awg-edition-tka-table
                    [textcriticalComments]="selectedTextcriticalComments"
                    (openModalRequest)="openModal($event)"
                    (selectSvgSheetRequest)="selectSvgSheet($event)"
                >
                </awg-edition-tka-table>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
