<ngb-accordion activeIds="awg-accolade-view">
    <ngb-panel id="awg-accolade-view" title="Edierter Notentext">
        <ng-template ngbPanelContent>
            <!-- accolade control -->
            <awg-edition-svg-sheet-nav
                *ngIf="svgSheetsData && selectedSvgSheet"
                [svgSheetsData]="svgSheetsData"
                [selectedSvgSheet]="selectedSvgSheet"
                (selectSvgSheetRequest)="selectSvgSheet($event)"
            >
            </awg-edition-svg-sheet-nav>

            <!-- pre-notification -->
            <awg-edition-detail-notification></awg-edition-detail-notification>

            <!-- svg panel -->
            <awg-edition-svg-sheet
                *ngIf="svgSheetsData && selectedSvgSheet"
                [svgSheetsData]="svgSheetsData"
                [selectedSvgSheet]="selectedSvgSheet"
                [selectedOverlay]="selectedOverlay"
                (selectSvgSheetRequest)="selectSvgSheet($event)"
                (selectOverlayRequest)="selectOverlay($event)"
            >
            </awg-edition-svg-sheet>

            <!-- table for TkA -->
            <div class="panel-footer" *ngIf="showTkA && selectedTextcriticalComments">
                <h5 class="mt-4">
                    Textkritischer Kommentar ({{ selectedOverlay.typeLabel }} {{ selectedOverlay.id }}):
                </h5>
                <awg-edition-tka-table
                    [textcriticalComments]="selectedTextcriticalComments"
                    (openModalRequest)="openModal($event)"
                    (selectSvgSheetRequest)="selectSvgSheet($event)"
                >
                </awg-edition-tka-table>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
