<!-- ### CONTENT HOME ### -->
<div class="col-sm-9 col-md-10 maincontent text-left">

    <!-- ### HEADER ### -->
    <div class="para">
        <h2>Anton Webern Gesamtausgabe</h2>
        <h3>Serie I (Werke mit Opuszahlen)</h3>
        <h3>Abteilung 5 (Klavierlieder)</h3>
    </div>

    <div class="para">
        <h4><i>Vier Lieder</i> op. 12</h4>
        <h4>Skizzen</h4>
        <p>[Beispieledition ausgewählter Skizzen zu op. 12 Nr. I]</p>
    </div>

    <!-- ### DESCRIPTION ### -->
    <div class="para" style="color:red">
        <p>[Prototyp einer AWG-Online-Edition:</p>
        <p><span style="color:blue">Blau</span> markierte Textteile sind digital verknüpft und können on-screen angeklickt werden. In der durch SALSAH organisierten Online-Edition werden verknüpfte Inhalte in eigenen, frei anzuordnenden Fenster erscheinen.]</p>
    </div>

    <!-- ### DECLAMATION ### -->
    <div class="declamation">
        <p>Ediert von {{editors}}</p>
        <p>Versionsdatum: <span class="version">{{version_date}}</span></p>
    </div>
</div>
