<!-- ### CONTENT REPORT ### -->
<div class="col-sm-9 col-md-10 maincontent text-left">

    <!-- ### MODAL ### -->
    <awg-modal visible="showModal">
        <p ng-bind-html="modalValue"></p>
    </awg-modal>


    <!-- ### HEADER ### -->
    <div class="para">
        <h2 id="report">Kritischer Bericht</h2>
    </div>

    <!-- ### CONTENT ### -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                I. Quellen
            </h3>
        </div>
        <div class="panel-body">
            <div class="panel-group">

                <!-- ### SOURCE LIST ### -->
                <awg-sourcelist></awg-sourcelist>

                <!-- ### SOURCE DESCRIPTION ### -->
                <awg-sourcedesc></awg-sourcedesc>

                <!-- ### SOURCE EVALUATION ### -->
                <awg-sourceeval></awg-sourceeval>

            </div> <!-- END panel group -->
        </div> <!-- END outer panel body -->
    </div> <!-- ENDouter panel -->

    <!-- ### TKA ### -->
    <awg-tka></awg-tka>

</div> <!-- END main-content  -->
