<!-- ### CONTENT REPORT ### -->
<div class="col-sm-9 col-md-10 maincontent text-left">

    <!-- ### HEADER ### -->
    <div class="para">
        <h2 id="report">Kritischer Bericht</h2>
        <h3>I. Quellen</h3>
    </div>

    <!-- ### SOURCE LIST ### -->
    <div class="para">
        <h4 id="sourceList">1. Quellenübersicht</h4>
        <table class="table table-hover borderless">
            <tbody>
                <tr ng-repeat="source in sourceList.sources" ng-click="linkTo(source.linkTo)">
                    <td class="bold" ng-bind-html="source.siglum"></td>
                    <td><span ng-bind-html="source.type"></span> <br/>
                        <span ng-bind-html="source.location"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--


    ######## LOOk FOR BOOTSTRAP MODALS ##########


     -->


    <!-- ### SOURCE DESCRIPTION ### -->
    <div class="para">
        <h4 id="sourceDesc">2. Quellenbeschreibung</h4>
        <div class="para" id="sourceA">
            <p class="bold">A</p>
            <p>
                Basel, Paul Sacher Stiftung, Sammlung Anton Webern.
            </p>
        </div>

        <div class="para" id="sourceAa">
            <p class="bold">Aa</p>
            <p>
                2 Blätter (Bl. 1–2). Archivalische Paginierung [<i>1</i>] bis [<i>4</i>] unten links (recto) bzw. rechts (verso) mit Bleistift. Bl. 2<sup>v</sup> mit Ausnahme der archivalischen Paginierung unbeschriftet. Rissspuren am linken und oberen Rand: Blätter von Bogen abgetrennt und im Format verändert.
            </p>
            <p>
                <span class="caps">Beschreibstoff</span>: Notenpapier, 14 Systeme, Format: quer ca. 160–180 × 267 mm, Firmenzeichen: <br/>
                <img class="img-thumbnail" src="img/firm_no9_lin28.png" alt="firm" /> <br/>
                auf Bl. 1<sup>r</sup> unten links (Bl. 1); <br/>
                Notenpapier, 16 Systeme, Format: quer 175 × 270 mm, kein Firmenzeichen (Bl. 2).
            </p>
            <p>
                <span class="caps">Schreibstoff</span>: Bleistift.
            </p>
            <p>
                <span class="caps">Inhalt</span>: <br/>
                Bl. 1<sup>r</sup> System 2–4/6–9/10–12: Skizze zu Nr. I T. 1–2, [3–6]/[7–12]/[13–17] (<strong>SkI/1a</strong>). <br/>
                Bl. 1<sup>v</sup> System 14-12b (auf dem Kopf stehend): Skizze zu Nr. I T. 10, [11-12] (<strong>SkI/2</strong>). <br/>
                Bl. 1<sup>v</sup> System 12a-9a (auf dem Kopf stehend): Skizze zu Nr. I T. 10-11 (<strong>SkI/3</strong>). <br/>
                Bl. 1<sup>v</sup> System 9b-6 (auf dem Kopf stehend): Skizze zu Nr. I T. 10-11 (<strong>SkI/5</strong>). <br/>
                Bl. 1<sup>v</sup> System 7a-4 (auf dem Kopf stehend): Skizze zu Nr. I T. 10-11 (<strong>SkI/4</strong>). <br/>
                Bl. 2<sup>r</sup> System 6–10/12–15: Skizze zu Nr. I T. [18–22]/[23–24] (<strong>SkI/1b</strong>). <br/>
                Bl. 2<sup>v</sup> unbeschriftet.
            </p>
        </div>
        <div id="sourceNotA">
            <p class="small text-muted">
                [Die Beschreibung der weiteren Quellenbestandteile von <strong>A</strong> sowie der Quellen <strong>B</strong> bis <strong>G1</strong> einschließlich der darin gegebenenfalls enthaltenen Korrekturen erfolgt im Zusammenhang der vollständigen Edition der <i>Vier Lieder</i> op. 12 in AWG I/5.]
            </p>
        </div>
    </div>

    <!-- ### SOURCE EVALUATION ### -->
    <div class="para">
        <h4 id="evaluation">3. Quellenbewertung</h4>
        <p>
            Die Skizzen in <a ng-click="linkTo('sourceA')"><strong>A</strong></a> enthalten u. a. datierte Verlaufsskizzen zu allen vier Liedern: <strong>Aa:SkI/1</strong> (13. Januar 1915), <a ng-click="linkTo('sheetComingSoon')"><strong>Ab:SkII/1</strong></a> (10. April 1917), <a ng-click="linkTo('sheetComingSoon')"><strong>Ac:SkIII/1</strong></a> und <a ng-click="linkTo('sheetComingSoon')"><strong>Ac:SkIII/7</strong></a> (31. Januar 1915) sowie <a ng-click="linkTo('sheetComingSoon')"><strong>Ae:SkIV/1</strong></a> (31. März 1917). Eine im Konvolut von <a ng-click="linkTo('sourceA')"><strong>A</strong></a> ebenfalls enthaltene fragmentarische Skizze zu einer Vertonung von <a ng-click="linkTo('M198')">„<em>Schien mir’s als ich sah die Sonne</em>“ (M 198) für Chor und Orchester</a> (<a ng-click="linkTo('sourceNotA')"><strong>Ad</strong></a>) ist (möglicherweise nachträglich) auf „Winter 1913/14“ datiert und weist – abgesehen vom vertonten Text – keine Bezüge zu op. 12 Nr. III auf.
        </p>
        <p>
            Die Verlaufsskizzen aus <a ng-click="linkTo('sourceA')"><strong>A</strong></a> bilden die Grundlage für die Reinschrift-Fassungen von
            <a ng-click="linkTo('editionComingSoon')">Nr. I „<em>Der Tag ist vergangen</em>“ (Fassung 1)</a> in
            <a ng-click="linkTo('sourceNotA')"><strong>B</strong></a>
            sowie von Nr. II–IV in
            <a ng-click="linkTo('sourceNotA')"><strong>C</strong></a>. Die Reinschrift von <a ng-click="linkTo('editionComingSoon')">Nr. I „<em>Der Tag ist vergangen</em>“ (Fassung 2)</a> in
            <a ng-click="linkTo('sourceNotA')"><strong>C</strong></a> stellt eine gegenüber
            <a ng-click="linkTo('sourceNotA')"><strong>B</strong></a> veränderte, in
            <a ng-click="linkTo('sourceNotA')">Korrekturen in <strong>B</strong></a> und in <a href="#edition"><strong>Aa:SkI/2–5</strong></a> vorformulierte Fassung dar. Die Korrekturen von Nr. II–IV in
            <a ng-click="linkTo('sourceNotA')"><strong>C</strong></a> betreffen die Überarbeitung zur (Druck-)Fassung in
            <a ng-click="linkTo('sourceNotA')"><strong>F</strong></a> und
            <a ng-click="linkTo('sourceNotA')"><strong>G</strong></a>, der Zustand ante correcturam ist jedoch nicht immer eindeutig zu erkennen.
            <a ng-click="linkTo('editionComingSoon')">Nr. IV <em>Gleich und Gleich</em> (Fassung 1)</a> in
            <a ng-click="linkTo('sourceNotA')"><strong>D</strong></a> ist eine autographe Abschrift des Liedes aus
            <a ng-click="linkTo('sourceNotA')"><strong>C</strong></a> ante correcturam.
        </p>
        <p>
            <a ng-click="linkTo('editionComingSoon')">Nr. I „<em>Der Tag ist vergangen</em>“</a> aus
            <a ng-click="linkTo('sourceNotA')"><strong>C</strong></a> ist post correcturam Stichvorlage für
            <a ng-click="linkTo('sourceNotA')"><strong>E</strong></a>. Die Korrekturen in
            <a ng-click="linkTo('sourceNotA')"><strong>E<sup>1</sup></strong></a> betreffen die Überarbeitung von
            <a ng-click="linkTo('editionComingSoon')">Nr. I „<em>Der Tag ist vergangen</em>“ (Fassung 2)</a> zur späteren (Druck-)Fassung in
            <a ng-click="linkTo('sourceNotA')"><strong>F</strong></a> und
            <a ng-click="linkTo('sourceNotA')"><strong>G</strong></a>.
        </p>
        <p>
            <a ng-click="linkTo('sourceNotA')"><strong>F</strong></a> ist Stichvorlage für
            <a ng-click="linkTo('sourceNotA')"><strong>G</strong></a>.
        </p>
        <p>
            Hauptquelle für die Werkedition der Druckfassung der <i>Vier Lieder</i> op. 12 ist
            <a ng-click="linkTo('sourceNotA')"><strong>G</strong></a>.
        </p>
        <p>
            Hauptquelle für die Textedition von
            <a ng-click="linkTo('editionComingSoon')">Nr. I „<em>Der Tag ist vergangen</em>“ (Fassung 1)</a> ist
            <a ng-click="linkTo('sourceNotA')"><strong>B</strong></a>.
        </p>
        <p>
            Hauptquelle für die Textedition von
            <a ng-click="linkTo('editionComingSoon')">Nr. I „<em>Der Tag ist vergangen</em>“ (Fassung 2)</a> ist
            <a ng-click="linkTo('sourceNotA')"><strong>E</strong></a>.
        </p>
        <p>
            Hauptquelle für die Textedition von
            <a ng-click="linkTo('editionComingSoon')">Nr. IV <em>Gleich und Gleich</em> (Fassung 1)</a> ist
            <a ng-click="linkTo('sourceNotA')"><strong>D</strong></a>.
        </p>

    </div>

    <!-- ### TKA ### -->
    <div class="para">
        <h3 id="TKA">II. Textkritischer Kommentar</h3>
    </div>

    <div class="para">
        <p class="bold">
            <a>Aa:SkI/1</a>:
        </p>
        <p class="small text-muted">
            [Der Textkritische Kommentar zu <strong>Aa:Sk1/1</strong> erscheint im Zusammenhang der vollständigen Edition der <i>Vier Lieder</i> op. 12 in AWG I/5.]
        </p>
    </div>

    <div class="para">
        <table class="table table-hover" ng-repeat="(key, val) in tka">
            <caption class="bold">
                <a>{{key}}</a>:
            </caption>
            <thead>
                <tr>
                    <th style="width:10%">Takt</th>
                    <th style="width:10%">System</th>
                    <th style="width:23%">Ort im Takt</th>
                    <th style="width:auto">Kommentar</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in val">
                    <td>
                        {{row.measure}}
                    </td>
                    <td>
                        {{row.system}}
                    </td>
                    <td>
                        {{row.location}}
                    </td>
                    <td ng-bind-html="row.comment"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <!-- ### PLACEHOLDER FOR SHEET MUSIC TO COME ### -->
    <div class="para" id="sheetComingSoon">
        <p class="small text-muted">
            [Die edierten Notentexte von <strong>Aa:SkI/1</strong>, <strong>Ab:SkII/1</strong>, <strong>Ac:SkIII/1</strong> und <strong>Ac:SkIII/7</strong> sowie <strong>Ae:SkIV/1</strong> erscheinen im Zusammenhang der vollständigen Edition der <i>Vier Lieder</i> op. 12 in AWG I/5.]</p>
    </div>

    <hr>

    <!-- ### PLACEHOLDER FOR OTHER VERSIONS TO COME ### -->
    <div class="para small text-muted" id="editionComingSoon">
        <p>
            [Die Einleitungen, edierten Notentexte und Kritischen Berichte zu
        </p>
        <div>
                Werkedition der Druckfassung der <i>Vier Lieder</i> op. 12 <br/>
                Textedition von Nr. I „<i>Der Tag ist vergangen</i>“ (Fassung 1) <br/>
                Textedition von Nr. I „<i>Der Tag ist     vergangen</i>“ (Fassung 2) <br/>
                Textedition von Nr. IV <i>Gleich und Gleich</i> (Fassung 1) <br/>
        </div>
        <p>
            erscheinen im Zusammenhang der vollständigen Edition der <i>Vier Lieder</i> op. 12 in AWG I/5.]
        </p>
    </div>

    <hr>

    <!-- ### PLACEHOLDER FOR M 198 ### -->
    <div class="para small text-muted" id="M198">
        <p>
            [Das Fragment „<em>Schien mir’s als ich sah die Sonne</em>“ (M 198) für Chor und Orchester wird in AWG II/3 ediert.
        </p>
    </div>
</div>
