<!-- ### CONTENT SEARCH ### -->
<div class="col-xs-12 maincontent text-left">

<!-- <div class="col-sm-12" style="border:1px solid blue">
    <p>
        [ => TODO: <em>paging, back to previous object, focus on box</em>]
    </p>
</div> -->

<!-- ### INPUT FORM IN SIDENAV ### -->
<awg-search-sidenav></awg-search-sidenav>

<!-- ### SINGLE OBJECT BOX ### -->
<div class="col-sm-6 col-md-7 col-lg-8 objbox" data-ng-show="isObjectSelected">

    <!-- ### WHEN LOADING ### -->
    <h3 data-ng-hide="isObjectLoaded">Load object...</h3>

    <!-- ### WHEN RESULTS LOADED ### -->
    <div data-ng-show="isObjectLoaded">

        <!-- ### HEADER ### -->
        <h3>
            <img data-ng-src="{{objData.header.icon}}" alt="icon" />
            <span dir-bind-html-compile="objData.header.title"></span>
            <small>({{objData.header.type}})</small>
        </h3>
        <small>[Last modified: {{objData.header.lastmod}} (UTC)]</small><br />
        <!-- <small><a data-ng-click="showObject(id_back)">Zurück zum vorherigen Objekt</a></small> -->


        <!-- ### DISPLAY AS TABLE ON SMALL AND LARGER DEVICES ### -->
        <table class="table table-condensed table-hover borderless hidden-xs" style="padding:10px;">
            <tbody>
                <!-- ### SHOW ONLY NOT EMPTY VALUES ### -->
                <tr data-ng-if="prop.value[0]" data-ng-repeat="prop in objData.props track by prop.pid">
                    <td class="bold">
                        {{prop.label}}
                    </td>
                    <!-- OUTPUT VALUES -->
                    <td colspan="2" dir-bind-html-compile="prop.value"></td>
                </tr>
                <tr data-ng-if="objData.incoming !== ''">
                    <td colspan="3" class="bold">
                        <p>Objekte, die auf diesen Eintrag verweisen: {{objData.incoming.length}} </p>
                    </td>
                </tr>
                <tr ng-if="objData.incoming !== ''" data-ng-repeat="ins in objData.incoming">
                    <td colspan="3" data-ng-click="showObject(ins.id)">
                        <img data-ng-src="{{ins.icon}}" alt="icon" /> [{{ins.id}}] {{ins.value}}
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- ### STACK TO DEFINITION LIST ON EXTRA SMALL DEVICES ### -->
        <dl class="dl-horizontal dl-hover visible-xs">
            <dt data-ng-if="prop.value[0]" data-ng-repeat-start="prop in objData.props track by prop.pid">
                {{prop.label}}
            </dt>
                <dd data-ng-repeat-end dir-bind-html-compile="prop.value"></dd>
            <dt data-ng-if="objData.incoming !== ''">
                Objekte, die auf diesen Eintrag verweisen: {{objData.incoming.length}}
            </dt>
                <dd data-ng-click="showObject(ins.ext_res_id.id)" data-ng-repeat="ins in objData.incoming">
                    <img data-ng-src="{{ins.resinfo.restype_iconsrc}}" alt="icon" /> [{{ins.ext_res_id.id}}] {{ins.value}}
                </dd>
        </dl>
    </div>

</div> <!-- END SINGLE OBJECT BOX -->
</div>
