@import '/src/assets/themes/scss/shared';

.awg-language-switcher {
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    text-align: end;

    button {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        font: inherit;
        color: inherit;
        cursor: pointer;

        text-decoration: none;

        &.active,
        &.active:hover {
            cursor: default;
            color: inherit;
        }

        &:not(.active) {
            color: $link-color;
        }

        &:hover {
            border-bottom: none !important;
        }

        &:focus-visible {
            outline: 1px solid $link-color;
            outline-offset: 2px;
        }
    }
}
