@import '/src/assets/themes/scss/shared';

.awg-language-switcher {
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    text-align: end;

    a {
        cursor: pointer;
        text-decoration: none;
        color: inherit;
        // disable the active link style
        &.active,
        &.active:hover {
            cursor: default;
            color: inherit;
        }
        &:not(.active) {
            color: $link-color;
        }
        &:hover {
            border-bottom: none !important;
        }
    }
}
