<!-- content: search -->
<!-- TODO: rm or change to former styling
<div class="col-xs-12 maincontent text-left">
-->
<div class="col-sm-9 col-md-10 maincontent text-left">

    <!-- sidenav
       <awg-sidenav template-url="search"></awg-sidenav>
    -->

    <!-- heading -->
    <awg-heading [title]="searchTitle" [id]="searchId"></awg-heading>

    <div class="help-block">
        BETA: Suche momentan noch mit eingeschränkter Funktionalität
    </div>

    <router-outlet></router-outlet>

</div>
