<ngb-accordion
    #sparqlAcc="ngbAccordion"
    [activeIds]="togglePanel()"
    (panelChange)="preventPanelCollapseOnFullscreen($event)">
    <ngb-panel id="awg-graph-visualizer-sparql-query">
        <ng-template ngbPanelHeader>
            <div class="accordion-button awg-accordion-button-custom-header justify-content-between">
                <button ngbPanelToggle class="p-0 btn btn-link text-start">SPARQL</button>

                <!-- Example Query Handle -->
                <div class="p-0 btn-group" *ngIf="isExampleQueriesEnabled()" style="padding: -3rem">
                    <button type="button" class="btn btn-sm btn-outline-info" disabled aria-disabled="true">
                        Beispielabfragen
                    </button>
                    <div
                        class="btn-group"
                        ngbDropdown
                        container="body"
                        placement="bottom-right"
                        role="group"
                        aria-label="Button group with nested dropdown for sample queries">
                        <button class="btn btn-sm btn-info" ngbDropdownToggle></button>
                        <div ngbDropdownMenu>
                            <h6 class="dropdown-header">Graph-Ansicht (CONSTRUCT)</h6>
                            <ng-container *ngFor="let q of queryList">
                                <ng-container *ngIf="q.queryType === 'construct'">
                                    <a ngbDropdownItem [class.disabled]="q === query" (click)="onQueryListChange(q)">
                                        <span>{{ q.queryLabel }}</span>
                                    </a>
                                </ng-container>
                            </ng-container>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Tabellen-Ansicht (SELECT)</h6>
                            <ng-container *ngFor="let q of queryList">
                                <ng-container *ngIf="q.queryType === 'select'">
                                    <a ngbDropdownItem [class.disabled]="q === query" (click)="onQueryListChange(q)">
                                        <span>{{ q.queryLabel }}</span>
                                    </a>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template ngbPanelContent>
            <!-- CodeMirror editor instance -->
            <ngx-codemirror
                [(ngModel)]="query.queryString"
                (ngModelChange)="onEditorInputChange($event)"
                [options]="cmSparqlConfig">
            </ngx-codemirror>

            <!-- Handle buttons -->
            <div fxLayout="row" class="mt-2 awg-graph-visualizer-sparql-query-handle-buttons">
                <button class="btn btn-info" (click)="performQuery()">Query</button>
                <button class="btn btn-outline-info" (click)="resetQuery(query)">Reset</button>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
