@if (editionData(); as editionData) {
    @let content = editionData.section?.content;
    @let opusList = content?.complexTypes?.opus;
    @let mnrList = content?.complexTypes?.mnr;

    @if (UTILS.isEmptyArray(opusList) && UTILS.isEmptyArray(mnrList)) {
        <awg-edition-section-detail-placeholder
            [selectedSeries]="editionData.series"
            [selectedSection]="editionData.section" />
    } @else {
        <div class="awg-edition-section-detail">
            <awg-edition-section-detail-disclaimer />

            @if (!content?.intro.disabled) {
                <div class="awg-edition-section-detail-intro para p-3 shadow border rounded-3">
                    <div class="row">
                        <div class="col-12 col-xl-8">
                            <awg-edition-section-detail-intro-card
                                [selectedSeries]="editionData.series"
                                [selectedSection]="editionData.section" />
                        </div>
                    </div>
                </div>
            }
            @if (!UTILS.isEmptyArray(opusList)) {
                <div class="awg-edition-section-detail-opus para p-3 shadow border rounded-3">
                    <h5>nach Opusnummer:</h5>
                    <awg-edition-section-detail-complex-card [complexes]="opusList" />
                </div>
            }
            @if (!UTILS.isEmptyArray(mnrList)) {
                <div class="awg-edition-section-detail-mnr p-3 shadow border rounded-3">
                    <h5>nach Moldenhauer-Nummer:</h5>
                    <awg-edition-section-detail-complex-card [complexes]="mnrList" />
                </div>
            }
        </div>
    }
}
