/************************************************
 *
 *               CREDITS
 *
 * This code is inspired, adapted or taken from:
 *
 * ARACHNE – Objektdatenbank des Deutschen Archäologischen Instituts (DAI)
 * https://arachne.dainst.org/entity/1121229**]
 * 20.11.2017
 *
 *
 *
 ************************************************/

ul.awg-linked-obj-list {
    padding-left: 0;
}
ul.awg-linked-obj-list li:hover {
    background-color: #e7e7e7;
}
ul.awg-linked-obj-list li a {
    width: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
ul.awg-linked-obj-list li hr {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

/* link objects */
.awg-linked-obj-link {
    cursor: pointer;
    color: #333 !important;
}
.awg-linked-obj-link:hover {
    border-bottom: none !important;
}
