/************************************************
 *
 *               CREDITS
 *
 * This code is inspired, adapted or taken from:
 *
 * ARACHNE – Objektdatenbank des Deutschen Archäologischen Instituts (DAI)
 * https://arachne.dainst.org/entity/1121229**]
 * 20.11.2017
 *
 *
 *
 ************************************************/

$textlinkColor: #333;
$backgroundColor: #e7e7e7;

/* link objects */
ul.awg-linked-obj-list {
    padding-left: 0;
    li {
        &:hover {
            background-color: $backgroundColor;
        }
        a {
            width: inherit;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
        }
        hr {
            margin-top: 0.75rem;
            margin-bottom: 0.75rem;
        }
    }
}
.awg-linked-obj-link {
    cursor: pointer;
    color: $textlinkColor !important;
    &:hover {
        border-bottom: none !important;
    }
}
