<!--
/************************************************
*
*               CREDITS
*
* This code is inspired, adapted or taken from:
*
* ARACHNE – Objektdatenbank des Deutschen Archäologischen Instituts (DAI)
* https://arachne.dainst.org/entity/1121229**]
* 20.11.2017
*
*
*
************************************************/ -->
<!-- resourceDetailData content: linked objects -->
<div class="awg-linked-obj">
    <h5>
        <!-- TODO: link to linked objects overview
        <a (click)="navigateToSearchResults()">
        -->
        Verknüpfte Objekte (<span id="awg-incoming-size" *ngIf="incomingGroups">{{ totalNumber }}</span
        >)
        <!--
        </a>
        -->
    </h5>

    <ngb-accordion [closeOthers]="true">
        <ngb-panel
            id="incoming-linkgroup-{{ i }}"
            class="awg-linked-obj-incoming-linkgroup"
            *ngFor="let restypeGroup of incomingGroups; let i = index">
            <ng-template ngbPanelTitle>
                <span class="awg-linked-obj-title-group single-line">
                    <span class="badge badge-info mr-2">{{ restypeGroup?.links?.length }}</span>
                    <span class="awg-linked-obj-title">{{ restypeGroup?.restypeLabel }}</span>
                </span>
            </ng-template>
            <ng-template ngbPanelContent>
                <ul class="awg-linked-obj-list nobullets mb-0">
                    <li *ngFor="let link of restypeGroup.links; last as isLast">
                        <a class="awg-linked-obj-link" (click)="navigateToResource(link?.id)">
                            <img [src]="link?.restype?.icon" alt="icon" />
                            &nbsp;[<span class="awg-linked-obj-link-id">{{ link?.id }}</span
                            >]&nbsp;
                            <span class="awg-linked-obj-link-value">{{ link?.value }}</span>
                        </a>
                        <hr *ngIf="!isLast" />
                    </li>
                </ul>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>
<!-- end DIV linkedObj -->
