<!--
/************************************************
*
*               CREDITS
*
* This code is inspired, adapted or taken from:
*
* ARACHNE – Objektdatenbank des Deutschen Archäologischen Instituts (DAI)
* https://arachne.dainst.org/entity/1121229**]
* 20.11.2017
*
*
*
************************************************/ -->
<!-- resourceDetailData content: linked objects -->
<div class="awg-linked-obj">
    <h5>
        Verknüpfte Objekte (
        @if (incomingGroups) {
            <span id="awg-incoming-size">{{ totalNumber }}</span>
        }
        )
    </h5>

    <div ngbAccordion [closeOthers]="true">
        @for (restypeGroup of incomingGroups; track restypeGroup; let i = $index) {
            <div ngbAccordionItem="awg-linked-obj-incoming-{{ i }}" class="awg-linked-obj-incoming-linkgroup">
                <div ngbAccordionHeader>
                    <button ngbAccordionButton>
                        <span class="awg-linked-obj-title-group single-line">
                            <span class="badge bg-info me-2">{{ restypeGroup?.links?.length }}</span>
                            <span class="awg-linked-obj-title">{{ restypeGroup?.restypeLabel }}</span>
                        </span>
                    </button>
                </div>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>
                            <ul class="awg-linked-obj-list nobullets mb-0">
                                @for (link of restypeGroup.links; track link; let isLast = $last) {
                                    <li>
                                        <a class="awg-linked-obj-link" (click)="navigateToResource(link?.id)">
                                            <img [src]="link?.restype?.icon" alt="icon" />
                                            &nbsp;[<span class="awg-linked-obj-link-id">{{ link?.id }}</span
                                            >]&nbsp;
                                            <span class="awg-linked-obj-link-value">{{ link?.value }}</span>
                                        </a>
                                        @if (!isLast) {
                                            <hr />
                                        }
                                    </li>
                                }
                            </ul>
                        </ng-template>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- end DIV linkedObj -->
</div>
