<footer class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-2">
            <a href="http://www.unibas.ch" target="_blank">
                <img id="unilogo" src="img/uni.svg" alt="Logo Uni" />
            </a>
        </div>
        <div class="col-sm-8 text-center">
            <p>Prototyp AWG-Online-Edition (Version {{version}} &#9671; {{version_date_rel}})</p>
            <p>&copy; {{year_start}}–{{year_recent}} Anton Webern Gesamtausgabe</p>
            <p><small><a href="#/contact#masthead" id="imp">Impressum</a></small></p>
        </div>
        <div class="col-sm-2">
            <a href="http://www.snf.ch" target="_blank">
                <img id="snf" src="img/snf.jpg" alt="snf" />
            </a>
        </div>
    </div>
</footer>
