<!-- resource detail box -->
<div class="col-md-9 awg-resource-detail-tabs" *ngIf="resourceData; else error">

    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active awg-resource-detail-long-tab"><a data-toggle="tab" href="#html">{{ tabTitle?.html }}</a></li>
        <li class="dropdown awg-resource-detail-short-tab">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                {{ '{' }} JSON {{ '}' }} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a data-toggle="tab" href="#converted">{{ tabTitle?.converted }}</a></li>
                <li><a data-toggle="tab" href="#raw">{{ tabTitle?.raw }}</a></li>
            </ul>
        </li>
    </ul>

    <div class="tab-content">
        <!-- resourceDetailData header -->
        <awg-resource-detail-header *ngIf="resourceData?.html?.header"
                                         [header]="resourceData?.html?.header"
                                         [resourceUrl]="resourceUrl"
                                         (resourceRequest)="navigateToResource($event)">
        </awg-resource-detail-header>

        <!-- html visualisation -->
        <awg-resource-detail-html id="html" class="tab-pane fade in active"
            *ngIf="resourceData?.html"
            [resourceDetailData]="resourceData?.html"
            (resourceRequest)="navigateToResource($event)">
        </awg-resource-detail-html>

        <!-- converted json visualisation -->
        <awg-resource-detail-json-converted id="converted" class="tab-pane fade"
            *ngIf="resourceData?.jsonConverted"
            [resourceJsonConvertedData]="resourceData?.jsonConverted">
        </awg-resource-detail-json-converted>

        <!-- raw json visualisation -->
        <awg-resource-detail-json-raw id="raw" class="tab-pane fade"
            *ngIf="resourceData?.jsonRaw"
            [resourceJsonRawData]="resourceData?.jsonRaw">
        </awg-resource-detail-json-raw>

    </div>
</div>
<ng-template #error>
    <div class="errorMessage" *ngIf="errorMessage">
        <p>Die Anfrage "{{ errorMessage?.route }}" ist fehlgeschlagen.</p>
        <p>Fehlermeldung: "{{ errorMessage?.statusText }}".</p>
        <p>Möglicherweise gab es ein Problem mit der Internetverbindung oder dem verwendeten Suchbegriff.</p>
    </div>
</ng-template>
