<!-- content: structure -->

<!-- heading -->
<awg-heading [title]="structureViewTitle" [id]="structureViewId"></awg-heading>

<!-- description -->
<p>
    Das Modell zeigt die für eine AWG-Online-Edition projektierte Datenstruktur, die zur Zeit intern in der
    Webern-SALSAH-Datenbank implementiert wird.
</p>

<p>
    Die erforderlichen Objektklassen und Eigenschaften werden von SALSAH intern als RDF (<a
        href="https://www.w3.org/RDF/"
        >Resource Description Framework</a
    >) Triple verwaltet. Sie sind in der Grafik als Ellipsen symbolisiert, deren Verknüpfungen und Verweise
    untereinander als Pfeile dargestellt.
</p>

<p>
    Komplexere Objektstrukturen, wie die aus mehreren Unter- oder Einzelobjekten zu modellierenden Notentexte oder
    Kritischen Berichte, sind als Gruppen zusammengefasst. Zudem sind die Schnittstellen zum dokumentarischen Bereich
    der Webern-SALSAH-Datenbank angedeutet.
</p>

<!-- svg graphic of structure -->
<svg
    version="1.1"
    xmlns="https://www.w3.org/2000/svg"
    xmlns:xlink="https://www.w3.org/1999/xlink"
    viewBox="0 0 1980 1980"
    id="structure">
    <image xlink:href="assets/img/WebernGraph.svg" src="assets/img/WebernGraph.png" width="1980" height="1980" />
</svg>
