<p class="awg-license">
    <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/"
        ><img
            alt="Creative Commons Attribution-ShareAlike BY-SA 4.0 International License"
            style="border-width: 0"
            src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png"
    /></a>
    Die Online-Edition der AWG ist lizenziert unter einer
    <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/"
        >Creative Commons Namensnennung - Weitergabe unter gleichen Bedingungen 4.0 International Lizenz</a
    >.
</p>
