<div class="col-sm-3 col-md-2 sidenav sidenav-left text-center">
    <div class="well well-lg">
        <p class="bold">
            AWG I/5 <i>Vier Lieder</i> op. 12 <a routerLink="/edition?id=Aa:SkI/2">Skizzen</a>
            <br>
        </p>
        <p>&#9671;</p>
        <p>
            [Beispieledition ausgewählter Skizzen zu op. 12 Nr. 1]
        </p>
        <p>&#9671;</p>
        <p>
            Ediert von <span [innerHTML]="meta?.edition.editors"></span>
            <br>
            Versionsdatum: <span class="version">{{ meta?.edition.lastModified }}</span>
        </p>
    </div>
</div>

