<!-- sideinfo: edition -->
<div class="card">
    <div class="card-body bg-light">
        <p>
            {{ editionInfoHeader?.description }}
        </p>
        <p>&#9671;</p>
        <h5 id="awg-edition-info-header">
            {{ editionInfoHeader?.section }}
            <br />
            <i>{{ editionInfoHeader?.title }}</i
            >&nbsp;{{ editionInfoHeader?.catalogueType }}&nbsp;{{ editionInfoHeader?.catalogueNumber }}
            <br />
            <a [routerLink]="[editionWork.rootRoute, editionWork.introRoute]">{{ editionInfoHeader?.part }}</a>
        </h5>
        <p>&#9671;</p>
        <p>
            Ediert von
            <span class="awg-edition-info-editors"
                ><a href="{{ (editionMetaData?.editors)[0].contactUrl }}" target="_blank" rel="noopener noreferrer">{{
                    (editionMetaData?.editors)[0].name
                }}</a></span
            >
            <br />
            Versionsdatum: <span id="awg-edition-info-lastmodified">{{ editionMetaData?.lastModified }}</span>
        </p>
    </div>
</div>
