<!-- sideinfo: edition -->
<div class="card">
    <div class="card-body bg-light">
        <h6 class="awg-edition-info-header">
            <a [routerLink]="[editionRouteConstants.EDITION.route, editionRouteConstants.ROWTABLES.route]">{{
                editionRouteConstants.ROWTABLES.full
            }}</a>
        </h6>

        <p>&#9671;</p>
        <h6 class="awg-edition-info-header">
            <span class="awg-breadcrumb"
                >{{ editionRouteConstants.EDITION.short }} {{ EDITION_COMPLEX_OP12.series.short }}/{{
                    EDITION_COMPLEX_OP12.section.short
                }}</span
            >
            <br />
            <span class="awg-edition-info-header-title" [innerHTML]="EDITION_COMPLEX_OP12.titleStatement.title"></span
            >&nbsp;<span class="awg-edition-info-header-catalogue">{{ EDITION_COMPLEX_OP12.complexId.short }}</span>
            <br />
            (<a [routerLink]="[EDITION_COMPLEX_OP12.baseRoute, editionRouteConstants.EDITION_SHEETS.route]">{{
                EDITION_COMPLEX_OP12.type.full
            }}</a
            >)
        </h6>
        <p>&#9671;</p>
        <h6 class="awg-edition-info-header">
            <span class="awg-breadcrumb"
                >{{ editionRouteConstants.EDITION.short }} {{ EDITION_COMPLEX_OP25.series.short }}/{{
                    EDITION_COMPLEX_OP25.section.short
                }}</span
            >
            <br />
            <span class="awg-edition-info-header-title" [innerHTML]="EDITION_COMPLEX_OP25.titleStatement.title"></span
            >&nbsp;<span class="awg-edition-info-header-catalogue">{{ EDITION_COMPLEX_OP25.complexId.short }}</span>
            <br />
            (<a [routerLink]="[EDITION_COMPLEX_OP25.baseRoute, editionRouteConstants.EDITION_SHEETS.route]">{{
                EDITION_COMPLEX_OP25.type.full
            }}</a>
            &
            <a [routerLink]="[EDITION_COMPLEX_OP25.baseRoute, editionRouteConstants.EDITION_GRAPH.route]">{{
                editionRouteConstants.EDITION_GRAPH.short
            }}</a
            >)
        </h6>
        <p>&#9671;</p>
        <h6 class="awg-edition-info-header">
            <span class="awg-breadcrumb"
                >{{ editionRouteConstants.EDITION.short }} {{ EDITION_COMPLEX_M34.series.short }}/{{
                    EDITION_COMPLEX_M34.section.short
                }}</span
            >
            <br />
            <span class="awg-edition-info-header-title" [innerHTML]="EDITION_COMPLEX_M34.titleStatement.title"></span
            >&nbsp;<span class="awg-edition-info-header-catalogue">{{ EDITION_COMPLEX_M34.complexId.short }}</span>
            <br />
            (<a [routerLink]="[EDITION_COMPLEX_M34.baseRoute, editionRouteConstants.EDITION_SHEETS.route]">{{
                EDITION_COMPLEX_M34.type.full
            }}</a
            >)
        </h6>
        <p>&#9671;</p>
    </div>
</div>
