.custom-header {
    &::after {
        content: none;
    }

    &.accordion-button {
        padding-top: 0.525rem;
        padding-bottom: 0.525rem;

        > #awg-graph-visualizer-sparql-query-toggle {
            text-decoration: none;
        }
    }
}
