<!-- search result detail box -->
<div class="col-sm-6 col-md-7 col-lg-8 objbox" id="{{ resourceDetail?.header.objID }}">

    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a data-toggle="tab" href="#detail">Detail</a></li>
        <li><a data-toggle="tab" href="#converted">JSON (converted)</a></li>
        <li><a data-toggle="tab" href="#raw">JSON (raw)</a></li>
    </ul>

    <div class="tab-content">

        <awg-search-result-detail id="detail" class="tab-pane fade in active"
            *ngIf="resourceDetail"
            [resourceDetail]="resourceDetail"
            (goBackRequest)="goBack($event)"
            (showDetailRequest)="showDetail($event)">
        </awg-search-result-detail>

        <awg-search-result-detail-raw-converted id="converted" class="tab-pane fade"
            *ngIf="resourceRawConvertedData"
            [resourceRawConvertedData]="resourceRawConvertedData"
            [request]="request">
        </awg-search-result-detail-raw-converted>

        <awg-search-result-detail-raw id="raw" class="tab-pane fade"
            *ngIf="resourceRawData"
            [resourceRawData]="resourceRawData"
            [request]="request">
        </awg-search-result-detail-raw>

    </div>

</div>
