<div >
    <table class="table table-condensed">
        <thead>
        <tr>
            <th style="width:7%">Takt</th>
            <th style="width:10%">System</th>
            <th style="width:15%; white-space: nowrap;">Ort im Takt</th>
            <th style="width:auto">Kommentar</th>
        </tr>
        </thead>
        <tr *ngFor="let textcritic of textcritics">
            <td>{{ textcritic.measure }}</td>
            <td>{{ textcritic.system }}</td>
            <td [innerHTML]="textcritic.location"></td>
            <td><span [compile-html]="textcritic.comment" [compile-html-ref]="this"></span></td>
        </tr>
    </table>
</div>
