.awg-source-description-contents {
    margin-bottom: 1rem;
}

.awg-source-description-contents-toggle {
    margin-left: 1em;
    cursor: pointer;
}
.awg-source-description-contents-toggle-text {
    text-decoration: underline;
}
