<!-- description -->
<div class="para warn">
    <p>Prototyp einer AWG-Online-Edition (Weiterentwicklung einer <a href="http://www.anton-webern.ch/assets/editions/BeispieleditionAWG_3_Skizzen_op12_Online_klein.pdf">prospektiven Simulation [PDF]</a> vom 31. März 2015):
    </p>
    <p>
        Die Bestandteile der AWG-Online-Editionen werden mithilfe der <a href="http://www.salsah.org" target="_blank">virtuellen Forschungsumgebung SALSAH</a> des <a href="http://www.dhlab.unibas.ch/" target="_blank">Digital Humanities Lab</a> der Universität Basel organisiert und aufbereitet. SALSAH ermöglicht es, digitalisierte Quellenbestände und andere digitale ‚Objekte‘ mit Informationen (Annotationen) zu versehen und untereinander zu verknüpfen. Dabei kann auch räumlich voneinander getrennt zeitgleich mit der Datenbank gearbeitet bzw. deren Inhalte erweitert werden.
    </p>
    <p>
        Der Protoyp simuliert bereits in weiten Teilen eine Datenabfrage über die Programmierschnittstelle (API) von SALSAH. Die für reale Abfragen im Bereich Online-Edition notwendige <a [routerLink]="['/home', 'structure']">Datenstruktur</a> wird zur Zeit in der Webern-SALSAH-Datenbank implementiert.
    </p>
</div>
