<div id="page">
    <div class="content">

        <div class="left">
            <awg-page-sub-menu
                *ngIf="selectedMenu"
                [selectedMenu]="selectedMenu">
            </awg-page-sub-menu>
        </div>

        <div class="center">
            <awg-page-menu
                *ngIf="menu && selectedMenu"
                [menu]="menu">
            </awg-page-menu>
            <awg-page-main-text></awg-page-main-text>
        </div>

        <div class="right">
            <awg-page-search></awg-page-search>
            <awg-page-right-text></awg-page-right-text>
        </div>

    </div>
</div>
