<h6 class="card-title">
    {{ facetGroupLabel() }}:
    @if (facetGroupLabel() === 'Werkeditionen') {
        <awg-edition-disclaimer-workeditions />
    } @else if (!svgSheets().length) {
        <span>---</span>
    }
</h6>
@for (svgSheet of svgSheets(); track svgSheet.id) {
    @let isActive = isSelectedSvgSheet(svgSheet.id);

    @if (svgSheet.content.length === 1) {
        @let sheetIds = { complexId: '', sheetId: svgSheet.id };

        <a
            class="btn btn-default w-100 awg-edition-sheet-facet-link card-text text-start"
            [class.active]="isActive"
            [class.text-muted]="!isActive"
            (click)="selectSvgSheet(sheetIds)"
            (keyup.enter)="selectSvgSheet(sheetIds)"
            role="link"
            tabindex="0">
            {{ svgSheet.label }}
        </a>
    } @else if (svgSheet.content.length > 1) {
        @let dropdownId = 'awg-edition-sheet-facet-dropdown-' + svgSheet.id;

        <div class="awg-edition-sheet-facet-link-dropdown" ngbDropdown>
            <a
                class="btn card-text awg-edition-sheet-facet-link-dropdown-toggle"
                [class.active]="isActive"
                [class.text-muted]="!isActive"
                [id]="dropdownId"
                ngbDropdownToggle>
                <span
                    >{{ svgSheet.label }} <span class="badge bg-secondary">{{ svgSheet.content.length }}</span></span
                >
            </a>
            <div ngbDropdownMenu [attr.aria-labelledby]="dropdownId">
                @for (svgSheetContent of svgSheet.content; track svgSheetContent.svg; let i = $index) {
                    @let sheetWithPartialIds = { complexId: '', sheetId: svgSheet.id + svgSheetContent.partial };
                    @let sheetPartialIndex = i + 1 + '/' + svgSheet.content.length;
                    @let isPartialActive = isSelectedSvgSheet(svgSheet.id, svgSheetContent.partial);

                    <div>
                        <a
                            class="dropdown-item"
                            [class.active]="isPartialActive"
                            [class.text-muted]="!isPartialActive"
                            (click)="selectSvgSheet(sheetWithPartialIds)"
                            (keyup.enter)="selectSvgSheet(sheetWithPartialIds)"
                            role="link"
                            tabindex="0"
                            >{{ svgSheet.label }} <span class="text-muted">[{{ sheetPartialIndex }}]</span></a
                        >
                    </div>
                }
            </div>
        </div>
    }
}
