<div ngbAccordion>
    <div ngbAccordionItem="awg-edition-folios-view" [collapsed]="false">
        <div ngbAccordionHeader>
            <button ngbAccordionButton>Konvolutübersicht</button>
        </div>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                    @if (selectedConvolute; as convolute) {
                        @let fragmentId = 'source_' + convolute.convoluteId;
                        @let label = convolute.convoluteLabel;

                        <!-- convolute label -->
                        <div class="awg-edition-folios-panel-label">
                            <p>
                                <a [routerLink]="['../report']" [fragment]="fragmentId">{{ label }}</a>
                            </p>
                        </div>

                        <!-- viewer for convolute folios -->
                        @if (selectedSvgSheet; as sheet) {
                            <awg-edition-folios-viewer [selectedConvolute]="convolute" [selectedSvgSheet]="sheet" />
                        }

                        <!-- convolute legend -->
                        <div class="awg-edition-folios-panel-legend col-12">
                            Legende:&nbsp;
                            @for (legend of folioLegends; track legend.colorClass) {
                                <span [class]="legend.colorClass">
                                    <fa-icon [icon]="faSquare" />
                                    {{ legend.label }}
                                </span>
                            }
                        </div>
                    }
                </ng-template>
            </div>
        </div>
    </div>
</div>
