<!-- content: search panel -->

<awg-search-form
    [(searchValue)]="searchValue"
    (searchRequest)="onSearch($event)">
</awg-search-form>


<ng-container *ngIf="searchValue">
    <awg-search-result-list *ngIf="!isLoadingData; else loading"
                            [searchUrl]="searchUrl"
                            [(nRows)]="nRows"
                            [(startAt)]="startAt"
                            (pageChangeRequest)="onPageChange($event)"
                            (rowChangeRequest)="onRowChange($event)">
    </awg-search-result-list>

    <ng-template #loading>
        <ng-container *ngIf="!errorMessage; else error">
            <!-- loading spinner -->
            <awg-twelve-tone-spinner></awg-twelve-tone-spinner>
        </ng-container>
    </ng-template>
</ng-container>


<ng-template #error>
    <div class="errorMessage" *ngIf="errorMessage">
        <p>Die Anfrage "{{ errorMessage?.route }}" ist fehlgeschlagen.</p>
        <p>Fehlermeldung: "{{ errorMessage?.statusText || errorMessage }}".</p>
        <p>Möglicherweise gab es ein Problem mit der Internetverbindung oder dem verwendeten Suchbegriff.</p>
    </div>
</ng-template>
