<!-- sideinfo: search -->
<div class="card">
    <div class="card-body bg-light">
        <h5 id="awg-search-info-header" *ngIf="searchInfoHeader$ | async as searchInfoHeader">
            {{ searchInfoHeader }}
        </h5>
        <p>&#9671;</p>
        <p>
            <strong>Suchanfrage: </strong
            ><span *ngIf="searchInfoData$ | async as searchInfoData">{{ searchInfoData?.query | json }}</span>
        </p>
        <p>&#9671;</p>
        <p>
            <strong>Suchergebnisse: </strong
            ><span *ngIf="searchInfoData$ | async as searchInfoData">{{ searchInfoData?.nhits }}</span>
        </p>
    </div>
</div>
