<mat-card class="search-overview" *ngFor="let card of searchOverviewCards; let i = index">

    <mat-card-title align="center">{{ card?.title }}</mat-card-title>

    <img mat-card-image [src]="card?.image" alt="Card image">

    <mat-card-actions align="end">
        <button mat-button
                [routerLink]="['/search', card?.linkTo]"
                routerLinkActive="active">
            <mat-icon>{{ card?.icon }}</mat-icon> Start
        </button>
    </mat-card-actions>

</mat-card>

