<div class="col-12 col-xl-9 awg-page-not-found">
    <h2 id="awg-page-not-found-title">{{ pageNotFoundTitle }}</h2>

    <h5 id="awg-page-not-found-subtitle">{{ pageNotFoundSubTitle }}</h5>

    <div class="my-4">
        <img [src]="pageNotFoundImgPath" width="100%" />
    </div>

    <h5 id="awg-page-not-found-contact">
        Kontaktieren sie uns gerne unter:
        <a [href]="awgContactUrl" target="_blank" rel="noopener noreferrer">anton-webern.ch</a>
    </h5>

    <h5 id="awg-page-not-found-back" class="mt-4">
        Zurück zur Startseite: <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
    </h5>
</div>
