<div class="col-12 col-xl-9 awg-page-not-found">
    <h2 id="awg-page-not-found-title">{{ pageNotFoundTitle }}</h2>

    <h5 id="awg-page-not-found-subtitle">{{ pageNotFoundSubTitle }}</h5>

    <div class="awg-page-not-found-body text-center">
        <div class="awg-page-not-found-image my-4">
            <img [src]="pageNotFoundImgPath" width="70%" />
        </div>

        <p id="awg-page-not-found-contact">
            Kontaktieren sie uns gerne unter:
            <a [href]="awgContactUrl">anton-webern.ch</a>
        </p>

        <p id="awg-page-not-found-back" class="mt-4">
            Zurück zur Startseite: <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </p>
    </div>
</div>
