<h6 class="card-title">{{ navItemLabel }}: <span *ngIf="!utils.isNotEmptyArray(svgSheets)">---</span></h6>
<ng-container *ngFor="let svgSheet of svgSheets">
    <a
        *ngIf="svgSheet.content.length === 1"
        class="btn btn-default w-100 awg-svg-sheet-nav-link card-text text-start"
        [ngClass]="{ active: isSelectedSvgSheet(svgSheet.id), 'text-muted': !isSelectedSvgSheet(svgSheet.id) }"
        (click)="selectSvgSheet(svgSheet.id)">
        {{ svgSheet.label }}
    </a>
    <div *ngIf="svgSheet.content.length > 1" class="awg-svg-sheet-nav-link-dropdown" ngbDropdown>
        <a
            class="btn card-text"
            id="dropDownSheetNav"
            ngbDropdownToggle
            [ngClass]="{ active: isSelectedSvgSheet(svgSheet.id), 'text-muted': !isSelectedSvgSheet(svgSheet.id) }">
            <span>{{ svgSheet.label }}</span>
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdownSheetNav">
            <div *ngFor="let svgSheetContent of svgSheet.content">
                <a
                    class="dropdown-item"
                    [ngClass]="{
                        active: isSelectedSvgSheet(svgSheet.id, svgSheetContent.partial),
                        'text-muted': !isSelectedSvgSheet(svgSheet.id, svgSheetContent.partial)
                    }"
                    (click)="selectSvgSheet(svgSheet.id + svgSheetContent.partial)"
                    >{{ svgSheet.label + svgSheetContent.partial }}</a
                >
            </div>
        </div>
    </div>
</ng-container>
