@import 'src/assets/themes/scss/shared';

a#dropDownSheetNav {
    &.btn {
        border: none !important;
    }
    &.active,
    &:active {
        color: $link-color !important;
    }
    &:hover {
        color: rgb(51, 51, 51) !important;
    }

    > span {
        display: inline-block;
        white-space: break-spaces;
        text-align: start;
    }
}
