<!--
/************************************************
*
*               CREDITS
*
* This code is inspired, adapted or taken from:
*
* ARACHNE – Objektdatenbank des Deutschen Archäologischen Instituts (DAI)
* https://arachne.dainst.org/entity/1121229**]
* 20.11.2017
*
*
*
************************************************/ -->
<!-- resourceDetailData content -->
<div class="awg-resource-content">
    <div class="row">
        <!-- object properties -->
        <div class="col-lg-8">
            <awg-resource-detail-html-content-props
                [props]="content?.props"
                (resourceRequest)="navigateToResource($event)"
            >
            </awg-resource-detail-html-content-props>
        </div>

        <!-- right side nav objects -->
        <div class="col-lg-4 mt-3 mt-lg-0 mb-3">
            <div class="sidenav-right">
                <!-- image objects -->
                <awg-resource-detail-html-content-imageobjects [images]="content?.images">
                </awg-resource-detail-html-content-imageobjects>

                <!-- connected objects -->
                <awg-resource-detail-html-content-linkedobjects
                    [incomingGroups]="content?.incoming"
                    (resourceRequest)="navigateToResource($event)"
                >
                </awg-resource-detail-html-content-linkedobjects>
            </div>
        </div>
    </div>
</div>
