<ngb-accordion #accoladeAcc="ngbAccordion" id="accoladeAcc" activeIds="awg-accolade-view">
    <ngb-panel id="awg-accolade-view">
        <ng-template ngbPanelHeader>
            <div class="accordion-button awg-accordion-button-custom-header justify-content-between">
                <button ngbPanelToggle class="p-0 btn btn-link text-start">Edierte Notentexte</button>
                <button type="button" class="btn btn-sm btn-outline-info" (click)="openModal('HINT_EDITION_SHEETS')">
                    Hinweise zur Nutzung
                </button>
            </div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="row">
                <div class="order-2 order-lg-1 col-12 col-lg-4 col-xl-3">
                    <!-- svg sheet navigation -->
                    <awg-edition-svg-sheet-nav
                        *ngIf="svgSheetsData && selectedSvgSheet"
                        [svgSheetsData]="svgSheetsData"
                        [selectedSvgSheet]="selectedSvgSheet"
                        (selectSvgSheetRequest)="selectSvgSheet($event)">
                    </awg-edition-svg-sheet-nav>
                </div>
                <div class="order-1 order-lg-2 col-12 col-lg-8 col-xl-9">
                    <!-- svg sheet -->
                    <awg-edition-svg-sheet-viewer
                        *ngIf="selectedSvgSheet"
                        [selectedSvgSheet]="selectedSvgSheet"
                        (browseSvgSheetRequest)="browseSvgSheet($event)"
                        (selectLinkBoxRequest)="selectLinkBox($event)"
                        (selectOverlaysRequest)="selectOverlays($event)"
                        (selectSvgSheetRequest)="selectSvgSheet($event)">
                    </awg-edition-svg-sheet-viewer>

                    <!-- table for TkA -->
                    <awg-edition-svg-sheet-footer
                        *ngIf="selectedSvgSheet && selectedTextcritics"
                        [selectedTextcritics]="selectedTextcritics"
                        [selectedTextcriticalComments]="selectedTextcriticalComments"
                        [showTkA]="showTkA"
                        (openModalRequest)="openModal($event)"
                        (selectSvgSheetRequest)="selectSvgSheet($event)"></awg-edition-svg-sheet-footer>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
