<ngb-accordion #accoladeAcc="ngbAccordion" id="accoladeAcc" activeIds="awg-accolade-view">
    <ngb-panel id="awg-accolade-view">
        <ng-template ngbPanelHeader>
            <div class="accordion-button awg-accordion-button-custom-header justify-content-between">
                <button ngbPanelToggle class="p-0 btn btn-link text-start">Edierte Notentexte</button>
                <button type="button" class="btn btn-sm btn-outline-info" (click)="openModal('HINT_EDITION_SHEETS')">
                    Hinweise zur Nutzung
                </button>
            </div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="row">
                <div class="col-4 col-xl-3">
                    <!-- svg sheet navigation -->
                    <awg-edition-svg-sheet-nav
                        *ngIf="svgSheetsData && selectedSvgSheet"
                        [svgSheetsData]="svgSheetsData"
                        [selectedSvgSheet]="selectedSvgSheet"
                        (selectSvgSheetRequest)="selectSvgSheet($event)">
                    </awg-edition-svg-sheet-nav>
                </div>
                <div class="col-8 col-xl-9">
                    <!-- svg sheet -->
                    <awg-edition-svg-sheet
                        *ngIf="selectedSvgSheet"
                        [selectedSvgSheet]="selectedSvgSheet"
                        (openModalRequest)="openModal($event)"
                        (selectOverlaysRequest)="selectOverlays($event)"
                        (selectSvgSheetRequest)="selectSvgSheet($event)">
                    </awg-edition-svg-sheet>

                    <!-- table for TkA -->
                    <div class="panel-footer" *ngIf="showTkA">
                        <h5 class="mt-4">Textkritischer Kommentar:</h5>
                        <awg-edition-tka-table
                            [textcriticalComments]="selectedTextcriticalComments"
                            (openModalRequest)="openModal($event)"
                            (selectSvgSheetRequest)="selectSvgSheet($event)">
                        </awg-edition-tka-table>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
