<form [formGroup]="searchForm">
    <div class="form-row mb-4">
        <div class="col-12">
            <label class="sr-only" for="awg-search-input">{{ searchFormStrings.label }}</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text" id="search-icon">
                        <fa-icon [icon]="faSearch"></fa-icon>
                    </div>
                </div>
                <input
                    title="Search"
                    type="search"
                    id="awg-search-input"
                    class="form-control"
                    formControlName="searchValueControl"
                    aria-label="Search input"
                    aria-describedby="search-icon"
                    placeholder="{{ searchFormStrings.placeholder }}"
                    required
                />
            </div>
            <div *ngIf="searchValueControl.invalid && !searchValueControl.pristine" class="alert alert-danger">
                <p *ngIf="searchValueControl.hasError('required') || searchValueControl.errors.minlength"></p>
                {{ searchFormStrings.errorMessage }}
            </div>
        </div>
    </div>
</form>
