<form [formGroup]="extendedSearchForm" (ngSubmit)="onSearch()" *ngIf="extendedSearchForm" class="p-3 border">
    <div class="form-floating awg-form-floating-group flex-grow-1 mt-3 mb-3">
        <select
            class="form-select"
            id="awg-extended-search-resourcetype-input"
            aria-label="Extended search restype control"
            formControlName="restypeControl"
            required>
            <option value="" disabled hidden>{{ defaultFormString }}</option>
            <option *ngFor="let resourcetype of restypesResponse?.resourcetypes" [ngValue]="resourcetype.id">
                {{ resourcetype.id }} | {{ resourcetype.label }}
            </option>
        </select>
        <label for="awg-extended-search-resourcetype-input" class="text-muted">Resource type</label>
    </div>

    <ng-container formArrayName="propertiesControls">
        <div *ngFor="let propCtrl of propertiesControls.controls; index as idx" class="row mb-4 ms-4 g-2">
            <ng-container [formGroupName]="idx">
                <div class="form-floating col-md-4">
                    <select
                        id="awg-extended-search-property-{{ idx }}"
                        class="form-select"
                        [formControl]="getPropertyIdControlAtIndex(idx)"
                        [attr.disabled]="isPropertyIdControlDisabled()"
                        required>
                        <option value="" disabled hidden>{{ defaultFormString }}</option>
                        <ng-container *ngIf="selectedResourcetype">
                            <option
                                *ngFor="let property of selectedResourcetype?.properties"
                                [value]="property.id"
                                [title]="property.label">
                                {{ property.id }} | {{ property.label }}
                            </option>
                        </ng-container>
                    </select>
                    <label class="text-muted" for="awg-extended-search-property-{{ idx }}">Property</label>
                </div>
                <div class="form-floating col-md-2">
                    <select
                        id="awg-extended-search-compop"
                        class="form-select"
                        formControlName="compopControl"
                        [attr.disabled]="isCompopControlDisabled(idx)"
                        required>
                        <option value="" disabled hidden>{{ defaultFormString }}</option>
                        <ng-container>
                            <option
                                *ngFor="let compop of selectedCompopSets[idx]"
                                [ngValue]="compop.value"
                                [title]="compop.title"
                                [innerHtml]="compop.label"></option>
                        </ng-container>
                    </select>
                    <label class="text-muted" for="awg-extended-search-compop">Operator</label>
                </div>
                <div class="form-floating col-md-4">
                    <input
                        title="Extended Search - Search Value"
                        type="search"
                        id="awg-extended-search-searchValue"
                        class="form-control"
                        [formControl]="getSearchvalControlAtIndex(idx)"
                        [attr.disabled]="isSearchvalControlDisabled(idx)"
                        placeholder="{{ getSearchvalPlaceholder(idx) }}" />
                    <label class="text-muted" for="awg-extended-search-searchValue">Search value</label>
                </div>

                <div class="btn-toolbar col-2" role="toolbar" aria-label="Toolbar for property inputs">
                    <div class="btn-group" role="group" aria-label="Group of handle buttons">
                        <button
                            type="button"
                            class="btn btn-outline-danger"
                            *ngIf="propertiesControls.controls.length > 1"
                            (click)="removePropertiesControl(idx)">
                            <fa-icon [icon]="faTrash"></fa-icon>
                        </button>
                        <button
                            type="button"
                            class="btn btn-outline-info"
                            (click)="addPropertiesControl()"
                            [attr.disabled]="isAddButtonDisabled(idx)">
                            <fa-icon [icon]="faPlus"></fa-icon>
                        </button>
                    </div>
                </div>
            </ng-container>
            <div
                *ngIf="getSearchvalControlAtIndex(idx).invalid && !getSearchvalControlAtIndex(idx).pristine"
                class="alert alert-danger">
                <p *ngIf="getSearchvalControlAtIndex(idx).errors"></p>
                {{ searchFormStrings.errorMessage }}
            </div>
        </div>
    </ng-container>
    <div class="mb-4">
        <button class="btn btn-outline-info" type="submit" [disabled]="!extendedSearchForm.valid">
            <fa-icon [icon]="faSearch"></fa-icon>
            Suche
        </button>
        <button class="btn btn-outline-danger" (click)="onReset()" [disabled]="!restypeControl.valid">Reset</button>
    </div>
</form>
