<footer class="container-fluid text-center">
    <!-- main top footer -->
    <div class="row awg-footer-top">
        <div class="col-md-8">
            <awg-footer-declaration [metaData]="metaData"></awg-footer-declaration>
        </div>

        <div class="col-6 col-md-2 order-md-first mb-4 mt-md-4">
            <awg-footer-logo [logo]="logos?.unibas"></awg-footer-logo>
        </div>
        <div class="col-6 col-md-2 mb-4 mt-md-4">
            <awg-footer-logo [logo]="logos?.snf"></awg-footer-logo>
        </div>
    </div>

    <!-- secondary bootom footer -->
    <div class="row awg-footer-bottom text-muted">
        <div class="col-6 col-sm-8 text-left">
            <awg-footer-copyright [metaData]="metaData"></awg-footer-copyright>
        </div>
        <div class="col-6 col-sm-4 text-right my-auto">
            <awg-footer-poweredby [logos]="logos"></awg-footer-poweredby>
        </div>
    </div>
</footer>
