<footer class="container-fluid text-center">
    <!-- main top footer -->
    <div class="row awg-footer-top mb-3">
        <div class="col-md-6">
            <awg-footer-declaration [pageMetaData]="pageMetaData"></awg-footer-declaration>
        </div>

        <div class="col-6 col-md-2 order-md-first m-auto">
            <awg-footer-logo [logo]="logos?.sagw"></awg-footer-logo>
        </div>
        <div class="col-6 col-md-2 m-auto">
            <awg-footer-logo [logo]="logos?.unibas"></awg-footer-logo>
            <awg-footer-logo [logo]="logos?.snf"></awg-footer-logo>
        </div>
    </div>

    <!-- secondary bottom footer -->
    <div class="row awg-footer-bottom text-muted">
        <div class="col-6 col-sm-8 text-start">
            <awg-footer-copyright [pageMetaData]="pageMetaData"></awg-footer-copyright>
        </div>
        <div class="col-6 col-sm-4 text-end my-auto">
            <awg-footer-poweredby [logos]="logos"></awg-footer-poweredby>
        </div>
    </div>
</footer>
