<footer class="container-fluid text-center">
    @let logos = logosData();
    @let page = pageMetaData();

    <!-- main top footer -->
    <div class="row awg-footer-top mb-3">
        <div class="col-md-6">
            <awg-footer-declaration [pageMetaData]="page" />
        </div>

        <div class="col-6 col-md-2 order-md-first m-auto">
            @if (logos?.['unibas']; as unibasLogo) {
                <awg-footer-logo [logoData]="unibasLogo" />
            }
        </div>
        <div class="col-6 col-md-3 m-auto">
            @if (logos?.['sagw']; as sagwLogo) {
                <awg-footer-logo [logoData]="sagwLogo" />
            }
            @if (logos?.['snf']; as snfLogo) {
                <awg-footer-logo [logoData]="snfLogo" />
            }
        </div>
    </div>

    <!-- secondary bottom footer -->
    <div class="row awg-footer-bottom text-muted">
        <div class="col-6 col-sm-8 text-start">
            <awg-footer-copyright [pageMetaData]="page" />
        </div>
        <div class="col-6 col-sm-4 text-end my-auto">
            <awg-footer-poweredby [logosData]="logos" [pageMetaData]="page" />
        </div>
        <div class="col-12 gtrans" id="google_translate_element"></div>
    </div>
</footer>
