<!-- content: edition-view -->
<div class="awg-edition-view p-3 border rounded-3">
    <awg-scroll-to-top-button />

    @let context = viewContext();
    @let editionComplex = selectedEditionComplex();

    @if (context.isPreface) {
        <div class="awg-edition-preface para">
            <awg-edition-breadcrumb [items]="breadcrumbItems()" />
            <awg-edition-jumbotron [jumbotronId]="EDITION_VIEW_ID" [jumbotronTitle]="jumbotronTitle()" />
        </div>
    }

    @if (context.isRowtables) {
        <div class="awg-edition-rowtables para">
            <awg-edition-breadcrumb [items]="breadcrumbItems()" />
            <awg-edition-jumbotron [jumbotronId]="EDITION_VIEW_ID" [jumbotronTitle]="jumbotronTitle()" />
        </div>
    }

    @if (editionComplex) {
        <div class="awg-edition-complex">
            <awg-edition-breadcrumb [items]="breadcrumbItems()" />
            <awg-edition-jumbotron [jumbotronId]="EDITION_VIEW_ID" [jumbotronTitle]="jumbotronTitle()" />

            <!-- declamation -->
            <div class="awg-edition-responsibility mt-3 mb-5">
                <p>
                    Ediert von
                    @for (editor of editionComplex.respStatement.editors; track $index; let isLast = $last) {
                        <span class="editor">
                            <a [href]="editor.homepage">{{ editor.name }}</a>
                            <awg-meta-identifier-badges [identifiers]="editor.identifiers" />
                            @if (!isLast) {
                                <span>&nbsp;&&nbsp;</span>
                            }
                        </span>
                    }
                    <br />
                    Versionsdatum:
                    <span class="version">{{
                        editionComplex.respStatement.lastModified === '---'
                            ? '---'
                            : (editionComplex.respStatement.lastModified | date: 'longDate')
                    }}</span>
                </p>
            </div>
        </div>
    }

    @if (editionComplex === null && !context.isRowtables && !context.isPreface) {
        <div class="awg-edition-series para">
            <awg-edition-breadcrumb [items]="breadcrumbItems()" />
            <awg-edition-jumbotron [jumbotronId]="EDITION_VIEW_ID" [jumbotronTitle]="jumbotronTitle()" />
        </div>
    }

    <!-- edition routes -->
    <router-outlet />
</div>
