<div *ngIf="rowTablesData" class="row row-cols-1 row-cols-md-3 row-cols-xl-5 g-4">
    <div class="col" *ngFor="let rowTable of rowTablesData">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title" [ngClass]="{ 'text-muted': rowTable.disabled }">
                    Reihentabelle {{ rowTable.short }}
                </h5>
            </div>
            <div class="card-footer text-end">
                <a
                    [routerLink]="['../composition' + rowTable.route, 'sheets']"
                    [queryParams]="{ convolute: rowTable.convolute, sketch: rowTable.sketch }"
                    class="btn btn-outline-info"
                    [ngClass]="{ disabled: rowTable.disabled }"
                    >Mehr...
                </a>
            </div>
        </div>
    </div>
</div>
