#awg-resource-info-input {
    height: 33px;
}
#awg-resource-info-input > .input-group-addon {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 0;
}
.awg-resource-info-list-group {
    margin-bottom: 0px;
}
.awg-list-group-item {
    height: 75px;
    overflow: hidden;
}
