.awg-search-results .awg-search-result-table tbody tr {
    cursor: pointer;
}
.awg-search-results .awg-search-result-table tbody tr:hover {
    background-color: #e7e7e7;
}
.awg-search-results .awg-search-result-table tbody tr.active td {
    background-color: #d7d7d7;
}
