<div class="form-group form-inline ms-2">
    <div class="col-sm-4">
        <p>
            {{ tableTitle() }}<br />
            ({{ filteredRows().length }} von {{ rowInputData().length }} Ergebnissen)
        </p>
    </div>
    <div class="col-sm-6">
        <input
            id="search"
            class="form-control"
            type="text"
            name="searchFilter"
            [value]="searchFilter()"
            (input)="onSearchFilterChange($any($event.target).value)"
            placeholder="Ergebnisse filtern..."
            aria-label="Filter results" />
    </div>
</div>

<ng-template #paginationPanel let-position="position">
    <div class="awg-pagination d-flex justify-content-between p-2">
        <awg-table-pagination [collectionSize]="filteredRows().length" [(page)]="page" />
        <div ngbDropdown class="d-inline-block">
            <button
                class="btn btn-default awg-pagesize-dropdown-button"
                [id]="'pageSizeDropdownMenu' + position"
                ngbDropdownToggle>
                {{ pageSize() }} Ergebnisse pro Seite
            </button>
            <div class="dropdown-menu" [attr.aria-labelledby]="'pageSizeDropdownMenu' + position" ngbDropdownMenu>
                @for (pageSizeOption of pageSizeOptions; track pageSizeOption) {
                    <button ngbDropdownItem class="dropdown-item" (click)="onPageSizeChange(pageSizeOption)">
                        {{ pageSizeOption }} Ergebnisse pro Seite
                    </button>
                }
            </div>
        </div>
    </div>
</ng-template>

<!-- top pagination -->
<ng-container *ngTemplateOutlet="paginationPanel; context: { position: 'Top' }" />

<table aria-label="Table for SPARQL query results" class="table table-striped">
    <thead>
        <tr>
            @for (headerLabel of headerInputData(); track headerLabel) {
                <th scope="col" (click)="onSort(headerLabel)" (keydown)="onSort(headerLabel)" tabindex="0">
                    {{ headerLabel }}&nbsp;
                    @if (headerLabel === sortState().key) {
                        <fa-icon [icon]="sortIcon()" />
                    }
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @for (row of paginatedRows(); track row) {
            <tr (click)="onTableRowClick($event)" (keydown)="onTableRowClick($event)" tabindex="0">
                @for (headerLabel of headerInputData(); track headerLabel) {
                    @let cell = row[headerLabel];
                    <td>
                        @if (cell?.type === 'uri') {
                            <a
                                (click)="onTableValueClick(cell.value)"
                                (keyup.enter)="onTableValueClick(cell.value)"
                                role="link"
                                tabindex="0">
                                <ngb-highlight [result]="cell.label" [term]="searchFilter()" />
                            </a>
                        } @else if (cell?.type === 'search') {
                            <span>
                                @if (cell.icon) {
                                    <span class="badge">
                                        <img [attr.src]="cell.icon" alt="iconsrc" />
                                    </span>
                                }
                                <ngb-highlight [result]="cell.label" [term]="searchFilter()" />
                            </span>
                        } @else {
                            <span><ngb-highlight [result]="cell?.label" [term]="searchFilter()" /></span>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<!-- bottom pagination -->
<ng-container *ngTemplateOutlet="paginationPanel; context: { position: 'Bottom' }" />
