<!-- maintext: edition -->

<!-- pre-notification -->
<awg-edition-detail-notification></awg-edition-detail-notification>

<!-- sheet control -->
<awg-edition-detail-sheet-control
    *ngIf="sheetsData && selectedSheet"
    [sheets]="sheetsData"
    [selectedSheet]="selectedSheet"
    (selectSheetRequest)="onSheetSelect($event)">
</awg-edition-detail-sheet-control>

<!-- table for TkA -->
<awg-edition-detail-tka-table
    *ngIf="showTkA && items"
    [items]="items"
    (openDialogRequest)="onOpenEditionDialog($event)"
    (selectSheetRequest)="onSheetSelect($event)">
</awg-edition-detail-tka-table>

<!-- svg panel -->
<awg-edition-detail-svg-panel
    *ngIf="sheetsData && selectedSheet"
    [sheets]="sheetsData"
    [selectedSheet]="selectedSheet"
    (selectSheetRequest)="onSheetSelect($event)"
    [selectedItem]="selectedItem"
    (selectItemRequest)="onItemSelect($event)">
</awg-edition-detail-svg-panel>
