p {
    display: flex;
    align-items: baseline;

    .awg-source-description-details-label {
        flex-shrink: 0;
        white-space: nowrap;
    }

    .awg-source-description-details-content {
        flex: 1;
    }
}
