<div
    #graphContainer
    id="awg-force-graph-container"
    class="awg-force-graph-panel-container"
    [ngStyle]="{ 'height.px': height }">
    <div class="awg-force-graph-icon-bar">
        <!-- Slider -->
        <div class="input-group input-group-sm awg-force-graph-zoom-slider-container float-start mb-3">
            <span #sliderInputLabel class="input-group-text" id="slider-label">{{ sliderConfig.value }}x</span>
            <input
                type="range"
                #sliderInput
                class="awg-force-graph-zoom-slider"
                id="awg-force-graph-zoom-slider"
                name="zoomSlider"
                aria-label="Zoom slider"
                aria-describedby="slider-label"
                [min]="sliderConfig.min"
                [max]="sliderConfig.max"
                [step]="sliderConfig.stepSize"
                [(ngModel)]="sliderConfig.value"
                (ngModelChange)="onZoomChange($event)" />
            <button class="btn btn-sm btn-outline-info" type="submit" title="Reset" (click)="onReCenter()">
                <fa-icon [icon]="faCompressArrowsAlt"></fa-icon>
            </button>
        </div>

        <!-- Limit -->
        @if (currentQueryResultTriples) {
            <div class="btn-group awg-force-graph-node-limit-container float-end my-auto">
                <button type="button" class="btn btn-sm btn-outline-info" disabled aria-disabled="true">
                    @if (limit < currentQueryResultTriples.length) {
                        <span>{{ limit }} von </span>
                    }
                    {{ currentQueryResultTriples.length }} Triples
                </button>
                <div
                    class="btn-group"
                    ngbDropdown
                    container="body"
                    role="group"
                    aria-label="Button group with nested dropdown for node limit">
                    <button
                        class="btn btn-sm btn-info dropdown-toggle-split"
                        ngbDropdownToggle
                        [disabled]="currentQueryResultTriples.length === 0"></button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        @for (limitValue of limitValues; track limitValue) {
                            @if (currentQueryResultTriples.length > limitValue) {
                                <button class="dropdown-item" (click)="onLimitValueChange(limitValue)">
                                    <span>{{ limitValue }}</span>
                                </button>
                            }
                        }
                        <button class="dropdown-item" (click)="onLimitValueChange(currentQueryResultTriples.length)">
                            <span>Kein Limit</span>
                        </button>
                    </div>
                </div>
            </div>
        }

        <!-- <span *ngIf="message" class="message">{{message}}</span> -->
    </div>
</div>
