@if (editionComplex(); as complex) {
    @let complexId = complex.complexId;
    @let sectionRoute = complex.pubStatement.labeledSectionRoute;

    <p class="awg-graph-placeholder">
        <small class="text-muted"
            >[Die Graph-Visualisierungen zum Editionskomplex <span [innerHTML]="complexId.full"></span> erscheinen im
            Zusammenhang der vollständigen Edition von <span [innerHTML]="complexId.short"></span> in
            {{ sectionRoute.label }}.]
        </small>
    </p>
}
