<!-- resource detail data content: props -->
<section class="awg-props">
    <h4 class="awg-props-title ms-0">Objektdaten</h4>
    @for (prop of props; track prop) {
        <ul>
            @if (prop.label === metaBreakLine) {
                <li id="breakLine">
                    <hr />
                </li>
            }
            @if (prop!.values[0]) {
                <li class="awg-prop">
                    <!-- value label -->
                    @if (prop.label) {
                        <strong class="awg-prop-label">
                            {{ prop.label }}
                        </strong>
                    }
                    <!-- value content -->
                    @for (value of prop.values; track value) {
                        <ul>
                            @if (value) {
                                <li class="awg-prop-value">
                                    <span [compile-html]="value" [compile-html-ref]="this"></span>
                                </li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    }
</section>
