<!-- resourceDetailData header -->
<awg-resource-detail-html-header
    [header]="resourceDetailData?.header"
    [resourceUrl]="resourceUrl"
    (resourceRequest)="navigateToResource($event)">
</awg-resource-detail-html-header>

    <br /><br />
    <button (click)="navigateToSearch()">Zurück zur Suche</button>
    <p class="todo">TODO (resource-detail-html): move button to correct place and ngIf</p>

<!-- resourceDetailData content -->
<awg-resource-detail-html-content
    [content]="resourceDetailData?.content"
    [resourceUrl]="resourceUrl"
    (resourceRequest)="navigateToResource($event)">
</awg-resource-detail-html-content>



