<!-- content: edition graph -->
<div>
    <!-- modal -->
    <awg-modal #modal></awg-modal>

    <!-- graph -->
    <div *ngIf="editionGraphData$ | async as editionGraphData; else error">
        <div *ngFor="let graph of editionGraphData.graph">
            <!-- graph description -->
            <ng-container *ngIf="graph.description">
                <p>
                    So weit vorhanden, präsentiert die vorliegende Ansicht Graph-Visualisierungen des ausgewählten
                    Editionsbereichs: Der <i>statische Graph</i> vermittelt dabei einen von den jeweiligen Editoren
                    fixierten Überblick editionsrelevanter Zusammenhänge und Abhängigkeiten, der
                    <i>dynamische Graph</i> bietet zusätzlich einen interaktiven Zugang zu dem zugrundeliegenden
                    Datenbestand.
                    <span class="text-danger"
                        >Diese Funktionalität ist noch nicht für alle Skizzenbestandteile verfügbar, wird aber
                        sukzessive ergänzt.</span
                    >
                </p>
                <p
                    *ngFor="let description of graph.description"
                    [compile-html]="description"
                    [compile-html-ref]="ref"
                ></p>
            </ng-container>

            <!-- dynamic graph -->
            <ng-container *ngIf="graph.rdfData && graph.rdfData.triples && graph.rdfData.queryList">
                <h4>
                    Dynamischer Graph
                    <button
                        type="button"
                        class="btn btn-sm btn-outline-info ml-2"
                        (click)="modal.open('hintEditionGraph')"
                    >
                        Hinweise zur Nutzung
                    </button>
                </h4>
                <p>
                    Diese interaktive Visualisierung basiert auf Mads Holten's
                    <a href="https://github.com/MadsHolten/sparql-visualizer" target="_blank" rel="noreferrer noopener"
                        >SPARQL Visualizer</a
                    >. Sie modelliert den aktuellen Skizzenkomplex in Form eines
                    <a href="https://www.w3.org/RDF/" target="_blank" rel="noopener noreferrer">RDF</a>-Graphen. Die
                    zugrundeliegenden RDF-Daten sind unter dem Punkt <i>RDF Triples</i> einsehbar und lokal editierbar.
                    Eine Filterung und Eingrenzung dieser RDF-Daten kann mithilfe der Abfragesprache
                    <a href="https://www.w3.org/TR/sparql11-query/" target="_blank" rel="noreferrer noopener">SPARQL</a>
                    unter dem Punkt <i>SPARQL Abfrage</i> vorgenommen werden; in der Voreinstellung werden hierbei alle
                    vorhandenen Triples abgefragt.
                </p>
                <awg-graph-visualizer [graphRDFInputData]="graph.rdfData"></awg-graph-visualizer>
            </ng-container>

            <!-- static image -->
            <ng-container *ngIf="graph.staticImage && graph.staticImage !== ''">
                <h4>Statischer Graph</h4>
                <div [compile-html]="graph.staticImage" [compile-html-ref]="ref"></div>
            </ng-container>
        </div>
    </div>

    <!-- error message -->
    <ng-template #error>
        <div class="errorMessage" *ngIf="errorObject">
            <div class="col-12 text-center">
                <div class="alert alert-danger">
                    {{ errorObject }}
                </div>
            </div>
        </div>
    </ng-template>
</div>
