<!-- content: graph -->
<div>
    <!-- graph -->
    <div *ngIf="editionGraphData$ | async as editionGraphData; else error">
        <div *ngFor="let graph of editionGraphData.graph">
            <!-- graph description -->
            <p *ngFor="let description of graph.description" [compile-html]="description" [compile-html-ref]="ref"></p>
            <!-- static image -->
            <div
                *ngIf="graph.staticImage && graph.staticImage !== ''"
                [compile-html]="graph.staticImage"
                [compile-html-ref]="ref"
            ></div>
        </div>
    </div>

    <!-- error message -->
    <ng-template #error>
        <div class="errorMessage" *ngIf="errorObject">
            <div class="col-12 text-center">
                <div class="alert alert-danger">
                    {{ errorObject }}
                </div>
            </div>
        </div>
    </ng-template>
</div>
