<!-- content: edition graph -->
<div>
    <!-- modal -->
    <awg-modal #modal></awg-modal>

    <!-- graph -->
    <div class="awg-graph-view" *ngIf="editionGraphData$ | async as editionGraphData; else error">
        <div *ngFor="let graph of editionGraphData.graph">
            <!-- graph description -->
            <div class="awg-graph-description">
                <p>
                    So weit vorhanden, präsentiert die vorliegende Ansicht Graph-Visualisierungen des ausgewählten
                    Editionsbereichs: Der <em>statische Graph</em> vermittelt dabei einen von den jeweiligen Editoren
                    fixierten Überblick editionsrelevanter Zusammenhänge und Abhängigkeiten, der
                    <em>dynamische Graph</em> bietet zusätzlich einen interaktiven Zugang zu dem zugrundeliegenden
                    Datenbestand.
                    <span class="text-danger"
                        >Diese Funktionalität ist noch nicht für alle Skizzenbestandteile verfügbar, wird aber
                        sukzessive ergänzt.</span
                    >
                </p>
                <ng-container *ngIf="graph.description">
                    <p
                        *ngFor="let description of graph.description"
                        [compile-html]="description"
                        [compile-html-ref]="ref"></p>
                </ng-container>
            </div>

            <!-- dynamic graph -->
            <div class="awg-graph-dynamic" *ngIf="graph.rdfData && graph.rdfData.triples && graph.rdfData.queryList">
                <h4>
                    Dynamischer Graph
                    <button
                        type="button"
                        class="btn btn-sm btn-outline-info ml-2"
                        (click)="modal.open('HINT_EDITION_GRAPH')">
                        Hinweise zur Nutzung
                    </button>
                    <button
                        type="button"
                        title="Open fullscreen"
                        class="btn btn-sm btn-outline-info ml-2"
                        (click)="openFullscreen()"
                        *ngIf="!isFullscreen">
                        <fa-icon [icon]="faExpand"></fa-icon>
                    </button>
                    <button
                        type="button"
                        title="Close fullscreen"
                        class="btn btn-sm btn-info ml-2"
                        (click)="closeFullscreen()"
                        *ngIf="isFullscreen">
                        <fa-icon [icon]="faCompress"></fa-icon>
                    </button>
                </h4>
                <p>
                    Diese interaktive Visualisierung basiert auf Mads Holten's
                    <a href="https://github.com/MadsHolten/sparql-visualizer">SPARQL Visualizer</a>. Sie modelliert den
                    aktuellen Skizzenkomplex in Form eines <a href="https://www.w3.org/RDF/">RDF</a>-Graphen. Die
                    zugrundeliegenden RDF-Daten sind unter dem Punkt <em>RDF Triples</em> einsehbar und lokal
                    editierbar. Eine Filterung und Eingrenzung dieser RDF-Daten kann mithilfe der Abfragesprache
                    <a href="https://www.w3.org/TR/sparql11-query/">SPARQL</a>
                    unter dem Punkt <em>SPARQL Abfrage</em> vorgenommen werden; in der Voreinstellung werden hierbei
                    alle vorhandenen Triples abgefragt.
                </p>
                <awg-graph-visualizer
                    [graphRDFInputData]="graph.rdfData"
                    [isFullscreen]="isFullscreen"></awg-graph-visualizer>
            </div>

            <!-- static image -->
            <div class="awg-graph-static mt-3" *ngIf="graph.staticImage && graph.staticImage !== ''">
                <h4>Statischer Graph</h4>
                <div [compile-html]="graph.staticImage" [compile-html-ref]="ref"></div>
            </div>
        </div>
    </div>

    <!-- error message -->
    <ng-template #error>
        <div class="errorMessage" *ngIf="errorObject">
            <div class="col-12 text-center">
                <div class="alert alert-danger">{{ errorObject | json }}</div>
            </div>
        </div>
    </ng-template>
</div>
