<!-- Data: Triples, SPARQL query, result -->

@let isFullscreen = isFullscreenMode();
@let currentQuery = query();

<div class="row awg-graph-visualizer" [class.is-fullscreen]="isFullscreen">
    <div [class]="isFullscreen ? 'col-4 col-lg-3 px-0 awg-fullscreen' : 'col-12'">
        <div [class.row]="!isFullscreen">
            <div [class]="isFullscreen ? '' : 'col-12 col-lg-6 py-0 pe-lg-0'">
                <!-- awg-graph-editor-triples -->
                <awg-graph-editor-triples
                    [(triples)]="triples"
                    [isFullscreenMode]="isFullscreen"
                    (errorMessageRequest)="showToastMessage($event, 'error')"
                    (performQueryRequest)="performQuery()"
                    (resetTriplesRequest)="resetTriples()" />
            </div>
            <div [class]="isFullscreen ? '' : 'col-12 col-lg-6 py-0 ps-lg-0'">
                <!-- awg-graph-editor-sparql -->
                <awg-graph-editor-sparql
                    [queryList]="queryList()"
                    [(query)]="query"
                    [isFullscreenMode]="isFullscreen"
                    (errorMessageRequest)="showToastMessage($event, 'error')"
                    (performQueryRequest)="performQuery()"
                    (resetQueryRequest)="resetQuery($event)" />
            </div>
        </div>
    </div>
    <!-- Results -->
    <div [class]="isFullscreen ? 'col-8 col-lg-9 px-0 awg-fullscreen' : 'col-12'">
        @if (currentQuery.queryType === 'construct') {
            <awg-graph-results-construct
                [queryResult]="queryResult()"
                [defaultForceGraphHeight]="isFullscreen ? 1000 : defaultForceGraphHeight"
                [isFullscreenMode]="isFullscreen"
                (clickedNodeRequest)="onGraphNodeClick($event)" />
        } @else if (currentQuery.queryType === 'select') {
            <awg-graph-results-select
                [queryResult]="queryResult()"
                [queryTime]="queryTime()"
                [isFullscreenMode]="isFullscreen"
                (clickedTableRequest)="onTableNodeClick($event)" />
        } @else {
            <awg-graph-results-unsupported
                [queryType]="currentQuery.queryType || ''"
                [isFullscreenMode]="isFullscreen" />
        }
    </div>
</div>

<awg-toast aria-live="polite" aria-atomic="true" />
