:host {
    &::ng-deep {
        .awg-fullscreen {
            .collapse.show {
                height: 100vh;
            }
            #awg-graph-visualizer-triples.collapse.show {
                height: 45vh;
            }
            #awg-graph-visualizer-query.collapse.show {
                height: 50vh;
            }
        }
    }
}
