<!--
/************************************************
*
*               CREDITS
*
* This code is inspired, adapted or taken from:
*
* ARACHNE – Objektdatenbank des Deutschen Archäologischen Instituts (DAI)
* https://arachne.dainst.org/entity/1121229**]
* 20.11.2017
*
*
*
************************************************/ -->
<!-- resourceDetailData content -->
<div class="resource-content">
    <div class="row">

        <!-- object data -->
        <div class="col-sm-8">
            <div class="props" *ngIf="content?.props">
                <ul>
                    <li style="list-style-type: none">
                        <strong> Objektdaten </strong>
                        <ul *ngFor="let prop of content?.props">
                            <li id="breakLine" *ngIf="prop.label === metaBreakLine">
                                <hr>
                            </li>
                            <li id="propField" *ngIf="prop.value[0]" style="list-style-type: none">
                                <!-- value label -->
                                <strong *ngIf="prop.label">
                                    {{ prop.label }}
                                </strong>
                                <!-- value content -->
                                <ul *ngFor="let value of prop.value">
                                    <li *ngIf="value">
                                        <span [compile-html]="value" [compile-html-ref]="this"></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <!-- right side nav objects -->
        <div class="col-sm-4">
            <!-- ngIf: entity.images -->
            <div ar-imageslider="" ng-if="entity.images" entity="entity" current-query="currentQuery" class="ng-scope ng-isolate-scope"><!-- ngIf: entity.images.length > 1 -->
                <h3 ng-if="entity.images.length > 1" class="ng-scope">
                    <a ng-href="entity/1121229/images?fq=facet_kategorie%3A%22Einzelobjekte%22&amp;fl=20&amp;label=Mit%201627472%20verkn%C3%BCpfte%20Objekte&amp;q=connectedEntities%3A1627472&amp;resultIndex=3" class="ng-binding" href="entity/1121229/images?fq=facet_kategorie%3A%22Einzelobjekte%22&amp;fl=20&amp;label=Mit%201627472%20verkn%C3%BCpfte%20Objekte&amp;q=connectedEntities%3A1627472&amp;resultIndex=3">Abbildungen <small class="ng-binding">(12)</small>
                    </a>
                </h3><!-- end ngIf: entity.images.length > 1 --><!-- ngIf: entity.images.length == 1 -->
                <div class="ar-imageslider"><!-- ngIf: currentImgNo >= 0 -->
                    <div ng-if="currentImgNo >= 0" class="panel panel-default ng-scope" id="previewbox"><!-- ngIf: currentImgNo > 0 --> <!-- ngIf: currentImgNo < entity.images.length - 1 --><a ng-if="currentImgNo < entity.images.length - 1" ng-click="setImage(currentImgNo + 1)" id="maximg-nav-right" class="ng-scope"><span class="glyphicon glyphicon-circle-arrow-right"></span></a><!-- end ngIf: currentImgNo < entity.images.length - 1 -->
                        <div id="maximg-wrapper">
                            <a ar-scoped-href="entity/1121229/image/47554?fq=facet_kategorie%3A%22Einzelobjekte%22&amp;fl=20&amp;label=Mit%201627472%20verkn%C3%BCpfte%20Objekte&amp;q=connectedEntities%3A1627472&amp;resultIndex=3" id="maximg" class="ng-isolate-scope" href="entity/1121229/image/47554?fq=facet_kategorie%3A%22Einzelobjekte%22&amp;fl=20&amp;label=Mit%201627472%20verkn%C3%BCpfte%20Objekte&amp;q=connectedEntities%3A1627472&amp;resultIndex=3"><img ar-img="" img-id="47554" img-height="300" class="ng-isolate-scope" src="blob:https://arachne.dainst.org/6fbd667f-9291-4f5f-a50a-fc1cfadd9597"></a>
                        </div>
                    </div><!-- end ngIf: currentImgNo >= 0 -->
                    <div ng-show="entity.images.length > 1" class="thumb-row panel panel-default">
                        <a ng-click="pageThumbsLeft()" ng-hide="offset <= 0" class="navigate-left ng-hide"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
                        <a ng-click="pageThumbsRight()" class="navigate-right" ng-hide="offset >= max"><span class="glyphicon glyphicon-circle-arrow-right"></span></a>
                        <div ng-style="{'transform': 'translateX(-'+offset+'px)','-webkit-transform': 'translateX(-'+offset+'px)'}" id="thumbbox" style="transform: translateX(0px);"><!-- ngRepeat: image in entity.images -->
                            <a ng-click="setImage($index)" ng-repeat="image in entity.images" ng-class="{ 'active': $index == currentImgNo }" class="ng-scope active"><img ar-img="" img-id="47554" img-height="70" class="ng-isolate-scope" src="blob:https://arachne.dainst.org/bf537ad4-17ab-4a9a-9b19-14b9a93bd6ef"></a><!-- end ngRepeat: image in entity.images -->
                            <a ng-click="setImage($index)" ng-repeat="image in entity.images" ng-class="{ 'active': $index == currentImgNo }" class="ng-scope"><img ar-img="" img-id="2694005" img-height="70" class="ng-isolate-scope" src="blob:https://arachne.dainst.org/f9bd7505-ac8d-4fdb-8638-de7f0e74fcda"></a><!-- end ngRepeat: image in entity.images -->
                            <a ng-click="setImage($index)" ng-repeat="image in entity.images" ng-class="{ 'active': $index == currentImgNo }" class="ng-scope"><img ar-img="" img-id="2694194" img-height="70" class="ng-isolate-scope" src="blob:https://arachne.dainst.org/242566bb-06e1-4878-9a44-286a7b8e60a4"></a><!-- end ngRepeat: image in entity.images -->
                            <a ng-click="setImage($index)" ng-repeat="image in entity.images" ng-class="{ 'active': $index == currentImgNo }" class="ng-scope"><img ar-img="" img-id="2694195" img-height="70" class="ng-isolate-scope" src="blob:https://arachne.dainst.org/8547d3b8-b7c9-46e9-a752-804374c76d5b"></a><!-- end ngRepeat: image in entity.images -->
                        </div>
                    </div>
                </div>
            </div><!-- end ngIf: entity.images -->

            <!-- ngIf: entity.externalLinks
            <ar-entity-links entity="entity" class="ng-isolate-scope"</ar-entity-links>
            -->
            <!-- ngIf: contextQuery -->
            <div ng-if="contextQuery" ng-show="contextSize" class="ng-scope">
                <h3>
                    <a ng-href="search?fl=20&amp;label=Mit%201121229%20verkn%C3%BCpfte%20Objekte&amp;q=connectedEntities%3A1121229" class="ng-binding" href="search?fl=20&amp;label=Mit%201121229%20verkn%C3%BCpfte%20Objekte&amp;q=connectedEntities%3A1121229">Verknüpfte Objekte <small class="ng-binding">(3)</small></a>
                </h3>
                <div ar-facet-browser="" query="contextQuery" facet-name="facet_kategorie" context-size="contextSize" class="ng-isolate-scope">
                </div>
            </div><!-- end ngIf: contextQuery -->


            <!-- image objects -->
            <div align="center" class="objImage" *ngIf="content?.image.length > 0">
                <div class="facs">
                    <a [href]="content?.image?.full" target="_blank">
                        <img [src]="content?.image?.value" alt="{{ content?.image?.label }}" />
                    </a>
                </div>
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-default" *ngFor="let objImage of content?.image" (click)="showImage(objImage)">
                        {{ objImage.label }}
                    </a>
                </div>
            </div>

            <!-- connected objects -->
            <div *ngIf="content?.incoming">
                <h4>Verknüpfte Objekte <small>({{ getFacetContentSize(content?.incoming) }})</small></h4>
                <accordion [closeOthers]="true">
                    <accordion-group class="ins" *ngFor="let facetGroup of content?.incoming | mapToIterable">
                        <div accordion-heading>
                            {{ facetGroup?.mappedKey }}
                            <span class="badge facetBadge float-right pull-right">{{ facetGroup?.mappedValues.length }}</span>
                        </div>
                        <p class="single-line" *ngFor="let facetItem of facetGroup.mappedValues" (click)="navigateToResource(facetItem?.id)"><img [attr.src]="facetItem?.restype?.icon" alt="icon" /> [{{ facetItem?.id }}] {{ facetItem?.value }}</p>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
</div>
