<!--
/************************************************
*
*               CREDITS
*
* This code is inspired, adapted or taken from:
*
* ARACHNE – Objektdatenbank des Deutschen Archäologischen Instituts (DAI)
* https://arachne.dainst.org/entity/1121229**]
* 20.11.2017
*
*
*
************************************************/ -->
<!-- resourceDetailData content: linked objects -->
<div class="awg-linked-obj">
    <h5>
        <!-- TODO: link to linked objects overview
        <a (click)="navigateToSearchResults()">
        -->
        Verknüpfte Objekte <span>({{ getNestedArraysLength(incoming) }})</span>
        <!--
        </a>
        -->
    </h5>

    <ngb-accordion [closeOthers]="true">
        <ngb-panel id="incoming-linkgroup-{{i}}" class="awg-linked-obj-incoming-linkgroup" *ngFor="let linkGroup of incoming | keyvalue; let i = index">
            <ng-template ngbPanelTitle>
                <span class="awg-linked-obj-title mr-1">{{ linkGroup?.key }}</span>
                <span class="badge badge-info">{{ linkGroup?.value.length }}</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <table class="table table-sm table-hover borderless awg-linked-obj-table mb-0">
                    <tbody>
                    <tr *ngFor="let link of linkGroup.value">
                        <td>
                            <a class="awg-linked-obj-link" (click)="navigateToResource(link?.obj_id)">
                                <img [src]="link?.restype.icon" alt="icon">
                                <span>&nbsp;[{{ link?.id }}] {{ link?.value }}</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>

</div><!-- end DIV linkedObj -->
