<!--
/************************************************
*
*               CREDITS
*
* This code is inspired, adapted or taken from:
*
* ARACHNE – Objektdatenbank des Deutschen Archäologischen Instituts (DAI)
* https://arachne.dainst.org/entity/1121229**]
* 20.11.2017
*
*
*
************************************************/ -->
<!-- resourceDetailData content: linked objects -->
<div class="awg-linked-obj">
    <h4>
        <!-- TODO: link to linked objects overview
        <a (click)="navigateToSearchResults()">
        -->
        Verknüpfte Objekte <small>({{ getNestedArraysLength(incoming) }})</small>
        <!--
        </a>
        -->
    </h4>

    <ngb-accordion [closeOthers]="true">
        <ngb-panel id="incoming-links-{{i}}" class="awg-incoming-links" *ngFor="let linkGroup of incoming | keyvalue; let i = index">
            <ng-template ngbPanelTitle>
                {{ linkGroup?.key }}
                <span class="badge facet-badge float-right pull-right">{{ linkGroup?.value.length }}</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <p class="single-line" *ngFor="let link of linkGroup.value" (click)="navigateToResource(link?.id)">
                    <img [src]="link?.restype?.icon" alt="icon" /> [{{ link?.id }}] {{ link?.value }}
                </p>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>

</div><!-- end DIV linkedObj -->
