/************************************************
*
*               CREDITS
*
* This code is inspired, adapted or taken from:
*
* ARACHNE – Objektdatenbank des Deutschen Archäologischen Instituts (DAI)
* https://arachne.dainst.org/entity/1121229**]
* 20.11.2017
*
*
*
************************************************/

/* props */
.props ul {
    padding-left: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}
.props li {
    list-style: none;
    padding: 0.25rem 0;
}
.props .prop .prop-label {
    margin-top: 8px;
    margin-bottom: -4px;
    display: block;
    font-size: 21px;
    font-weight: 400;
}
.props .prop .prop-value {
    padding: 3px 0;
    margin-left: 1rem;
}
