<!-- resourceDetailData content: props -->
<div class="props">
    <ul>
        <li>
            <strong> Objektdaten </strong>
            <ul *ngFor="let prop of props">
                <li id="breakLine" *ngIf="prop?.label === metaBreakLine">
                    <hr>
                </li>
                <li *ngIf="prop?.value[0]">
                    <!-- value label -->
                    <strong *ngIf="prop?.label">
                        {{ prop?.label }}
                    </strong>
                    <!-- value content -->
                    <ul *ngFor="let value of prop?.value">
                        <li *ngIf="value">
                            <span [compile-html]="value" [compile-html-ref]="this"></span>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
