<nav class="navbar navbar-expand-sm navbar-light awg-main-navbar ps-4 pe-2">
    <!-- Brand (Desktop) -->
    <div class="navbar-brand-container col-3 col-md-4 col-xl-3 d-inline d-sm-none d-md-inline me-0 my-auto">
        <awg-logo [logoData]="logosData['awg']" linkClass="navbar-brand" />
    </div>

    <!-- Toggle button -->
    <button
        type="button"
        class="navbar-toggler"
        (click)="toggleNav()"
        [attr.aria-expanded]="!isCollapsed()"
        aria-controls="collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible navigation menu -->
    <div
        id="collapsibleNavbar"
        class="collapse navbar-collapse justify-content-sm-between"
        [ngbCollapse]="isCollapsed()">
        <ul class="navbar-nav ms-sm-0 my-auto">
            <!-- Home -->
            <li class="nav-item"><awg-navbar-item [item]="navbarItems.home" /></li>

            <!-- Edition -->
            <li class="nav-item" ngbDropdown [class.active]="isEditionRouteActive()">
                <awg-navbar-item [item]="navbarItems.edition" [isDropdown]="true" id="dropdownNavEdition" />
                <div ngbDropdownMenu aria-labelledby="dropdownNavEdition">
                    <h6 class="dropdown-header">Allgemein</h6>
                    @for (link of generalEditionLinks; track link.route.join('/')) {
                        <awg-navbar-dropdown-link [label]="link.label" [route]="link.route" />
                    }
                    <div class="dropdown-divider"></div>

                    <h6 class="dropdown-header">Auswahl Abteilungen</h6>

                    <div class="dropdown-divider"></div>

                    @for (section of sectionsData(); track section.labeledRoute.label) {
                        <div class="awg-dropdown-sections">
                            <h6 class="dropdown-header">
                                [{{ section.labeledRoute.label }}] -
                                <span [innerHTML]="section.section.full"></span>
                            </h6>

                            @for (link of sectionEditionLinks; track link.label) {
                                <awg-navbar-dropdown-link
                                    [label]="link.label"
                                    [route]="[...section.labeledRoute.route, ...link.route]" />
                            }
                            <div class="dropdown-divider"></div>
                        </div>
                    }
                </div>
            </li>

            <!-- Structure -->
            <li class="nav-item"><awg-navbar-item [item]="navbarItems.structure" /></li>
        </ul>

        <!-- Brand (Mobile) -->
        <div class="navbar-brand-container col-3 d-none d-sm-inline d-md-none ms-5 me-auto my-auto">
            <awg-logo [logoData]="logosData['awg']" linkClass="navbar-brand" />
        </div>

        <!-- Contact -->
        <ul class="navbar-nav my-auto">
            <li class="nav-item"><awg-navbar-item [item]="navbarItems.contact" /></li>
        </ul>
    </div>
</nav>
