<nav class="navbar navbar-expand-sm navbar-light">
    <!-- Brand -->
    <!-- length of 3 cols (4 on md), do not display on sm devices, no right margin, auto vertical align -->
    <a
        class="navbar-brand col-3 col-md-4 col-xl-3 d-sm-none d-md-inline mr-0 my-auto"
        href="{{ pageMetaData?.awgProjectUrl }}"
        target="_blank"
        rel="noopener noreferrer"
    >
        <span class="webernlogo">
            ANTON WEBERN <br />
            <span>GESAMTAUSGABE</span>
        </span>
    </a>

    <!-- Toggle button -->
    <button
        type="button"
        class="navbar-toggler"
        (click)="toggleNav()"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapsibleNavbar"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- collapsible navigation menu -->
    <!-- justify content between (left, center, right) from sm devices up -->
    <div id="collapsibleNavbar" class="collapse navbar-collapse justify-content-sm-between" [ngbCollapse]="isCollapsed">
        <!-- left nav links, no left margin from sm devices up, auto vertical align -->
        <ul class="navbar-nav ml-sm-0 my-auto">
            <li class="nav-item">
                <a class="nav-link d-flex" [routerLink]="['/home']" routerLinkActive="active">
                    <!-- do not show text on sm devices, change order from md devices up -->
                    <span class="d-sm-none d-md-inline order-md-2">awg-app</span>
                    <fa-icon [icon]="faHome"></fa-icon>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item" ngbDropdown>
                <a class="nav-link d-flex" id="dropdownNavEdition" ngbDropdownToggle>
                    <!-- do not show text on sm devices, change order from md devices up -->
                    <span class="d-sm-none d-md-inline">Beispieledition</span>
                    <fa-icon [icon]="faFileAlt" class="order-md-minus-1"></fa-icon>
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownNavEdition">
                    <h6 class="dropdown-header">Auswahl Skizzenkomplex</h6>
                    <a
                        *ngFor="let editionWork of editionWorks"
                        class="dropdown-item"
                        [routerLink]="[editionWork.baseRoute, editionWork.introRoute.route]"
                        routerLinkActive="active"
                        >{{ editionWork.work.full }}</a
                    >
                    <div class="dropdown-divider"></div>
                    <a
                        class="dropdown-item"
                        [routerLink]="[selectedEditionWork.baseRoute, selectedEditionWork.introRoute.route]"
                        routerLinkActive="active"
                        >Einleitung</a
                    >
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Edierter Notentext</h6>
                    <a
                        class="dropdown-item"
                        [routerLink]="[selectedEditionWork.baseRoute, selectedEditionWork.detailRoute.route]"
                        [queryParams]="{ sketch: 'Aa:SkI/2' }"
                        routerLinkActive="active"
                        >Aa:SkI/2</a
                    >
                    <a
                        class="dropdown-item"
                        [routerLink]="[selectedEditionWork.baseRoute, selectedEditionWork.detailRoute.route]"
                        [queryParams]="{ sketch: 'Aa:SkI/3' }"
                        routerLinkActive="active"
                        >Aa:SkI/3</a
                    >
                    <a
                        class="dropdown-item"
                        [routerLink]="[selectedEditionWork.baseRoute, selectedEditionWork.detailRoute.route]"
                        [queryParams]="{ sketch: 'Aa:SkI/4' }"
                        routerLinkActive="active"
                        >Aa:SkI/4</a
                    >
                    <a
                        class="dropdown-item"
                        [routerLink]="[selectedEditionWork.baseRoute, selectedEditionWork.detailRoute.route]"
                        [queryParams]="{ sketch: 'Aa:SkI/5' }"
                        routerLinkActive="active"
                        >Aa:SkI/5</a
                    >
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Kritischer Bericht</h6>
                    <a
                        class="dropdown-item"
                        [routerLink]="[selectedEditionWork.baseRoute, selectedEditionWork.reportRoute.route]"
                        >I. Quellen</a
                    >
                    <a
                        class="dropdown-item awg-subitem"
                        [routerLink]="[selectedEditionWork.baseRoute, selectedEditionWork.reportRoute.route]"
                        fragment="sourceList"
                        >1. Quellenübersicht</a
                    >
                    <a
                        class="dropdown-item awg-subitem"
                        [routerLink]="[selectedEditionWork.baseRoute, selectedEditionWork.reportRoute.route]"
                        fragment="sourceDesc"
                        >2. Quellenbeschreibung</a
                    >
                    <a
                        class="dropdown-item awg-subitem"
                        [routerLink]="[selectedEditionWork.baseRoute, selectedEditionWork.reportRoute.route]"
                        fragment="sourceEvaluation"
                        >3. Quellenbewertung</a
                    >
                    <a
                        class="dropdown-item"
                        [routerLink]="[selectedEditionWork.baseRoute, selectedEditionWork.reportRoute.route]"
                        fragment="tkaPanel"
                        >II. Textkritischer Kommentar</a
                    >
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex" [routerLink]="['/structure']" routerLinkActive="active">
                    <!-- do not show text on sm devices, change order from md devices up -->
                    <span class="d-sm-none d-md-inline order-md-2">Strukturmodell</span>
                    <fa-icon [icon]="faNetworkWired"></fa-icon>
                </a>
            </li>
        </ul>
        <!-- END left navbar -->
        <!-- brand to display on center on sm devices, auto vertical align -->
        <a
            class="navbar-brand col-3 col-md-4 col-xl-3 d-sm-inline d-md-none mr-0 my-auto"
            href="{{ pageMetaData?.awgProjectUrl }}"
            target="_blank"
            rel="noopener noreferrer"
        >
            <span class="webernlogo">
                ANTON WEBERN <br />
                <span>GESAMTAUSGABE</span>
            </span>
        </a>

        <!-- right nav links, auto vertical align -->
        <ul class="navbar-nav my-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/data/search', 'fulltext']" routerLinkActive="active">
                    <!-- do not show text on sm devices -->
                    <span class="d-sm-none d-lg-inline">Suche</span>
                    <fa-icon [icon]="faSearch"></fa-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active">
                    <!-- do not show text on sm devices-->
                    <span class="d-sm-none d-lg-inline">Kontakt</span>
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                </a>
            </li>
        </ul>
        <!-- END right navbar -->
    </div>
    <!-- END collapse -->
</nav>
