<nav class="navbar navbar-expand-sm navbar-light awg-main-navbar ps-4 pe-2">
    <!-- Brand -->
    <!-- length of 3 cols (4 on md), do not display on sm devices, no right margin, auto vertical align -->
    <a
        class="navbar-brand col-3 col-md-4 col-xl-3 d-sm-none d-md-inline me-0 my-auto"
        href="{{ pageMetaData?.awgProjectUrl }}">
        <span class="webernlogo">
            ANTON WEBERN <br />
            <span>GESAMTAUSGABE</span>
        </span>
    </a>

    <!-- Toggle button -->
    <button
        type="button"
        class="navbar-toggler"
        (click)="toggleNav()"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- collapsible navigation menu -->
    <!-- justify content between (left, center, right) from sm devices up -->
    <div id="collapsibleNavbar" class="collapse navbar-collapse justify-content-sm-between" [ngbCollapse]="isCollapsed">
        <!-- left nav links, no left margin from sm devices up, auto vertical align -->
        <ul class="navbar-nav ms-sm-0 my-auto">
            <li class="nav-item">
                <a class="nav-link d-flex" [routerLink]="['/home']" routerLinkActive="active">
                    <!-- do not show text on sm devices, change order from md devices up -->
                    <span class="d-sm-none d-md-inline order-md-2">awg-app</span>
                    <fa-icon [icon]="faHome"></fa-icon>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item" ngbDropdown [class.active]="isActiveRoute('/edition')">
                <a id="dropdownNavEdition" class="nav-link d-flex" ngbDropdownToggle>
                    <!-- do not show text on sm devices, change order from md devices up -->
                    <span class="d-sm-none d-md-inline">Edition</span>
                    <fa-icon [icon]="faFileAlt" class="order-md-minus-1"></fa-icon>
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownNavEdition">
                    <h6 class="dropdown-header">Allgemein</h6>
                    <a
                        class="dropdown-item"
                        [routerLink]="[editionRouteConstants.EDITION.route, editionRouteConstants.SERIES.route]"
                        routerLinkActive="active"
                        >Editionsübersicht</a
                    >
                    <a
                        class="dropdown-item"
                        [routerLink]="[editionRouteConstants.EDITION.route, editionRouteConstants.ROWTABLES.route]"
                        routerLinkActive="active"
                        >{{ editionRouteConstants.ROWTABLES.full }}</a
                    >
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Auswahl Skizzenkomplexe</h6>
                    <div class="dropdown-divider"></div>
                    <div *ngFor="let editionComplex of DISPLAYED_EDITION_COMPLEXES" class="awg-dropdown-complexes">
                        <h6 class="dropdown-header">
                            [{{ editionRouteConstants.EDITION.short }} {{ editionComplex.series.short }}/{{
                                editionComplex.section.short
                            }}]
                            <span [innerHTML]="editionComplex.complexId.full"></span>
                        </h6>
                        <a
                            class="dropdown-item"
                            [routerLink]="[editionComplex.baseRoute, editionRouteConstants.EDITION_INTRO.route]"
                            routerLinkActive="active"
                            >{{ editionRouteConstants.EDITION_INTRO.full }}</a
                        >
                        <a
                            class="dropdown-item"
                            [routerLink]="[editionComplex.baseRoute, editionRouteConstants.EDITION_SHEETS.route]"
                            routerLinkActive="active"
                            >{{ editionRouteConstants.EDITION_SHEETS.full }}</a
                        >
                        <a
                            class="dropdown-item"
                            [routerLink]="[editionComplex.baseRoute, editionRouteConstants.EDITION_REPORT.route]"
                            routerLinkActive="active"
                            >{{ editionRouteConstants.EDITION_REPORT.full }}</a
                        >
                        <div class="dropdown-divider"></div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex" [routerLink]="['/structure']" routerLinkActive="active">
                    <!-- do not show text on sm devices, change order from md devices up -->
                    <span class="d-sm-none d-md-inline order-md-2">Strukturmodell</span>
                    <fa-icon [icon]="faNetworkWired"></fa-icon>
                </a>
            </li>
        </ul>
        <!-- END left navbar -->
        <!-- brand to display on center on sm devices, auto vertical align -->
        <a
            class="navbar-brand col-3 col-md-4 col-xl-3 d-sm-inline d-md-none me-0 my-auto"
            href="{{ pageMetaData?.awgProjectUrl }}">
            <span class="webernlogo">
                ANTON WEBERN <br />
                <span>GESAMTAUSGABE</span>
            </span>
        </a>

        <!-- right nav links, auto vertical align -->
        <ul class="navbar-nav my-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/data']" routerLinkActive="active">
                    <!-- do not show text on sm devices -->
                    <span class="d-sm-none d-lg-inline">Suche</span>
                    <fa-icon [icon]="faSearch"></fa-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active">
                    <!-- do not show text on sm devices-->
                    <span class="d-sm-none d-lg-inline">Kontakt</span>
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                </a>
            </li>
        </ul>
        <!-- END right navbar -->
    </div>
    <!-- END collapse -->
</nav>
