<!-- embedded svg: Edition Folio Viewer -->
@if (folioSvgDataArray && !UTILS.isEmptyArray(folioSvgDataArray)) {
    @let colSize = 12 / folioSvgDataArray.length;
    @let sheetId = selectedSvgSheet?.id ?? '';

    <div class="container-fluid svgGrid">
        <div class="row svgRow">
            @for (folioSvgData of folioSvgDataArray; track folioSvgData.sheet?.folioId) {
                @let folioId = folioSvgData.sheet?.folioId ?? '';
                @let svgId = `folio-${sheetId}-${folioId}`;

                <div class="col-sm-6 col-lg-{{ colSize }} svgCol">
                    <span class="text-muted">[{{ folioId }}]</span>
                    <svg [id]="svgId"></svg>
                </div>
            }
        </div>
    </div>
}
