<div class="awg-router-link-btn-group para d-flex justify-content-between" aria-label="Router link button group">
    @for (
        routerLinkButton of routerLinkButtons();
        track $index;
        let i = $index;
        let isFirst = $first;
        let isLast = $last
    ) {
        <a
            class="awg-router-link-btn"
            [class.first]="isFirst"
            [class.last]="isLast"
            [class.disabled]="routerLinkButton.disabled"
            [attr.aria-disabled]="routerLinkButton.disabled || null"
            [routerLink]="routerLinkButton.disabled ? null : [routerLinkButton.root, routerLinkButton.link]"
            [queryParamsHandling]="queryParamsHandling()"
            routerLinkActive="active"
            (awgClick)="selectButton(routerLinkButton)">
            {{ routerLinkButton.label | uppercase }}
        </a>
    }
</div>
