@if (selectedSvgSheet) {
    <div class="awg-edition-sheet-viewer">
        <div class="awg-edition-sheet-viewer-icon-bar">
            <awg-slider-zoom
                class="awg-edition-sheet-viewer-slider-zoom float-start mx-2r my-2"
                [config]="sliderConfig"
                [value]="zoomValue()"
                (valueChange)="onZoomChange($event)"
                (resetRequest)="resetZoom()" />
        </div>
        <div #svgSheetContainer class="awg-edition-svg-sheet-container px-2r">
            <svg #svgSheetElement id="awg-edition-svg-sheet">
                <g #svgSheetRootGroup id="awg-edition-svg-sheet-root-group" />
            </svg>

            <awg-license />

            @if (hasAvailableTkkOverlays || suppliedClasses.length > 0) {
                <awg-edition-sheet-viewer-additions-panel
                    [sheetId]="selectedSvgSheet.id"
                    [suppliedClasses]="suppliedClasses"
                    [hasTkkOverlays]="hasAvailableTkkOverlays"
                    (visibilityChange)="onAdditionVisibilityChange($event)" />
            }
        </div>

        <!-- Next and previous buttons -->
        <awg-edition-sheet-viewer-nav (browseRequest)="browseSvgSheet($event)" />
    </div>
}
