<div class="awg-edition-sheet-viewer">
    <div class="awg-edition-sheet-viewer-icon-bar">
        <awg-slider-zoom
            class="awg-edition-sheet-viewer-slider-zoom float-start mx-2r my-2"
            [zoomConfig]="zoomConfig"
            [(zoomValue)]="zoomValue"
            (resetRequest)="sheetSvg.resetZoom()" />
    </div>

    <awg-edition-sheet-viewer-svg
        #sheetSvg
        class="awg-edition-sheet-viewer-svg-container px-2r"
        [selectedSvgSheet]="selectedSvgSheet()"
        [zoomConfig]="zoomConfig"
        [(zoomValue)]="zoomValue"
        (selectLinkBoxRequest)="selectLinkBoxRequest.emit($event)"
        (selectOverlaysRequest)="selectOverlaysRequest.emit($event)" />

    <!-- Next and previous buttons -->
    <awg-edition-sheet-viewer-nav (browseRequest)="browseRequest.emit($event)" />
</div>
