@import '/src/assets/themes/scss/shared';

.awg-edition-sheet-viewer {
    // Positioning context for the absolutely positioned nav buttons
    position: relative;
    width: 100%;

    .awg-edition-sheet-viewer-icon-bar {
        position: relative;
        width: 100%;
    }

    .awg-edition-svg-sheet-container {
        height: 100%;
        box-shadow: 5px 5px 6px rgba(204, 204, 204, 1); /* rgba converted HEX #cccccc */
        border: 1px solid $border-grey;
        border-radius: 5px;
    }
}
