@if (poweredByData(); as data) {
    <div class="awg-powered-by text-lowercase">
        Built on <awg-logo [logoData]="data.githubLogo" class="icon" />
        <br class="d-md-none" />
        with <awg-logo [logoData]="data.angularLogo" class="icon" /> and
        <awg-logo [logoData]="data.bootstrapLogo" class="icon" />
        <span>
            |
            <a id="dev-preview-link" [href]="data.devUrl"
                ><fa-icon [title]="'Preview for the develop branch'" [icon]="faScrewdriverWrench" /></a
        ></span>
    </div>
}
