@if (poweredBydata(); as data) {
    <div class="awg-powered-by text-lowercase">
        Built on <awg-footer-logo [logo]="data.logos['github']" class="icon" />
        <br class="d-md-none" />
        with <awg-footer-logo [logo]="data.logos['angular']" class="icon" /> and
        <awg-footer-logo [logo]="data.logos['bootstrap']" class="icon" />
        <span>
            |
            <a id="dev-preview-link" [href]="data.page.awgAppDevUrl"
                ><fa-icon [title]="'Preview for develop'" [icon]="faScrewdriverWrench" /></a
        ></span>
    </div>
}
