<div class="btn-group btn-group-justified btn-group-responsive" role="group" aria-label="Search button group">
    <div class="btn-group" role="group"
         *ngFor="let button of buttonArray">
        <button type="button" class="btn btn-default"
                [routerLink]="[button.root, button.link]"
                routerLinkActive="active"
                [disabled]="button.disabled"
                (click)="onButtonSelect(button.label)">
        {{ button.label }}
        </button>
    </div>
</div>
