@if (headerLabel()) {
    <div
        class="awg-statistics-progress-header mb-1"
        [class.d-flex]="progressHeaderValue() !== ''"
        [class.justify-content-between]="progressHeaderValue() !== ''">
        <span>{{ headerLabel() }}</span>

        @if (progressHeaderValue() !== '') {
            <span>{{ progressHeaderValue() }}</span>
        }
    </div>
}

<div class="awg-statistics-progress-container d-flex align-items-center">
    <ngb-progressbar
        class="flex-grow-1"
        [class.me-2]="showPercentageLabel()"
        [type]="progressBarColorType() || customClasses()"
        [height]="height()"
        [value]="progressBarWidth()"
        [ariaLabel]="headerLabel() || 'Progress Bar'" />
    @if (showPercentageLabel()) {
        <small
            class="text-nowrap awg-statistics-progress-label"
            [class.fw-bold]="boldPercentageLabel()"
            [class.text-muted]="progressBarWidth() === 0"
            >{{ progressBarWidth() }}%</small
        >
    }
</div>
