#awg-force-graph-container {
    position: relative;
    width: 100%;
}

#awg-force-graph-container > .awg-force-graph-icon-bar {
    position: relative;
    width: 100%;
}

.awg-force-graph-panel-container {
    position: inherit;
    height: 100%;
}

/* slider */
.input-group.awg-force-graph-zoom-slider-container {
    flex-wrap: nowrap;
    width: auto;
}
#slider-label.input-group-text {
    width: 50px;
    color: rgba(20, 155, 158, 1); /* rgba converted HEX #149b9e */
}

/* slider input */
input[type='range'].awg-force-graph-zoom-slider {
    width: 100%;
    margin: 6px 0;
    background-color: transparent;
    -webkit-appearance: none;
}
input[type='range'].awg-force-graph-zoom-slider:focus {
    outline: none;
}
input[type='range'].awg-force-graph-zoom-slider::-webkit-slider-runnable-track {
    background: rgba(221, 221, 221, 0.78);
    border: 0.2px solid #dddddd;
    border-radius: 1.3px;
    width: 100%;
    height: 31px;
    cursor: pointer;
}
input[type='range'].awg-force-graph-zoom-slider::-webkit-slider-thumb {
    margin-top: -6.7px;
    width: 15px;
    height: 30px;
    background: rgba(20, 155, 158, 1); /* rgba converted HEX #149b9e */
    border: 1.8px solid rgba(20, 155, 158, 1); /* rgba converted HEX #149b9e */
    border-radius: 10px;
    cursor: pointer;
    -webkit-appearance: none;
}
input[type='range'].awg-force-graph-zoom-slider:focus::-webkit-slider-runnable-track {
    background: #e5e5e5;
}
input[type='range'].awg-force-graph-zoom-slider::-moz-range-track {
    background: rgba(221, 221, 221, 0.78);
    border: 0.2px solid #dddddd;
    border-radius: 1.3px;
    width: 100%;
    height: 31px;
    cursor: pointer;
}
input[type='range'].awg-force-graph-zoom-slider::-moz-range-thumb {
    width: 15px;
    height: 30px;
    background: rgba(20, 155, 158, 1); /* rgba converted HEX #149b9e */
    border: 1.8px solid rgba(20, 155, 158, 1); /* rgba converted HEX #149b9e */
    border-radius: 10px;
    cursor: pointer;
}
input[type='range'].awg-force-graph-zoom-slider::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 7.4px 0;
    color: transparent;
    width: 100%;
    height: 31px;
    cursor: pointer;
}
input[type='range'].awg-force-graph-zoom-slider::-ms-fill-lower {
    background: #d5d5d5;
    border: 0.2px solid #dddddd;
    border-radius: 2.6px;
}
input[type='range'].awg-force-graph-zoom-slider::-ms-fill-upper {
    background: rgba(221, 221, 221, 0.78);
    border: 0.2px solid #dddddd;
    border-radius: 2.6px;
}
input[type='range'].awg-force-graph-zoom-slider::-ms-thumb {
    width: 15px;
    height: 30px;
    background: rgba(20, 155, 158, 1); /* rgba converted HEX #149b9e */
    border: 1.8px solid rgba(20, 155, 158, 1); /* rgba converted HEX #149b9e */
    border-radius: 10px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}
input[type='range'].awg-force-graph-zoom-slider:focus::-ms-fill-lower {
    background: rgba(221, 221, 221, 0.78);
}
input[type='range'].awg-force-graph-zoom-slider:focus::-ms-fill-upper {
    background: #e5e5e5;
}

/* Simulation nodes */
:host ::ng-deep .node {
    stroke: #fff;
    fill: #ddd;
    stroke-width: 1.5px;
}
:host ::ng-deep .blank {
    stroke: #fff;
    fill: #000 !important;
    stroke-width: 1.5px;
}
:host ::ng-deep .blank.instance {
    stroke: #fff;
    fill: #000;
    stroke-width: 1.5px;
}
:host ::ng-deep .class {
    stroke: #fff;
    fill: rgb(158, 0, 0);
    stroke-width: 1.5px;
}
:host ::ng-deep .instance {
    stroke: #fff;
    fill: rgb(32, 178, 170);
    stroke-width: 1.5px;
}
:host ::ng-deep .instance-space {
    stroke: #fff;
    fill: rgb(0, 191, 255);
    stroke-width: 1.5px;
}
:host ::ng-deep .instance-spaceType {
    stroke: #fff;
    fill: rgb(0, 0, 139);
    stroke-width: 1.5px;
}

:host ::ng-deep .link {
    fill: none;
    stroke: #999;
    stroke-opacity: 0.6;
    stroke-width: 1px;
}

:host ::ng-deep marker {
    stroke: #999;
    fill: rgba(124, 240, 10, 0);
}

:host ::ng-deep .node-text {
    font: 15px 'Roboto', sans-serif;
    fill: black;
}

:host ::ng-deep .link-text {
    font: 13px 'Roboto', sans-serif;
    fill: grey;
}
