<div id="awg-force-graph-container" class="awg-forc-graph-panel-container" [ngStyle]="{ 'height.px': height }" #graph>
    <div class="awg-force-graph-icon-bar">
        <div class="input-group input-group-sm awg-force-graph-zoom-slider-container float-left mb-3">
            <div class="input-group-prepend">
                <span #sliderInputLabel class="input-group-text" id="slider-label">{{ sliderConfig.value }}x</span>
            </div>
            <input
                type="range"
                #sliderInput
                class="awg-force-graph-zoom-slider"
                id="awg-force-graph-zoom-slider"
                name="zoomSlider"
                aria-label="Zoom slider"
                aria-describedby="slider-label"
                [min]="sliderConfig.min"
                [max]="sliderConfig.max"
                [step]="sliderConfig.step"
                [(ngModel)]="sliderConfig.value"
                (ngModelChange)="onZoomChange($event)"
            />
            <div class="input-group-append">
                <button class="btn btn-sm btn-outline-info" type="submit" title="Reset" (click)="onReCenter()">
                    <fa-icon [icon]="faCompressArrowsAlt"></fa-icon>
                </button>
            </div>
        </div>

        <!-- Limit -->
        <div class="btn-group float-right my-auto" *ngIf="queryResultTriples">
            <button type="button" class="btn btn-sm btn-outline-info" disabled aria-disabled="true">
                <span *ngIf="limit < queryResultTriples.length">{{ limit }} von </span
                >{{ queryResultTriples.length }} Triples
            </button>
            <div
                class="btn-group"
                ngbDropdown
                container="body"
                role="group"
                aria-label="Button group with nested dropdown for node limit"
            >
                <button
                    class="btn btn-sm btn-info dropdown-toggle-split"
                    ngbDropdownToggle
                    [disabled]="queryResultTriples.length === 0"
                ></button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <ng-container *ngFor="let limitValue of limitValues">
                        <button
                            *ngIf="queryResultTriples.length > limitValue"
                            class="dropdown-item"
                            (click)="onLimitValueChange(limitValue)"
                        >
                            <span>{{ limitValue }}</span>
                        </button>
                    </ng-container>
                    <button class="dropdown-item" (click)="onLimitValueChange(queryResultTriples.length)">
                        <span>Kein Limit</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- <span *ngIf="message" class="message">{{message}}</span> -->
    </div>
</div>
