<div id="svg-wrapper" class="svg-panel-wrapper" [ngStyle]="{ 'height.px': height }" #graph>
    <div class="icon-bar" fxLayout="row" [ngStyle]="{ top: '0px' }">
        <!-- Limit -->
        <div class="btn-group float-right" *ngIf="queryResultTriples">
            <button type="button" class="btn btn-outline-info" disabled aria-disabled="true">
                <span *ngIf="limit !== queryResultTriples.length">{{ limit }} von </span
                >{{ queryResultTriples.length }} Triples
            </button>
            <div
                class="btn-group"
                ngbDropdown
                role="group"
                aria-label="Button group with nested dropdown for node limit"
            >
                <button
                    class="btn btn-info dropdown-toggle-split"
                    ngbDropdownToggle
                    [disabled]="queryResultTriples.length === 0"
                ></button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <ng-container *ngFor="let limitValue of limitValues">
                        <button
                            *ngIf="queryResultTriples.length > limitValue"
                            class="dropdown-item"
                            (click)="onLimitValueChange(limitValue)"
                        >
                            <span>{{ limitValue }}</span>
                        </button>
                    </ng-container>
                    <button class="dropdown-item" (click)="onLimitValueChange(queryResultTriples.length)">
                        <span>Kein Limit</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- <span *ngIf="message" class="message">{{message}}</span> -->

        <!-- Spacer -->
        <span fxFlex="grow"></span>

        <!-- Spacer -->
        <span fxFlex="5px"></span>
    </div>
</div>
