.spinner {
    height: 140px;
    width: 140px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    > div {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    > div:before {
        content: '\2669';
        margin: 0 auto;
        display: block;
        width: 15%;
        height: 15%;
        border-radius: 100%;
        -webkit-animation: spinner-circleBounceDelay 1.2s infinite ease-in-out both;
        animation: spinner-circleBounceDelay 1.2s infinite ease-in-out both;
    }

    > .spinner-note6:before,
    > .spinner-note12:before {
        /* UNICODE FLAT SIGN, see https://www.unicode.org/Public/UCD/latest/charts/CodeCharts.pdf, p. 280*/
        content: '\266D';
    }

    > .spinner-note3:before,
    > .spinner-note9:before {
        /* UNICODE SHARP SIGN, see https://www.unicode.org/Public/UCD/latest/charts/CodeCharts.pdf, p. 280*/
        content: '\266F';
    }

    > .spinner-load-text > p {
        /* border: 1px solid blue; */
        margin-top: 30%;
        margin-bottom: 30%;
        text-align: center;
    }
}

/* Calculate rotation */
@for $i from 2 through 12 {
    .spinner-note#{$i} {
        $rotation: 30deg * ($i - 1);
        -webkit-transform: rotate($rotation);
        -ms-transform: rotate($rotation);
        transform: rotate($rotation);
    }
}

/* Calculate delay */
@for $i from 2 through 12 {
    .spinner .spinner-note#{$i}:before {
        $delay: -1.2 + ($i - 1) * 0.1;
        -webkit-animation-delay: #{$delay}s;
        animation-delay: #{$delay}s;
    }
}

@-webkit-keyframes spinner-circleBounceDelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes spinner-circleBounceDelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
