.twelve-tone-spinner {
    height: 140px;
    width: 140px;
    position: relative;
    margin: auto;

    > div {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    > .twelve-tone-spinner-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;

        > p {
            margin: 0;
            text-align: center;
        }
    }

    > .twelve-tone-spinner-note {
        &:before {
            margin: 0 auto;
            display: block;
            width: 15%;
            height: 15%;
            border-radius: 100%;
            animation: spinner-circleBounceDelay 1.2s infinite cubic-bezier(0.16, 1, 0.3, 1) both;
        }

        &:not([data-note='0']) {
            transform: rotate(calc(30deg * (var(--index))));

            &:before {
                animation-delay: calc(-1.2s + (var(--index)) * 0.1s);
            }
        }

        @for $i from 0 through 11 {
            &[data-note='#{$i}'] {
                &:before {
                    @if $i == 0 or $i == 6 {
                        content: '\266F'; // Sharp Sign ♯
                    } @else if $i == 3 or $i == 9 {
                        content: '\266D'; // Flat Sign ♭
                    } @else {
                        content: '\2669'; // Quarter Note ♩
                    }
                }
            }
        }
    }
}

@keyframes spinner-circleBounceDelay {
    0% {
        transform: scale(0.4);
        opacity: 0;
        filter: blur(1px);
    }
    8% {
        transform: scale(1);
        opacity: 1;
        filter: blur(0);
    }
    45% {
        transform: scale(1);
        opacity: 1;
    }
    65%,
    100% {
        transform: scale(0.4);
        opacity: 0;
    }
}
