<div class="twelveTone-spinner">
    <div class="twelveTone-loadText twelveTone-child">
        <p>loading</p>
    </div>
    <div class="twelveTone-note1 twelveTone-child"></div>
    <div class="twelveTone-note2 twelveTone-child"></div>
    <div class="twelveTone-note3 twelveTone-child"></div>
    <div class="twelveTone-note4 twelveTone-child"></div>
    <div class="twelveTone-note5 twelveTone-child"></div>
    <div class="twelveTone-note6 twelveTone-child"></div>
    <div class="twelveTone-note7 twelveTone-child"></div>
    <div class="twelveTone-note8 twelveTone-child"></div>
    <div class="twelveTone-note9 twelveTone-child"></div>
    <div class="twelveTone-note10 twelveTone-child"></div>
    <div class="twelveTone-note11 twelveTone-child"></div>
    <div class="twelveTone-note12 twelveTone-child"></div>
</div>
