<div class="awg-home-view-card card h-100 shadow text-center">
    @let cardData = this.cardData();

    <img [src]="cardData.imgSrc" class="card-img-top" [alt]="cardData.imgAlt" />
    <div class="card-body">
        <h5 class="card-title">{{ cardData.title }}</h5>
        <p class="card-text">{{ cardData.text }}</p>
    </div>
    <div class="card-footer">
        <ng-template #linkTemplate>
            <span><fa-icon class="me-2" [icon]="faArrowRight" />{{ cardData.linkText }}</span>
        </ng-template>

        @switch (cardData.link.type) {
            @case ('internal') {
                <a class="btn btn-info text-light stretched-link" [routerLink]="cardData.link.route"
                    ><ng-container *ngTemplateOutlet="linkTemplate"
                /></a>
            }
            @case ('external') {
                <a class="btn btn-info text-light stretched-link" [href]="cardData.link.href"
                    ><ng-container *ngTemplateOutlet="linkTemplate"
                /></a>
            }
        }
    </div>
</div>
