<!-- content: intro -->
<div>
    <!-- modal -->
    <awg-modal #modal></awg-modal>

    <!-- intro -->
    @if (editionIntroData$ | async; as editionIntroData) {
        <div class="awg-intro-view p-5 border rounded-3">
            <div class="row">
                @if (utils.isNotEmptyArray(editionIntroData.intro[currentLanguage].content)) {
                    <div class="col-12 col-xl-10 awg-intro-content">
                        @for (introBlock of editionIntroData.intro[currentLanguage].content; track $index) {
                            <section class="awg-intro-section" [id]="introBlock.blockId">
                                @if (introBlock.blockHeader) {
                                    <div class="awg-intro-para">
                                        <p class="heading" [innerHTML]="introBlock.blockHeader"></p>
                                    </div>
                                }
                                @if (introBlock.blockContent.length > 0) {
                                    @for (blockContent of introBlock.blockContent; track $index) {
                                        <div
                                            class="awg-intro-para"
                                            [compile-html]="blockContent"
                                            [compile-html-ref]="this"></div>
                                    }
                                }
                            </section>
                        }
                        @if (utils.isNotEmptyArray(editionIntroData.intro[currentLanguage].footnotes)) {
                            <section class="awg-intro-section mt-5" id="comments">
                                <hr />
                                <h5>Anmerkungen</h5>
                                <div class="awg-intro-footnotes">
                                    @for (footnote of editionIntroData.intro[currentLanguage].footnotes; track $index) {
                                        <small
                                            ><p
                                                class="awg-intro-footnote"
                                                [compile-html]="footnote"
                                                [compile-html-ref]="this"></p
                                        ></small>
                                    }
                                </div>
                            </section>
                        }
                    </div>

                    <div class="col-12 col-xl-2 d-none d-xl-block awg-intro-nav">
                        <ul class="nav flex-column">
                            <awg-language-switcher
                                [currentLanguage]="currentLanguage"
                                (languageChangeRequest)="setLanguage($event)">
                            </awg-language-switcher>
                            <hr class="mt-0 mb-2" />
                            @for (introBlock of editionIntroData.intro[currentLanguage].content; track $index) {
                                @if (introBlock.blockHeader) {
                                    <li class="nav-item small">
                                        <a
                                            class="nav-link awg-intro-nav-link pt-0"
                                            [routerLink]="'.'"
                                            [fragment]="introBlock.blockId"
                                            [innerHTML]="introBlock.blockHeader"></a>
                                    </li>
                                }
                            }
                            @if (utils.isNotEmptyArray(editionIntroData.intro[currentLanguage].footnotes)) {
                                <hr class="mb-2" />
                                <li class="nav-item small">
                                    <a class="nav-link awg-intro-nav-link pt-0" [routerLink]="'.'" fragment="comments"
                                        >Anmerkungen</a
                                    >
                                </li>
                            }
                        </ul>
                    </div>
                } @else {
                    <div class="col-12">
                        <p class="awg-intro-empty">
                            <small class="text-muted"
                                >[Die Einleitung zum Editionskomplex
                                <span [innerHTML]="editionComplex.complexId.full"></span> erscheint im Zusammenhang der
                                vollständigen Edition von <span [innerHTML]="editionComplex.complexId.short"></span> in
                                {{ editionRouteConstants.EDITION.short }}
                                {{ editionComplex.pubStatement.series.short }}/{{
                                    editionComplex.pubStatement.section.short
                                }}.]
                            </small>
                        </p>
                    </div>
                }
            </div>
        </div>
    } @else {
        <!-- error message -->
        @if (errorObject) {
            <awg-error-alert [errorObject]="errorObject"></awg-error-alert>
        } @else {
            <!-- loading spinner -->
            <awg-twelve-tone-spinner></awg-twelve-tone-spinner>
        }
    }
</div>
