.awg-intro-content {
    margin-top: 1.5em;

    .awg-intro-note,
    .awg-intro-para {
        text-align: justify;
        text-justify: inter-word;

        &::ng-deep {
            .link-todo {
                background-color: chartreuse;
            }

            .corrigenda {
                background-color: burlywood;
            }

            .errata {
                background-color: red;
            }

            .note-1-dig {
                margin-left: 1.3em;
                text-indent: -1.3em;
            }

            .note-2-dig {
                margin-left: 1.8em;
                text-indent: -1.8em;
            }

            .note-3-dig {
                margin-left: 2.3em;
                text-indent: -2.3em;
            }
        }
    }

    .awg-intro-para {
        margin: 0;
        text-indent: 1.5em;

        &::ng-deep {
            p {
                margin-bottom: 0 !important;
            }

            table > tbody > tr > td {
                padding-right: 10px;
            }

            .heading {
                display: block;
                font-weight: bold;
                margin: 1.5em 0;
                text-indent: 0;
            }

            .small,
            .no-indent {
                text-indent: 0;
            }

            .spacebreak {
                display: block;
                margin-top: 1em;

                &.list {
                    text-indent: 0;
                }

                &.no-indent {
                    margin-left: 0;
                }
            }

            .list {
                margin-left: 1em;
                text-indent: -1em;
            }
        }
    }
}

.awg-intro-nav .nav {
    position: sticky;
    top: 0;

    .nav-item {
        text-align: end;

        a.active {
            color: #000;
        }

        .nav-link {
            padding-right: 0;
        }
    }
}
