<!-- content: intro -->
<div>
    <!-- intro -->
    @if (viewData(); as view) {
        @if (view.error; as errorObject) {
            <awg-alert-error [errorObject]="errorObject" />
        } @else if (view.isLoading) {
            <awg-twelve-tone-spinner />
        } @else {
            @let complex = selectedEditionComplex();
            @let lang = selectedLanguage();
            @let notesLabel = notesSectionLabel();
            @let introContent = view.data.introData?.intro?.[lang]?.content || [];

            <div class="awg-edition-intro-view p-5 border rounded-3">
                <div class="row justify-content-center">
                    @if (!introContent.length) {
                        <awg-edition-intro-placeholder
                            class="col-12"
                            [editionComplex]="complex"
                            [editionLabel]="editionRouteConstants.EDITION.short" />
                    } @else {
                        @if (complex) {
                            <awg-edition-intro-partial-disclaimer class="col-12 col-xl-6" [editionComplex]="complex" />
                        }
                        <awg-edition-intro-content
                            class="col-12 col-xl-10"
                            [introBlockContent]="introContent"
                            [notesLabel]="notesLabel" />

                        <awg-edition-intro-nav
                            class="col-12 col-xl-2 d-none d-xl-block"
                            [introBlockContent]="introContent"
                            [notesLabel]="notesLabel"
                            [(selectedLanguage)]="selectedLanguage" />
                    }
                </div>
            </div>
        }
    }
</div>
