<!-- Data: Triples, query, result -->

<div *ngIf="graphRDFInputData" class="row">
    <!-- awg-graph-triples-editor -->
    <div class="col-lg-6 pr-lg-0">
        <awg-triples-editor
            [triples]="triples"
            (updateTriplesRequest)="triples = $event"
            (resetTriplesRequest)="setInitialTriples()"
            (queryRequest)="doQuery()"
        ></awg-triples-editor>
    </div>

    <!-- awg-graph-query-editor -->
    <div class="col-lg-6 pl-lg-0">
        <awg-sparql-editor
            [queryList]="queryList"
            [query]="query"
            (updateQueryRequest)="query.queryString = $event"
            (resetQueryRequest)="resetQuery($event)"
            (queryRequest)="doQuery()"
        ></awg-sparql-editor>
    </div>

    <!-- Results -->
    <div class="col-12">
        <!-- CONSTRUCT -->
        <!-- awg-graph-construct-result -->
        <ngb-accordion
            #queryConstructResultAcc
            activeIds="awg-graph-construct-result"
            *ngIf="queryType === 'construct'"
        >
            <ngb-panel id="awg-graph-construct-result" title="Resultat">
                <ng-template ngbPanelContent>
                    <div *ngIf="queryResult | async as queryResult; else loading">
                        <div *ngIf="queryResult.length > 0; else noResult">
                            <!-- SPARQL graph visualization -->
                            <awg-force-graph
                                class="full-width"
                                [queryResultTriples]="queryResult"
                                [height]="defaultForceGraphHeight"
                                (clickedNodeRequest)="onGraphClick($event)"
                            >
                            </awg-force-graph>
                        </div>
                        <ng-template #noResult>
                            <awg-force-graph-no-result [height]="defaultForceGraphHeight"></awg-force-graph-no-result>
                        </ng-template>
                    </div>
                    <ng-template #loading>
                        <awg-twelve-tone-spinner></awg-twelve-tone-spinner>
                    </ng-template>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>

        <!-- SELECT -->
        <!-- awg-graph-select-result -->
        <ng-template #querySelectResultAcc>
            <awg-select-results
                *ngIf="queryType === 'select'; else queryUnsupportedTypeAcc"
                [queryResult]="queryResult"
            ></awg-select-results>
        </ng-template>
    </div>
</div>
