<!-- Data: Triples, SPARQL query, result -->

<div *ngIf="graphRDFInputData" class="row">
    <!-- awg-graph-triples-editor -->
    <div class="col-lg-6 pr-lg-0">
        <awg-triples-editor
            [triples]="triples"
            (updateTriplesRequest)="triples = $event"
            (resetTriplesRequest)="resetTriples()"
            (performQueryRequest)="performQuery()"
        ></awg-triples-editor>
    </div>

    <!-- awg-graph-sparql-editor -->
    <div class="col-lg-6 pl-lg-0">
        <awg-sparql-editor
            [queryList]="queryList"
            [query]="query"
            (updateQueryStringRequest)="query.queryString = $event"
            (resetQueryRequest)="resetQuery($event)"
            (performQueryRequest)="performQuery()"
        ></awg-sparql-editor>
    </div>

    <!-- Results -->
    <div class="col-12">
        <!-- CONSTRUCT -->
        <!-- awg-graph-construct-result -->
        <awg-construct-results
            #queryConstructResultAcc
            *ngIf="queryType === 'construct'; else querySelectResultAcc"
            [queryResult]="queryResult"
            [defaultForceGraphHeight]="defaultForceGraphHeight"
            (clickedNodeRequest)="onGraphNodeClick($event)"
        ></awg-construct-results>

        <!-- SELECT -->
        <!-- awg-graph-select-result -->
        <ng-template #querySelectResultAcc>
            <awg-select-results
                *ngIf="queryType === 'select'; else queryUnsupportedTypeAcc"
                [queryResult]="queryResult"
                (clickedTableRequest)="onTableClick($event)"
            ></awg-select-results>
        </ng-template>

        <!-- OTHERS -->
        <!-- awg-graph-unsupported-query-type-result -->
        <ng-template #queryUnsupportedTypeAcc>
            <awg-unsupported-type-results [queryType]="queryType"></awg-unsupported-type-results>
        </ng-template>
    </div>
</div>
