.awg-edition-intro-nav .nav {
    position: sticky;
    top: 0;

    .nav-item {
        text-align: end;

        a.active {
            color: #000;
        }

        .nav-link {
            padding-right: 0;
        }
    }
}
