.awg-edition-preface-block {
    margin: 0;
    text-indent: 1.5em;
    text-align: justify;
    text-justify: inter-word;

    &::ng-deep {
        p {
            margin-bottom: 0 !important;
        }

        %block-style {
            margin-top: 1em;
            margin-left: 0;
        }

        %no-indent {
            text-indent: 0;
        }

        .block-lead {
            @extend %block-style;
            @extend %no-indent;
        }

        .small {
            @extend %no-indent;
            font-size: 0.875em;
        }

        img.awg-preface-img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        div.table-responsive {
            @extend %block-style;
            @extend .small;
        }

        figure {
            @extend %block-style;
            text-align: center;
        }

        table {
            text-wrap: nowrap;

            th,
            td {
                padding-right: 20px;
                font-weight: normal;
            }
        }

        ul {
            padding-left: 0;
            list-style-position: inside;
            list-style-type: '\2013\20';

            li {
                @extend %no-indent;
            }
        }
    }
}
