@import '/src/assets/themes/scss/shared';

.awg-language-switcher {
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    text-align: end;

    a {
        cursor: pointer;
        text-decoration: none;
        color: inherit;
        // disable the active link style
        &.active,
        &.active:hover {
            cursor: default;
            color: inherit;
        }
        &:not(.active) {
            color: $link-color;
        }
        &:hover {
            border-bottom: none !important;
        }
    }
}

.awg-preface-para {
    margin: 0;
    text-indent: 25px;
    text-align: justify;
    text-justify: inter-word;

    &::ng-deep {
        .heading {
            display: block;
            margin-bottom: 25px;
            font-size: 1.5em;
            font-weight: bold;
        }
        .heading,
        .small,
        .no-indent {
            text-indent: 0;
        }
        .small:not(.spacebreak),
        .no-indent {
            margin-left: -25px;
        }
        .spacebreak {
            display: block;
            margin-top: 25px;

            &.no-indent {
                margin-left: 0;
            }
        }
    }
}
