<!-- TODO: layout of buttons -->


<button md-raised-button
        *ngFor="let sheet of sheets | mapToIterable"
        [class.active]="isSelectedSheet(sheet.mappedValues)"
        (click)="selectSheet(sheet.mappedValues)">
    {{ sheet.mappedKey }}
</button>

<md-tab-group>
    <md-tab
        *ngFor="let sheet of sheets | mapToIterable"
        [label]="sheet.mappedKey">
        Content 1
    </md-tab>
</md-tab-group>

<nav md-tab-nav-bar>
    <a md-tab-link
       *ngFor="let sheet of sheets | mapToIterable"
       [routerLink]="['/edition/detail', sheet.mappedKey]"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
        {{sheet.mappedKey}}
    </a>
</nav>
