<div class="container-fluid text-start">
    @let activeSide = activateSideOutlet();

    <div class="row" [class.justify-content-center]="!activeSide">
        <div class="awg-maincontent text-start my-4" [class]="activeSide ? 'col-md-8 col-xl-9' : 'col-md-10'">
            <router-outlet />
        </div>

        @if (activeSide) {
            <div class="awg-side-outlet col-md-4 col-xl-3 order-first text-center my-4">
                <router-outlet name="side" />
            </div>
        }
    </div>
</div>
