<div class="container-fluid text-start">
    <div class="row" [ngClass]="{ 'justify-content-center': !showSideOutlet }">
        <div
            class="my-4 awg-maincontent text-start"
            [ngClass]="{ 'col-md-8 col-xl-9': showSideOutlet, 'col-md-10': !showSideOutlet }">
            <router-outlet />
        </div>

        @if (showSideOutlet) {
            <div class="col-md-4 col-xl-3 order-first mt-4 awg-side-outlet text-center">
                <router-outlet name="side"></router-outlet>
            </div>
        }
    </div>
</div>
