<div>
    <!-- embedded svg: Aa:SkI/2 -->
    <div class="svg edition-svg" *ngIf="isSelectedSvgSheet(svgSheetLabels.sheet2)">
        <svg
            version="1.1"
            xmlns="https://www.w3.org/2000/svg"
            xmlns:xlink="https://www.w3.org/1999/xlink"
            viewBox="0 0 1000 508"
            [id]="selectedSvgSheet.id"
        >
            <svg:image xlink:href [attr.xlink:href]="selectedSvgSheet.svg" width="100%" height="100%" />
            <!-- systems -->
            <svg:g class="edition-svg-systems">
                <!-- system 14 -->
                <a (click)="selectOverlay('system', '14')" [class.active]="isSelectedOverlay('system', '14')">
                    <rect class="edition-svg-system" x="20" y="205" width="950" height="60" />
                </a>
                <!-- system 13 -->
                <a (click)="selectOverlay('system', '13')" [class.active]="isSelectedOverlay('system', '13')">
                    <rect class="edition-svg-system" x="20" y="275" width="950" height="60" />
                </a>
                <!-- system 12 -->
                <a (click)="selectOverlay('system', '12')" [class.active]="isSelectedOverlay('system', '12')">
                    <rect class="edition-svg-system" x="20" y="345" width="950" height="60" />
                </a>
            </svg:g>
            <!-- measures -->
            <svg:g class="edition-svg-measures">
                <!-- measure 10 -->
                <a (click)="selectOverlay('measure', '10')" [class.active]="isSelectedOverlay('measure', '10')">
                    <rect class="edition-svg-measure" x="300" y="125" width="180" height="345" />
                </a>
                <!-- measure 11 -->
                <a (click)="selectOverlay('measure', '11')" [class.active]="isSelectedOverlay('measure', '11')">
                    <rect class="edition-svg-measure" x="480" y="125" width="180" height="345" />
                </a>
                <!-- measure 12 -->
                <a (click)="selectOverlay('measure', '12')" [class.active]="isSelectedOverlay('measure', '12')">
                    <rect class="edition-svg-measure" x="660" y="125" width="180" height="345" />
                </a>
            </svg:g>
            <!-- items -->
            <svg:g class="edition-svg-items">
                <!-- T10/S12/o1 -->
                <a (click)="selectOverlay('item', '0')" [class.active]="isSelectedOverlay('item', '0')">
                    <rect class="edition-svg-item" x="330" y="350" rx="5" ry="5" width="40" height="70" />
                </a>
                <!-- T10/S12/o2 -->
                <a (click)="selectOverlay('item', '1')" [class.active]="isSelectedOverlay('item', '1')">
                    <rect class="edition-svg-item" x="380" y="350" rx="5" ry="5" width="40" height="70" />
                </a>
                <!-- T11/S14/o(1/4) -->
                <a (click)="selectOverlay('item', '2')" [class.active]="isSelectedOverlay('item', '2')">
                    <rect class="edition-svg-item" x="480" y="200" rx="5" ry="5" width="125" height="80" />
                </a>
                <!-- T12/S13/oO -->
                <a (click)="selectOverlay('item', '3')" [class.active]="isSelectedOverlay('item', '3')">
                    <rect class="edition-svg-item" x="660" y="270" rx="5" ry="5" width="125" height="80" />
                </a>
            </svg:g>
            <!-- link boxes -->
            <svg:g class="edition-svg-linkboxes">
                <!-- rect SkI/3 -->
                <a (click)="selectSvgSheet(svgSheetLabels.sheet3)">
                    <rect class="edition-svg-linkbox" x="90" y="345" width="182" height="125" />
                </a>
            </svg:g>
        </svg>
    </div>
    <!-- END svg Aa:SkI/2 -->

    <!-- embedded svg: Aa:SkI/3 -->
    <div class="svg edition-svg" *ngIf="isSelectedSvgSheet(svgSheetLabels.sheet3)">
        <svg
            version="1.1"
            xmlns="https://www.w3.org/2000/svg"
            xmlns:xlink="https://www.w3.org/1999/xlink"
            viewBox="0 0 1000 608"
            [id]="selectedSvgSheet.id"
        >
            <svg:image xlink:href [attr.xlink:href]="selectedSvgSheet.svg" width="100%" height="100%" />
            <!-- measures -->
            <svg:g class="edition-svg-measures">
                <!-- measure 10 -->
                <a (click)="selectOverlay('measure', '10')" [class.active]="isSelectedOverlay('measure', '10')">
                    <rect class="edition-svg-measure" x="80" y="110" width="282" height="400" />
                </a>
                <!-- measure 11 -->
                <a (click)="selectOverlay('measure', '11')" [class.active]="isSelectedOverlay('measure', '11')">
                    <rect class="edition-svg-measure" x="362" y="110" width="260" height="400" />
                </a>
            </svg:g>
            <!-- items -->
            <svg:g class="edition-svg-items">
                <!-- T10/S9/o(2/4) -->
                <a (click)="selectOverlay('item', '0')" [class.active]="isSelectedOverlay('item', '0')">
                    <rect class="edition-svg-item" x="225" y="420" rx="5" ry="5" width="40" height="70" />
                </a>
                <!-- T11/S10/o(1.-2.Note) -->
                <a (click)="selectOverlay('item', '1')" [class.active]="isSelectedOverlay('item', '1')">
                    <rect class="edition-svg-item" x="365" y="340" rx="5" ry="5" width="105" height="70" />
                </a>
                <!-- T12/S10/o(nach 2/4) -->
                <a (click)="selectOverlay('item', '2')" [class.active]="isSelectedOverlay('item', '2')">
                    <rect class="edition-svg-item" x="510" y="340" rx="5" ry="5" width="100" height="70" />
                </a>
            </svg:g>
            <!-- link boxes -->
            <svg:g class="edition-svg-linkboxes">
                <!-- rect SkI/2 -->
                <a (click)="selectSvgSheet(svgSheetLabels.sheet2)">
                    <rect class="edition-svg-linkbox" x="458" y="111" width="165" height="162" />
                </a>
                <!-- rect SkI/5 -->
                <a (click)="selectSvgSheet(svgSheetLabels.sheet5)">
                    <rect class="edition-svg-linkbox" x="620" y="420" width="165" height="160" />
                </a>
            </svg:g>
        </svg>
    </div>
    <!-- END svg Aa:SkI/3 -->

    <!-- embedded svg: Aa:SkI/4 -->
    <div class="svg edition-svg" *ngIf="isSelectedSvgSheet(svgSheetLabels.sheet4)">
        <svg
            version="1.1"
            xmlns="https://www.w3.org/2000/svg"
            xmlns:xlink="https://www.w3.org/1999/xlink"
            viewBox="0 0 1000 508"
            [id]="selectedSvgSheet.id"
        >
            <svg:image xlink:href [attr.xlink:href]="selectedSvgSheet.svg" width="100%" height="100%" />
            <!-- measures -->
            <svg:g class="edition-svg-measures">
                <!-- measure 10 -->
                <a (click)="selectOverlay('measure', '10')" [class.active]="isSelectedOverlay('measure', '10')">
                    <rect class="edition-svg-measure" x="150" y="115" width="268" height="390" />
                </a>
            </svg:g>
            <!-- items -->
            <svg:g class="edition-svg-items">
                <!-- T10/S6/oO -->
                <a (click)="selectOverlay('item', '0')" [class.active]="isSelectedOverlay('item', '0')">
                    <rect class="edition-svg-item" x="283" y="270" rx="5" ry="5" width="40" height="70" />
                </a>
                <!-- T10/S5/o(3.Note) -->
                <a (click)="selectOverlay('item', '1')" [class.active]="isSelectedOverlay('item', '1')">
                    <rect class="edition-svg-item" x="283" y="350" rx="5" ry="5" width="40" height="70" />
                </a>
            </svg:g>
            <!-- link boxes -->
            <svg:g class="edition-svg-linkboxes">
                <!-- rect SkI/5 -->
                <a (click)="selectSvgSheet(svgSheetLabels.sheet5)">
                    <rect class="edition-svg-linkbox" x="577" y="152" width="222" height="180" />
                </a>
            </svg:g>
        </svg>
    </div>
    <!-- END svg Aa:SkI/4 -->

    <!-- embedded svg: Aa:SkI/5 -->
    <div class="svg edition-svg" *ngIf="isSelectedSvgSheet(svgSheetLabels.sheet5)">
        <svg
            version="1.1"
            xmlns="https://www.w3.org/2000/svg"
            xmlns:xlink="https://www.w3.org/1999/xlink"
            viewBox="0 0 1000 608"
            [id]="selectedSvgSheet.id"
        >
            <svg:image xlink:href [attr.xlink:href]="selectedSvgSheet.svg" width="100%" height="100%" />
            <!-- measures -->
            <svg:g class="edition-svg-measures">
                <!-- measure 10 -->
                <a (click)="selectOverlay('measure', '10')" [class.active]="isSelectedOverlay('measure', '10')">
                    <rect class="edition-svg-measure" x="390" y="115" width="260" height="390" />
                </a>
                <!-- measure 11 -->
                <a (click)="selectOverlay('measure', '11')" [class.active]="isSelectedOverlay('measure', '11')">
                    <rect class="edition-svg-measure" x="650" y="115" width="200" height="390" />
                </a>
            </svg:g>
            <!-- items -->
            <svg:g class="edition-svg-items">
                <!-- T10/S9/o3/8 -->
                <a (click)="selectOverlay('item', '0')" [class.active]="isSelectedOverlay('item', '0')">
                    <rect class="edition-svg-item" x="523" y="195" rx="5" ry="5" width="40" height="85" />
                </a>
                <!-- T11/S9/o1/4 -->
                <a (click)="selectOverlay('item', '1')" [class.active]="isSelectedOverlay('item', '1')">
                    <rect class="edition-svg-item" x="650" y="195" rx="5" ry="5" width="40" height="85" />
                </a>
            </svg:g>
            <!-- link boxes -->
            <svg:g class="edition-svg-linkboxes">
                <!-- rect SkI/3 -->
                <a (click)="selectSvgSheet(svgSheetLabels.sheet3)">
                    <rect class="edition-svg-linkbox" x="72" y="148" width="242" height="125" />
                </a>
                <!-- rect SkI/4 -->
                <a (click)="selectSvgSheet(svgSheetLabels.sheet4)">
                    <rect class="edition-svg-linkbox" x="72" y="345" width="245" height="205" />
                </a>
            </svg:g>
        </svg>
    </div>
    <!-- END svg Aa:SkI/5 -->

    <ngx-gallery
        *ngIf="galleryImages"
        [images]="galleryImages"
        [options]="galleryOptions"
        class="ngx-gallery"
    ></ngx-gallery>
</div>
<!-- END body -->
