<ngb-accordion activeIds="awg-convolute-view">
    <ngb-panel id="awg-convolute-view" title="Konvolutübersicht">
        <ng-template ngbPanelContent>
            <!-- convolute dropDown -->
            <div class="d-inline-block" ngbDropdown>
                <a class="btn" id="dropDownConvolutes" ngbDropdownToggle>
                    <span>{{ selectedConvoluteLabel }}</span>
                </a>
                <div ngbDropdownMenu aria-labelledby="dropDownConvolutes">
                    <a class="dropdown-item" (click)="selectConvolute(convoluteLabel.A)">{{ convoluteLabel.A }}</a>
                    <a class="dropdown-item" (click)="openModal('sourceNotA')">{{ convoluteLabel.B_H }}</a>
                </div>
            </div>

            <!-- folio overview -->
            <awg-edition-folio
                *ngIf="convoluteData && selectedSvgSheet"
                [convoluteData]="convoluteData"
                [selectedSvgSheet]="selectedSvgSheet"
                (openModalRequest)="openModal($event)"
                (selectSvgSheetRequest)="selectSvgSheet($event)"
            >
            </awg-edition-folio>

            <!-- folio legend -->
            <div class="col-12">
                Legende:&nbsp;
                <ng-container *ngFor="let legend of folioLegend">
                    <span class="{{ legend.color }}">
                        <fa-icon [icon]="faSquare"></fa-icon>
                        {{ legend.label }}
                    </span>
                </ng-container>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
