<!-- content: search panel -->
<div class="awg-search-tabs">
    <nav
        ngbNav
        #searchNav="ngbNav"
        class="nav-tabs nav-fill"
        [activeId]="selectedSearchTabId"
        (navChange)="onSearchTabChange($event)">
        <ng-container [ngbNavItem]="searchTabs?.fulltext.id">
            <a ngbNavLink id="fulltext" class="awg-fulltext-search-tab">{{ searchTabs?.fulltext.title }}</a>
            <ng-template ngbNavContent>
                <!-- full text search -->
                <awg-fulltext-search-form
                    [searchValue]="getSearchQueryType(searchParams?.query)"
                    (searchRequest)="onSearch($event)">
                </awg-fulltext-search-form>
            </ng-template>
        </ng-container>
        <ng-container [ngbNavItem]="searchTabs.extended.id">
            <a ngbNavLink class="awg-extended-search-tab">{{ searchTabs?.extended.title }}</a>
            <ng-template ngbNavContent>
                <!-- extended search -->
                <awg-extended-search-form (searchRequest)="onSearch($event)"></awg-extended-search-form>
            </ng-template>
        </ng-container>
    </nav>
    <div [ngbNavOutlet]="searchNav"></div>
</div>

<!-- loading spinner -->
@if (isLoading$ | async) {
    <div>
        <awg-twelve-tone-spinner></awg-twelve-tone-spinner>
    </div>
} @else {
    @if (errorMessage) {
        <div class="errorMessage">
            <p>Die Anfrage "{{ errorMessage?.route }}" ist fehlgeschlagen.</p>
            <p>Fehlermeldung: "{{ errorMessage?.statusText || errorMessage }}".</p>
            <p>Möglicherweise gab es ein Problem mit der Internetverbindung oder der Suchanfrage.</p>
        </div>
    }
    @if (searchResponseWithQuery?.query) {
        <awg-search-result-list
            [searchParams]="searchParams"
            [searchUrl]="httpGetUrl"
            (pageChangeRequest)="onPageChange($event)"
            (rowNumberChangeRequest)="onRowNumberChange($event)"
            (viewChangeRequest)="onViewChange($event)">
        </awg-search-result-list>
    }
}

<!-- search results -->
