<div class="col-md-3 sidenav sidenav-left text-center">
    <p class="todo">TODO: resource-info.component.html</p>

    <div *ngIf="searchResults"><!-- <div class="col-md-3" ng-show="entity.entityId"> -->
        <!-- ngIf: user.groupID >= 600 && entity.categoryKey -->
        <div class="row">
            <div class="col-md-12">
                <!-- ngIf: resultSize -->
                <div ng-if="resultSize" class="ng-scope">
                    <!-- ngIf: currentQuery.q || currentQuery.facets.length > 0 -->
                    <div ng-if="currentQuery.q || currentQuery.facets.length > 0" class="panel panel-default ng-scope">



                        <!-- PANEL HEADING -->
                        <div class="panel-heading">
                            <a class="btn btn-xs pull-right btn-primary" (click)="goBack()"><span class="glyphicon glyphicon-arrow-left"></span> Zum Suchergebnis</a>
                            <div>
                                <strong class="text-muted uppercase small">Aktuelle Suche</strong>
                                <br>
                                <!-- ngIf: !currentQuery.label -->
                                <span ng-if="!currentQuery.label">{{ searchResults?.query }}</span>
                                <!-- end ngIf: !currentQuery.label --> <!-- ngIf: currentQuery.label -->
                            </div><!-- ngIf: currentQuery.hasFacets() -->
                        </div>



                        <ul class="list-group">


                            <!-- ngIf: prevEntity -->
                            <a *ngIf="previousEntity" class="list-group-item text-left" style="height:75px; overflow:hidden" (click)="showPreviousEntity(previousEntity?.obj_id)">
                                <div>
                                    <strong class="text-muted uppercase small ng-binding">
                                        <span class="glyphicon glyphicon-chevron-left" style="color:black"></span> &nbsp; Voriges Ergebnis</strong>
                                </div>
                                <div ar-entity-title="" entity="prevEntity" class="ng-isolate-scope"><div>
                                    <div class="single-line">
                                        <small class="single-line" ng-bind-html="entity.title">{{ previousEntity?.value[0] }}</small>
                                        <!-- ngIf: entity.title.length==0 -->
                                    </div>
                                    <div class="single-line">
                                        <small class="text-muted" ng-bind-html="entity.subtitle">{{ previousEntity?.icontitle }}</small>
                                    </div>
                                </div>
                                </div>
                            </a>
                            <!-- end ngIf: prevEntity -->


                            <li class="list-group-item" ng-hide="nextEntitySearch.size < 2">
                                <strong class="text-muted uppercase small">Angezeigter Datensatz</strong>
                                <form ng-submit="goToResultIndex(resultIndexInput)" class="ng-pristine ng-valid">
                                    <div class="input-group" ng-class="{'has-error':(resultIndexInput < 1 || resultIndexInput > resultSize)}">
                                        <input ng-model="resultIndexInput" size="4" class="form-control input-sm ng-pristine ng-untouched ng-valid ng-not-empty" type="number">
                                        <span class="input-group-addon" style="border-top-right-radius: 3px; border-bottom-right-radius:3px; border-left:0;"> <small>von</small> <strong>{{ searchResultsSubjects?.length }}</strong>
                                        </span>
                                        <span ng-hide="resultIndex == resultIndexInput || resultIndexInput < 1 || resultIndexInput > resultSize" class="input-group-btn ng-hide">
                                            <button class="btn btn-primary btn-sm" ng-click="goToResultIndex(resultIndexInput)">Gehe zu</button>
                                        </span>
                                    </div>
                                </form>
                            </li>



                            <!-- ngIf: nextEntity -->
                            <a *ngIf="nextEntity" class="list-group-item text-right" style="height:75px; overflow:hidden" (click)="showNextEntity(nextEntity?.obj_id)">
                                <div>
                                    <strong class="text-muted uppercase small">&nbsp; Nächstes Ergebnis <span class="glyphicon glyphicon-chevron-right" style="color:black"></span></strong>
                                </div>
                                <div ar-entity-title="" entity="nextEntity" class="ng-isolate-scope">
                                    <div>
                                        <div class="single-line">
                                            <small class="single-line" ng-bind-html="entity.title">{{ nextEntity?.value[0]  }}</small>
                                            <!-- ngIf: entity.title.length==0 -->
                                        </div>
                                        <div class="single-line">
                                            <small class="text-muted" ng-bind-html="entity.subtitle">{{ nextEntity?.icontitle }}</small>
                                        </div>
                                    </div>
                                </div>
                            </a><!-- end ngIf: nextEntity -->



                        </ul>
                    </div><!-- end ngIf: currentQuery.q || currentQuery.facets.length > 0 -->
                </div><!-- end ngIf: resultSize -->
            </div>
        </div><!-- ngIf: entity.places -->

        <div ng-if="entity.places" class="ng-scope"></div><!-- end ngIf: entity.places -->
    </div><!-- ngIf: user.username -->

</div>
