<!--
/************************************************
*
*               CREDITS
*
* This code is inspired, adapted or taken from:
*
* ARACHNE – Objektdatenbank des Deutschen Archäologischen Instituts (DAI)
* https://arachne.dainst.org/entity/1121229
* 20.11.2017
*
*
*
************************************************/ -->
<div class="col-md-3 sidenav sidenav-left text-center">
    <div *ngIf="resourceInfo">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">

                    <!-- panel heading -->
                    <div class="panel-heading">
                        <a class="btn btn-xs btn-primary pull-left" (click)="navigateToSearchResults()"><span class="glyphicon glyphicon-arrow-left"></span> Zur Suche</a>
                        <div>
                            <strong class="text-muted uppercase small">Aktueller Suchbegriff</strong>
                            <br>
                            <span *ngIf="resourceInfo?.searchResults?.query; else noQuery">{{ resourceInfo?.searchResults?.query }}</span>
                            <ng-template #noQuery>
                                <span>---</span>
                            </ng-template>
                        </div>
                    </div>

                    <!-- search results -->
                    <div *ngIf="resourceInfo?.searchResults?.size">
                        <ul class="list-group">
                            <!-- previous resource -->
                            <a *ngIf="resourceInfo?.resources?.previous; let previous" class="list-group-item text-left" style="height:75px; overflow:hidden" (click)="navigateToResource(previous?.id)">
                                <div>
                                    <strong class="text-muted uppercase small ng-binding">
                                        <span class="glyphicon glyphicon-chevron-left" style="color:black"></span> &nbsp; Vorheriges Ergebnis ({{ previous?.displayIndex }})</strong>
                                </div>
                                <div>
                                    <div class="single-line">
                                        <small class="single-line">
                                            <span [compile-html]="previous?.title" [compile-html-ref]="this"></span>
                                        </small>
                                    </div>
                                    <div class="single-line">
                                        <small class="text-muted">
                                            <span>{{ previous?.subtitle }}</span>
                                        </small>
                                    </div>
                                </div>
                            </a>

                            <!-- current resource -->
                            <li class="list-group-item" *ngIf="resourceInfo?.resources?.current; let current">
                                <strong class="text-muted uppercase small">Angezeigtes Ergebnis</strong>

                                <form class="ng-pristine ng-valid">

                                    <div class="input-group" [ngClass]="{'has-error':(current?.displayIndex < 1 || current?.displayIndex > resultSize)}">
                                        <input id="resourceInfoInput" [(ngModel)]="goToIndex" name="index" size="4" class="form-control input-sm ng-pristine ng-untouched ng-valid ng-not-empty" type="number" min="1" [max]="resultSize">
                                        <span class="input-group-addon" style="border-top-right-radius: 3px; border-bottom-right-radius:3px; border-left:0;"> <small>von</small> <strong>{{ resultSize }}</strong>
                                        </span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary btn-sm" [disabled]="goToIndex === current?.displayIndex || goToIndex < 1 || goToIndex > resultSize" (click)="findResourceByIndex(goToIndex)">Gehe zu</button>
                                        </span>
                                    </div>
                                </form>
                            </li>

                            <!-- next resource -->
                            <a *ngIf="resourceInfo?.resources?.next; let next" class="list-group-item text-right" style="height:75px; overflow:hidden" (click)="navigateToResource(next?.id)">
                                <div>
                                    <strong class="text-muted uppercase small">&nbsp; Nächstes Ergebnis ({{ next?.displayIndex }}) <span class="glyphicon glyphicon-chevron-right" style="color:black"></span></strong>
                                </div>
                                <div>
                                    <div class="single-line">
                                        <small class="single-line">
                                            <span [compile-html]="next?.title" [compile-html-ref]="this"></span>
                                        </small>
                                    </div>
                                    <div class="single-line">
                                        <small class="text-muted">
                                            <span>{{ next?.subtitle }}</span>
                                        </small>
                                    </div>
                                </div>
                            </a>

                        </ul>
                    </div><!-- end ngIf: resourceInfo?.searchResults?.size -->
                </div>
            </div>
        </div>
    </div><!-- end ngIf: resourceInfo -->
    <div>Design and structure of this resource view adapted from <<a href ="https://arachne.dainst.org/">iDAI.object arachne</a>> (11/2017)</div>
</div>
