<!-- content: home -->

<!-- heading -->
<awg-heading [title]="homeViewTitle" [id]="homeViewId"></awg-heading>

<!-- header -->
<div class="para">
    <h6 class="awg-breadcrumb">
        {{ EDITION_COMPLEX_OP12.editionRoute.short }} / {{ EDITION_COMPLEX_OP12.series.full }} /
        {{ EDITION_COMPLEX_OP12.section.full }}
    </h6>

    <h3 class="awg-edition-info-header">
        <span class="awg-edition-info-header-title" [innerHTML]="EDITION_COMPLEX_OP12.titleStatement.title"></span
        >&nbsp;<span class="awg-edition-info-header-catalogue">{{ EDITION_COMPLEX_OP12.complexId.short }}</span> (<a
            [routerLink]="[EDITION_COMPLEX_OP12.baseRoute, EDITION_COMPLEX_OP12.sheetsRoute.route]"
            >{{ EDITION_COMPLEX_OP12.type.full }}</a
        >)
    </h3>

    <h3 class="awg-edition-info-header">
        <span class="awg-edition-info-header-title" [innerHTML]="EDITION_COMPLEX_OP25.titleStatement.title"></span
        >&nbsp;<span class="awg-edition-info-header-catalogue">{{ EDITION_COMPLEX_OP25.complexId.short }}</span> (<a
            [routerLink]="[EDITION_COMPLEX_OP25.baseRoute, EDITION_COMPLEX_OP25.sheetsRoute.route]"
            >{{ EDITION_COMPLEX_OP25.type.full }}</a
        >
        &
        <a [routerLink]="[EDITION_COMPLEX_OP25.baseRoute, EDITION_COMPLEX_OP25.graphRoute.route]">{{
            EDITION_COMPLEX_OP25.graphRoute.short
        }}</a
        >)
    </h3>
</div>
<div class="para">
    <h6 class="awg-breadcrumb">
        {{ EDITION_COMPLEX_M34.editionRoute.short }} / {{ EDITION_COMPLEX_M34.series.full }} /
        {{ EDITION_COMPLEX_M34.section.full }}
    </h6>

    <h3 class="awg-edition-info-header">
        <span class="awg-edition-info-header-title" [innerHTML]="EDITION_COMPLEX_M34.titleStatement.title"></span
        >&nbsp;<span class="awg-edition-info-header-catalogue">{{ EDITION_COMPLEX_M34.complexId.short }}</span> (<a
            [routerLink]="[EDITION_COMPLEX_M34.baseRoute, EDITION_COMPLEX_M34.sheetsRoute.route]"
            >{{ EDITION_COMPLEX_M34.type.full }}</a
        >)
    </h3>
</div>

<!-- description -->
<div class="para">
    <p>Willkommen bei der AWG-APP, dem Prototyp einer Online-Edition der Anton Webern Gesamtausgabe, Basel (AWG).</p>
    <p>
        Die online zugänglichen Bestandteile und Datenbestände der AWG-Online-Edition werden als Open Data über diese
        Webapplikation präsentiert und über das Software-Framework
        <a id="dsp-link" href="{{ pageMetaData?.daschUrl + 'dsp-app' }}">DaSCH Service Platform (DSP)</a>/<a
            id="salsah-link"
            href="{{ pageMetaData?.salsahUrl }}"
            >SALSAH</a
        >
        des
        <a id="dhlab-link" href="{{ pageMetaData?.dhlabUrl }}">Digital Humanities Lab</a>
        der Universität Basel aufbereitet. Zudem werden die Datenbestände durch das
        <a id="dasch-link" href="{{ pageMetaData?.daschUrl }}"
            >Swiss National Data & Service Center for the Humanities (DaSCH)</a
        >
        zugänglich gehalten und langfristig aufbewahrt. Das DaSCH garantiert eine Zugänglichkeit der Daten gemäss
        FAIR-Prinzipien, die Zuweisung von digitalen Identifikatoren, maschinenlesbaren Metadaten und den langfristigen
        Betrieb der technischen Infrastruktur (vgl.
        <a id="dasch-mission-link" href="{{ pageMetaData?.daschUrl + 'visionandmission' }}">Mission Statement DaSCH</a
        >).
    </p>
    <p>
        Der Protoyp simuliert bereits in weiten Teilen eine Datenabfrage über die Programmierschnittstelle (API) von
        SALSAH (zukünftig DSP). Die für reale Abfragen im Bereich Online-Edition notwendige
        <a [routerLink]="['/structure']">Datenstruktur</a> wird zur Zeit von der AWG implementiert.
    </p>
    <p>
        Über den Menüpunkt <em>Edition</em> sind ausgewählte Skizzeneditionen zu
        <a [routerLink]="[EDITION_COMPLEX_OP12.baseRoute, EDITION_COMPLEX_OP12.sheetsRoute.route]">op. 12</a>,
        <a [routerLink]="[EDITION_COMPLEX_OP25.baseRoute, EDITION_COMPLEX_OP25.sheetsRoute.route]">op. 25</a> und
        <a [routerLink]="[EDITION_COMPLEX_M34.baseRoute, EDITION_COMPLEX_M34.sheetsRoute.route]">M 34</a> sowie die
        <a [routerLink]="['/edition/row-tables']">Reihentabellen</a> Weberns zugänglich. Bestandteile der Online-Edition
        umfassen Einleitungen, die edierten Notentexte, kritische Berichte sowie Graph-Visualisierungen.
    </p>
    <p>
        Zusätzlich werden eine einfache <a [routerLink]="['/data/search', 'fulltext']">Volltextsuche</a> und eine
        <a [routerLink]="['/data/search', 'extended']">Erweiterte Suche</a> in der Datenbank angeboten, über die die
        dort hinterlegten Kontextmaterialien (Werklisten [nach Opuszahl bzw. Moldenhauer-Nummer], Personeninformationen,
        Briefe &amp; Supplements, Chronologie) abgefragt werden können.
    </p>
    <p>
        Bei diesem Prototyp handelt es sich um eine fortlaufende Weiterentwicklung einer
        <a href="https://www.anton-webern.ch/assets/editions/BeispieleditionAWG_3_Skizzen_op12_Online_klein.pdf"
            >prospektiven Simulation (PDF)</a
        >
        vom 31. März 2015 sowie vom 29. Januar 2016. Der Programmcode ist als Open Access-Projekt frei zugänglich auf
        <a id="github-link" href="{{ pageMetaData?.githubUrl }}">GitHub</a>
        abgelegt und vollumfänglich
        <a id="compodoc-link" href="{{ pageMetaData?.compodocUrl }}">dokumentiert</a>
        (vgl. <a [routerLink]="['/contact']" fragment="awg-documentation">Dokumentation</a>).
    </p>
    <p>Der Prototyp und die Suche werden in ihrer Funktionalität sukzessiv erweitert.</p>
</div>
