<!-- content: home -->
<div class="awg-home-view p-5 border rounded-3">
    <awg-scroll-to-top-button />

    <!-- heading -->
    <awg-heading [title]="HOME_VIEW_TITLE" [id]="HOME_VIEW_ID" />

    <!-- content-->
    <div class="awg-home-view-content">
        <awg-alert-info [infoMessage]="DISCLAIMER_MESSAGE" />

        <div class="awg-home-view-grid row row-cols-1 row-cols-lg-2 row-cols-xl-4 g-4 para">
            @for (cardData of homeViewCardData; track $index) {
                <div class="col">
                    <awg-home-view-card [cardData]="cardData" />
                </div>
            }
        </div>

        <div class="awg-home-view-text">
            <p>Willkommen bei der AWG-APP, der Online-Edition der Anton Webern Gesamtausgabe, Basel (AWG).</p>

            <p>
                Über den Menüpunkt <em>Edition</em> sind aktuell die Online-Editionen zu den Abteilungen
                @for (sectionLink of sectionLinksData(); track sectionLink.route.join('/')) {
                    <a [routerLink]="sectionLink.route"
                        ><span> {{ sectionLink.shortTitle }}</span>
                    </a>
                    <span>{{ sectionLink.separator }}</span>
                }
                sowie die
                <a [routerLink]="rowtablesRoute()">Reihentabellen</a>
                Weberns zugänglich. Bestandteile der Online-Edition umfassen Einleitungen, die edierten Notentexte
                (Text- und Skizzeneditionen), Kritische Berichte sowie Graph-Visualisierungen (beta).
            </p>

            <p>
                Über die (externe) <em>Datenbank-Suche</em> können Kontextmaterialien (Werklisten [nach Opuszahl bzw.
                Moldenhauer-Nummer], Personeninformationen, Briefe &amp; Supplements, Chronologie) abgefragt werden.
                <br />
                Über <em>Anton Webern Gesamtausgabe</em> gelangen Sie zur Projekt-Website.
            </p>

            <p>
                Die online zugänglichen Bestandteile und Datenbestände der AWG-Online-Edition werden als Open Data über
                diese Webapplikation präsentiert und über das Software-Framework
                <a id="dsp-link" [href]="pageMetaData.daschUrl + 'services/data-deposit/dsp'"
                    >DaSCH Service Platform (DSP)</a
                >
                des
                <a id="dasch-link" [href]="pageMetaData.daschUrl"
                    >Swiss National Data & Service Center for the Humanities (DaSCH)</a
                >
                aufbereitet, zugänglich gehalten und langfristig aufbewahrt. Das DaSCH garantiert eine Zugänglichkeit
                der Daten gemäss FAIR-Prinzipien, die Zuweisung von digitalen Identifikatoren, maschinenlesbaren
                Metadaten und den langfristigen Betrieb der technischen Infrastruktur (vgl.
                <a id="dasch-mission-link" [href]="pageMetaData.daschUrl + 'about-us/mission'"
                    >Mission Statement DaSCH</a
                >).
            </p>

            <p>
                Der Programmcode der Applikation ist als Open Access-Projekt frei zugänglich auf
                <a id="github-link" [href]="pageMetaData.awgAppGithubUrl">GitHub</a> sowie
                <a id="zenodo-link" [href]="pageMetaData.awgAppZenodoUrl">Zenodo</a> abgelegt und vollumfänglich
                <a [routerLink]="['/contact']" fragment="awg-documentation">dokumentiert</a>.
            </p>
        </div>
    </div>
</div>
