<nav class="navbar navbar-expand-md navbar-light">
    <!-- Brand -->
    <a class="navbar-brand my-auto mr-5" href="http://www.anton-webern.ch" target="_blank" ref="noopener noreferrer">
                <span id="webernlogo">
                    ANTON WEBERN <br>
                    <span>GESAMTAUSGABE</span>
                </span>
    </a>

    <!-- Toggler/collapsible Button -->
    <button type="button" class="navbar-toggler" (click)="toggleNav()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- navigation menu -->
    <div id="collapsibleNavbar" class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item" ngbDropdown>
                <a class="nav-link" id="dropdownNavEdition" ngbDropdownToggle>
                    Beispieledition
                    <span class="caret"></span>
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownNavEdition">
                    <a class="dropdown-item" [routerLink]="['/edition', 'intro']" routerLinkActive="active">Einleitung</a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Edierter Notentext</h6>
                    <a class="dropdown-item" [routerLink]="['/edition/detail', 'Aa:SkI/2']" routerLinkActive="active">Aa:SkI/2</a>
                    <a class="dropdown-item" [routerLink]="['/edition/detail', 'Aa:SkI/3']" routerLinkActive="active">Aa:SkI/3</a>
                    <a class="dropdown-item" [routerLink]="['/edition/detail', 'Aa:SkI/4']" routerLinkActive="active">Aa:SkI/4</a>
                    <a class="dropdown-item" [routerLink]="['/edition/detail', 'Aa:SkI/5']" routerLinkActive="active">Aa:SkI/5</a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Kritischer Bericht</h6>
                    <a class="dropdown-item" [routerLink]="['/edition', 'report']">I. Quellen</a>
                    <a class="dropdown-item awg-subitem" [routerLink]="['/edition', 'report']" fragment="sourceList">1. Quellenübersicht</a>
                    <a class="dropdown-item awg-subitem" [routerLink]="['/edition', 'report']" fragment="sourceDesc">2. Quellenbeschreibung</a>
                    <a class="dropdown-item awg-subitem" [routerLink]="['/edition', 'report']" fragment="sourceEvaluation">3. Quellenbewertung</a>
                    <a class="dropdown-item" [routerLink]="['/edition', 'report']" fragment="tka">II. Textkritischer Kommentar</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/structure']" routerLinkActive="active">Strukturmodell</a>
            </li>
        </ul> <!-- END left navbar -->
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/data/search','fulltext']" routerLinkActive="active">Datenbank-Suche</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active">
                    <fa-icon [icon]="faEnvelope"></fa-icon>&nbsp;Kontakt
                </a>
            </li>
        </ul> <!-- END right navbar -->
    </div> <!-- END collapse -->
</nav>
