<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="toggleNav()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.anton-webern.ch" target="_blank">
                <span id="webernlogo">
                    ANTON WEBERN <br>
                    <span>GESAMTAUSGABE</span>
                </span>
            </a>
        </div> <!-- END navbar-header -->
        <div class="navbar-collapse collapse" id="awgNavbar" [class.in]="showMobileNav">
            <ul class="nav navbar-nav">
                <li>
                    <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Beispieledition
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a [routerLink]="['/edition', 'intro']" routerLinkActive="active">Einleitung</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">
                            Edierter Notentext
                        </li>
                        <li><a [routerLink]="['/edition/detail', 'Aa:SkI/2']" routerLinkActive="active">Aa:SkI/2</a></li>
                        <li><a [routerLink]="['/edition/detail', 'Aa:SkI/3']" routerLinkActive="active">Aa:SkI/3</a></li>
                        <li><a [routerLink]="['/edition/detail', 'Aa:SkI/4']" routerLinkActive="active">Aa:SkI/4</a></li>
                        <li><a [routerLink]="['/edition/detail', 'Aa:SkI/5']" routerLinkActive="active">Aa:SkI/5</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">
                            Kritischer Bericht
                        </li>
                        <li><a [routerLink]="['/edition', 'report']">I. Quellen</a></li>
                        <li class="subitem">
                            <a [routerLink]="['/edition', 'report']" fragment="sourceList">1. Quellenübersicht</a>
                        </li>
                        <li class="subitem">
                            <a [routerLink]="['/edition', 'report']" fragment="sourceDesc">2. Quellenbeschreibung</a>
                        </li>
                        <li class="subitem">
                            <a [routerLink]="['/edition', 'report']" fragment="sourceEvaluation">3. Quellenbewertung</a>
                        </li>
                        <li>
                            <a [routerLink]="['/edition', 'report']" fragment="tka">II. Textkritischer Kommentar</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a [routerLink]="['/structure']" routerLinkActive="active">Strukturmodell</a>
                </li>
            </ul> <!-- END class nav navbar-nav -->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a [routerLink]="['/data/search','fulltext']" routerLinkActive="active">Datenbank-Suche</a>
                </li>
                <li>
                    <a [routerLink]="['/contact']" routerLinkActive="active">
                        <span class="glyphicon glyphicon-envelope"></span>
                        Kontakt
                    </a>
                </li>
            </ul> <!-- END class nav navbar-right -->
        </div> <!-- END collapse -->
    </div> <!-- END container-fluid -->
</nav>
