<!-- resource detail header -->
<div class="resource-header">
    <div class="row">
        <div class="col-lg-8">
            <h2 class="resource-title">
                <div class="title">
                    <span [compile-html]="header?.title" [compile-html-ref]="this"></span>
                </div>
                <div class="subtitle">
                    <small></small>
                </div>
            </h2>
            <div class="resource-link">
                <small>
                    API-Request:
                    <a href="{{ resourceUrl }}">{{ resourceUrl }}</a>
                    <!-- TODO: (resource-detail-html-header): change then to stable URL for resource -->
                </small>
            </div>
        </div>
        <div class="col-lg-4">
            <table aria-label="Table with resource detail metadata" class="table table-sm resource-header-table">
                <tbody>
                    <tr>
                        <th scope="row">ID:</th>
                        <td id="header?.objID">{{ header?.objID }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Kategorie</th>
                        <td>
                            <span class="resource-type">{{ header?.type }}</span
                            >&nbsp;<span class="resource-icon"><img [src]="header?.icon" alt="icon" /></span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Zuletzt bearbeitet:</th>
                        <td>
                            <span class="resource-lastmod">{{ header?.lastmod }}</span> (UTC)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
