<!-- content: edition graph -->
<div>
    <!-- graph -->
    @if (viewData(); as view) {
        @if (view.error; as errorObject) {
            <awg-alert-error [errorObject]="errorObject" />
        } @else if (view.isLoading) {
            <awg-twelve-tone-spinner />
        } @else {
            <div class="awg-edition-graph-view p-5 border rounded-3">
                <!-- graph intro -->
                <p class="awg-graph-intro">
                    So weit vorhanden, präsentiert die vorliegende Ansicht Graph-Visualisierungen des ausgewählten
                    Editionsbereichs: Der <em>statische Graph</em> vermittelt dabei einen von den jeweiligen Editoren
                    fixierten Überblick editionsrelevanter Zusammenhänge und Abhängigkeiten, der
                    <em>dynamische Graph</em> bietet zusätzlich einen interaktiven Zugang zu dem zugrundeliegenden
                    Datenbestand.
                    <span class="text-danger"
                        >Diese Funktionalität ist noch nicht für alle Skizzenbestandteile verfügbar, wird aber
                        kontinuierlich ergänzt.</span
                    >
                </p>
                @for (graph of view.data.graphData?.graph || []; track graph.id) {
                    <div>
                        <awg-edition-graph-description [graph]="graph" [editionComplex]="selectedEditionComplex()" />
                        <awg-edition-graph-dynamic [rdfData]="graph.rdfData" />
                        <awg-edition-graph-static [imageKey]="graph.staticImage" />
                    </div>
                }
            </div>
        }
    }
</div>
