
// Default variable overrides
$info: #149b9e;
$link-color: $info;

// Custom variables
$bg-grey: #f9f9f6;
$border-grey: #e7e7e7;


@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
