<!-- resource detail box -->
<div class="awg-resource-detail-tabs">
    <ngb-tabset *ngIf="!isLoadingData; else loading">
        <!-- html -->
        <ngb-tab id="html" class="awg-resource-detail-long-tab">
            <ng-template ngbTabTitle>
                {{ tabTitle?.html }}
            </ng-template>
            <ng-template ngbTabContent>
                <!-- resourceDetailData header -->
                <awg-resource-detail-header
                    *ngIf="resourceData?.html?.header"
                    [header]="resourceData?.html?.header"
                    [resourceUrl]="resourceUrl"
                    (resourceRequest)="navigateToResource($event)"
                >
                </awg-resource-detail-header>

                <!-- html visualisation -->
                <awg-resource-detail-html
                    *ngIf="resourceData?.html"
                    [resourceDetailData]="resourceData?.html"
                    (resourceRequest)="navigateToResource($event)"
                >
                </awg-resource-detail-html>
            </ng-template>
        </ngb-tab>

        <!-- JSON converted -->
        <ngb-tab id="converted" title="{{ tabTitle?.converted }}" class="awg-resource-detail-short-tab">
            <ng-template ngbTabContent>
                <!-- resourceDetailData header -->
                <awg-resource-detail-header
                    *ngIf="resourceData?.html?.header"
                    [header]="resourceData?.html?.header"
                    [resourceUrl]="resourceUrl"
                    (resourceRequest)="navigateToResource($event)"
                >
                </awg-resource-detail-header>

                <!-- converted json visualisation -->
                <awg-resource-detail-json-converted
                    *ngIf="resourceData?.jsonConverted"
                    [resourceJsonConvertedData]="resourceData?.jsonConverted"
                >
                </awg-resource-detail-json-converted>
            </ng-template>
        </ngb-tab>

        <!-- JSON raw -->
        <ngb-tab id="raw" title="{{ tabTitle?.raw }}" class="awg-resource-detail-short-tab">
            <ng-template ngbTabContent>
                <!-- resourceDetailData header -->
                <awg-resource-detail-header
                    *ngIf="resourceData?.html?.header"
                    [header]="resourceData?.html?.header"
                    [resourceUrl]="resourceUrl"
                    (resourceRequest)="navigateToResource($event)"
                >
                </awg-resource-detail-header>

                <!-- raw json visualisation -->
                <awg-resource-detail-json-raw
                    *ngIf="resourceData?.jsonRaw"
                    [resourceJsonRawData]="resourceData?.jsonRaw"
                >
                </awg-resource-detail-json-raw>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>

    <!--
    TODO: remove
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active awg-resource-detail-long-tab"><a data-toggle="tab" href="#html">{{ tabTitle?.html }}</a></li>
        <li class="dropdown awg-resource-detail-short-tab">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                {{ '{' }} JSON {{ '}' }} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a data-toggle="tab" href="#converted">{{ tabTitle?.converted }}</a></li>
                <li><a data-toggle="tab" href="#raw">{{ tabTitle?.raw }}</a></li>
            </ul>
        </li>
    </ul>
    -->
</div>

<!-- loading spinner -->
<ng-template #loading>
    <ng-container *ngIf="!errorMessage; else error">
        <awg-twelve-tone-spinner></awg-twelve-tone-spinner>
    </ng-container>
</ng-template>

<!-- error message -->
<ng-template #error>
    <div class="errorMessage" *ngIf="errorMessage">
        <p>Die Anfrage "{{ errorMessage?.route }}" ist fehlgeschlagen.</p>
        <p>Fehlermeldung: "{{ errorMessage?.statusText }}".</p>
        <p>Möglicherweise gab es ein Problem mit der Internetverbindung oder dem verwendeten Suchbegriff.</p>
    </div>
</ng-template>
