<!-- resource detail box -->

<!-- loading spinner -->
<div *ngIf="isLoading$ | async; else notLoading">
    <awg-twelve-tone-spinner></awg-twelve-tone-spinner>
</div>

<ng-template #notLoading>
    <!-- error message -->
    <div class="errorMessage" *ngIf="errorMessage">
        <p>Die Anfrage "{{ errorMessage?.route }}" ist fehlgeschlagen.</p>
        <p>Fehlermeldung: "{{ errorMessage?.statusText || errorMessage }}".</p>
        <p>Möglicherweise gab es ein Problem mit der Internetverbindung oder dem verwendeten Suchbegriff.</p>
    </div>

    <!-- async data -->
    <div class="awg-resource-detail-tabs" *ngIf="resourceData">
        <!-- resourceDetailData header -->
        <awg-resource-detail-header
            *ngIf="resourceData.detail.header"
            [header]="resourceData.detail.header"
            [resourceUrl]="httpGetUrl"
            (resourceRequest)="navigateToResource($event)"></awg-resource-detail-header>

        <!-- resourceDetailData body -->
        <nav
            ngbNav
            #resourceDetailNav="ngbNav"
            class="nav-tabs"
            [activeId]="selectedResourceDetailTabId"
            (navChange)="onResourceDetailTabChange($event)">
            <ng-container ngbNavItem="html">
                <a ngbNavLink class="awg-resource-detail-long-tab">{{ resourceDetailTabTitles?.html }}</a>
                <ng-template ngbNavContent>
                    <!-- html visualisation -->
                    <awg-resource-detail-html
                        [resourceDetailData]="resourceData.detail"
                        (gndRequest)="exposeGnd($event)"
                        (resourceRequest)="navigateToResource($event)">
                    </awg-resource-detail-html>
                </ng-template>
            </ng-container>
            <ng-container ngbNavItem="converted-json">
                <a ngbNavLink class="ms-auto">{{ resourceDetailTabTitles?.converted }}</a>
                <ng-template ngbNavContent>
                    <!-- converted json visualisation -->
                    <awg-resource-detail-json-converted [resourceJsonConvertedData]="resourceData.jsonConverted">
                    </awg-resource-detail-json-converted>
                </ng-template>
            </ng-container>
            <ng-container ngbNavItem="raw-json">
                <a ngbNavLink>{{ resourceDetailTabTitles?.raw }}</a>
                <ng-template ngbNavContent>
                    <!-- raw json visualisation -->
                    <awg-resource-detail-json-raw [resourceJsonRawData]="resourceData.jsonRaw">
                    </awg-resource-detail-json-raw>
                </ng-template>
            </ng-container>
        </nav>
        <div [ngbNavOutlet]="resourceDetailNav"></div>
    </div>

    <!--
    TODO: remove
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active awg-resource-detail-long-tab"><a data-toggle="tab" href="#html">{{ tabTitles?.html }}</a></li>
        <li class="dropdown awg-resource-detail-short-tab">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                {{ '{' }} JSON {{ '}' }} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a data-toggle="tab" href="#converted">{{ tabTitles?.converted }}</a></li>
                <li><a data-toggle="tab" href="#raw">{{ tabTitles?.raw }}</a></li>
            </ul>
        </li>
    </ul>
    -->
</ng-template>
