/************************************************
*
*               CREDITS
*
* This code is inspired, adapted or taken from:
*
* ARACHNE – Objektdatenbank des Deutschen Archäologischen Instituts (DAI)
* https://arachne.dainst.org/entity/1121229**]
* 20.11.2017
*
*
*
************************************************/

/* for resource-header see 'resource-detail-html-header.component.scss' */
/* for resource-html-props see 'props.component.scss' */

/* tabs */
/* adjust tab size on larger screens */
@media screen and (min-width: 768px) {
    /* set auto width for long tab */
    .awg-resource-detail-long-tab {
        width: auto !important;
    }
    /* avoid line wrap in link text */
    .awg-resource-detail-short-tab > a {
        white-space: nowrap;
    }
}

::ng-deep .tab-content .tab-pane.active {
    margin: 2rem 0;
}
