<div id="righttext">
    <strong>NEWS</strong><br />
    <strong>Dezember 2016</strong><br />
    <a href="http://www.salsah.org/webern/resources/2173581" target="_blank">Konzertprogramm vom 8. Februar 1910</a> in den Karl Weigl Papers der Yale University gefunden:
    <br />
    <br />
    <img src="assets/images/Programm_1910_Februar_08_1_4.jpg" alt="Programm_1910_Februar_08_1_4" width="400" height="508" />
    <br />
    <br />
    <br />
    <strong>Mai 2016</strong><br />
    <a href="index.php?id=34">Webern-Studien</a> 3 erschienen:
    <br />
    <br />
    <img src="assets/images/WS3_Titel.jpg" alt="" width="400" height="582" />
    <br />
    <br />
    <em>Webern-Philologien</em>, hg. von Thomas Ahrend und Matthias Schmidt, Wien: Lafite, 2016 (Webern-Studien 3).
    <br />
    <br />
    <strong>Januar 2016</strong><br />
    <a href="http://www.laaber-verlag.wslv.de/popup.php?ID_Buch=837&amp;lang=" target="_blank"><br />Musiktheorie</a>-Heft zu Webern und Segantini:
    <br />
    <br />
    <em><img src="assets/images/Musiktheorie_4_15_Titel_klein.jpg" alt="" width="400" height="568" />
        <br />
        <br />
        <em>Anton Webern und Giovanni Segantini</em>
    </em>, hg. von Thomas Ahrend und Matthias Schmidt, Laaber: Laaber, 2015 (Musiktheorie 30/4).
    <br />
    <br />
</div>
