<!-- sideinfo: structure -->
<div class="card">
    <div class="card-body bg-light">
        <p class="bold">
            Strukturmodell
            <br />
        </p>
        <p>&#9671;</p>
        <p>
            Konzept/Grafik:
            <span class="awg-structure-info-author">
                <a href="{{ (structureMetaData?.authors)[0].contactUrl }}" target="_blank" rel="noopener noreferrer">{{
                    (structureMetaData?.authors)[0].name
                }}</a>
            </span>
        </p>
        <p>&#9671;</p>
        <p>
            Versionsdatum: <span class="version">{{ structureMetaData?.lastModified }}</span>
        </p>
    </div>
</div>
