<!--
/************************************************
*
*               CREDITS
*
* This code is inspired, adapted or taken from:
*
* ARACHNE – Objektdatenbank des Deutschen Archäologischen Instituts (DAI)
* https://arachne.dainst.org/entity/1121229
* 20.11.2017
*
*
*
************************************************/ -->

<!-- sideinfo: resource -->
<div class="card" *ngIf="resourceInfoData">
    <div class="card-header d-flex">
        <div class="ml-3 mr-1 my-auto">
            <button
                type="button"
                class="btn btn-outline-info btn-sm"
                ngbTooltip="Zur Suche"
                tooltipClass="d-none d-md-inline d-lg-none"
                (click)="navigateToSearchPanel()">
                <fa-icon [icon]="faArrowLeft"></fa-icon>
                <span class="awg-resource-info-btn-text d-md-none d-lg-inline ml-2">Zur Suche</span>
            </button>
        </div>
        <div class="text-center mx-auto">
            <strong class="text-muted small">Aktuelle Suchanfrage</strong>
            <br />
            <span *ngIf="resourceInfoData?.searchResults?.query; else noQuery">{{
                resourceInfoData?.searchResults?.query | json
            }}</span>
            <ng-template #noQuery>
                <span>---</span>
            </ng-template>
        </div>
    </div>
    <!-- end card-header -->
    <div class="card-body bg-light">
        <!-- search results -->
        <div *ngIf="resultSize">
            <ul class="list-group awg-resource-info-list-group">
                <!-- previous resource -->
                <a
                    *ngIf="resourceInfoData?.resources?.previous; else noPrevious; let previous"
                    class="list-group-item list-group-item-action flex-column awg-list-group-item text-left"
                    (click)="navigateToResource(previous?.id)">
                    <div>
                        <strong class="text-muted small">
                            <fa-icon [icon]="faChevronLeft"></fa-icon>
                            <span class="awg-resource-info-btn-text ml-2"
                                >Vorheriges Ergebnis ({{ previous?.displayIndex }}/{{ resultSize }})</span
                            >
                        </strong>
                    </div>
                    <div>
                        <div class="single-line">
                            <span [compile-html]="previous?.title" [compile-html-ref]="this"></span>
                        </div>
                        <div class="single-line text-muted small">
                            <span>{{ previous?.subtitle }}</span>
                        </div>
                    </div>
                </a>
                <ng-template #noPrevious>
                    <a
                        *ngIf="resourceInfoData?.resources?.current?.displayIndex === 1"
                        class="list-group-item list-group-item-danger flex-column awg-list-group-item text-left">
                        <div>
                            <strong class="text-muted small">
                                <fa-icon [icon]="faTimesCircle"></fa-icon>
                            </strong>
                        </div>
                        <div>
                            <div class="single-line">
                                <span>&nbsp;</span>
                            </div>
                            <div class="single-line text-muted small">
                                <span>&nbsp;</span>
                            </div>
                        </div>
                    </a>
                </ng-template>

                <!-- current resource -->
                <li
                    class="list-group-item list-group-item-info awg-list-group-item"
                    *ngIf="resourceInfoData?.resources?.current; let current">
                    <strong class="text-muted small mb-1"
                        ><span class="awg-resource-info-text"
                            >Angezeigtes Ergebnis ({{ current?.displayIndex }}/{{ resultSize }})</span
                        ></strong
                    >

                    <form [formGroup]="resourceInfoFormGroup">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <button
                                    type="submit"
                                    [ngClass]="{
                                        btn: true,
                                        'btn-outline-success': resourceInfoFormGroup.valid,
                                        'btn-outline-danger': resourceInfoFormGroup.invalid
                                    }"
                                    id="awg-resource-info-input-group-text"
                                    [disabled]="
                                        resourceInfoIndex === current?.displayIndex || !resourceInfoFormGroup?.valid
                                    "
                                    (click)="navigateToResourceByIndex(resourceInfoIndex)">
                                    Gehe zu
                                </button>
                            </div>
                            <!-- INPUT: required, min=1, max=resultSize and pattern are ensured by Formbuilder.Validators -->
                            <input
                                type="number"
                                class="form-control"
                                formControlName="resourceInfoIndex"
                                id="awg-resource-info-input"
                                aria-label="Index of search result"
                                aria-describedby="awg-resource-info-input-group-text"
                                size="4"
                                step="1" />
                        </div>
                    </form>
                </li>

                <!-- next resource -->
                <a
                    *ngIf="resourceInfoData?.resources?.next; else noNext; let next"
                    class="list-group-item list-group-item-action flex-column awg-list-group-item text-right"
                    (click)="navigateToResource(next?.id)">
                    <div class="mb-1">
                        <strong class="text-muted small">
                            <span class="awg-resource-info-btn-text mr-2"
                                >Nächstes Ergebnis ({{ next?.displayIndex }}/{{ resultSize }})</span
                            >
                            <fa-icon [icon]="faChevronRight"></fa-icon>
                        </strong>
                    </div>
                    <div>
                        <div class="single-line">
                            <span [compile-html]="next?.title" [compile-html-ref]="this"></span>
                        </div>
                        <div class="single-line text-muted small">
                            <span>{{ next?.subtitle }}</span>
                        </div>
                    </div>
                </a>
                <ng-template #noNext>
                    <a
                        *ngIf="resourceInfoData?.resources?.current?.displayIndex === resultSize"
                        class="list-group-item list-group-item-danger flex-column awg-list-group-item text-right">
                        <div>
                            <strong class="text-muted small">
                                <fa-icon [icon]="faTimesCircle"></fa-icon>
                            </strong>
                        </div>
                        <div>
                            <div class="single-line">
                                <span>&nbsp;</span>
                            </div>
                            <div class="single-line text-muted small">
                                <span>&nbsp;</span>
                            </div>
                        </div>
                    </a>
                </ng-template>
            </ul>
        </div>
        <!-- end ngIf: resultSize -->
    </div>
    <!-- end card-body -->
    <div class="card-footer text-muted small">
        Design and structure of this resource view adapted from
        <a href="https://arachne.dainst.org/">iDAI.object arachne</a> (11/2017)
    </div>
    <!-- end card-footer -->
</div>
<!-- end card.ngIf: resourceInfo -->
