<table aria-label="Table for text-critical comments" class="table table-hover table-condensed awg-edition-tka-table">
    <thead>
        <tr>
            @for (header of getTableHeaderStrings(); track header) {
                <th scope="col" class="awg-edition-tka-table-header {{ header.reference }}">
                    {{ header.label }}
                </th>
            }
        </tr>
    </thead>
    @if (textcriticalComments) {
        <tbody>
            @for (textcriticalComment of textcriticalComments; track textcriticalComment) {
                <tr>
                    <td [innerHTML]="textcriticalComment.measure"></td>
                    <td [innerHTML]="textcriticalComment.system"></td>
                    <td [innerHTML]="textcriticalComment.position"></td>
                    <td><span [compile-html]="textcriticalComment.comment" [compile-html-ref]="ref"></span></td>
                </tr>
            }
        </tbody>
    }
</table>
