// Default variable overrides
$info: #149b9e;
$link-color: $info;

$form-check-input-checked-color: $info;
$form-check-input-checked-bg-color: $info;
$form-check-input-checked-border-color: $info;

// Custom variables
$bg-grey: #f9f9f6;
$border-grey: #e7e7e7;
