@if (svgSheetsData(); as sheetsData) {
    <div class="card awg-edition-sheet-facet">
        <awg-edition-sheet-facet-toggle [(isMinimized)]="isMinimized" />
        @if (!isMinimized()) {
            <div class="card-body">
                @for (key of EDITION_TYPE_KEYS; track key; let isLast = $last) {
                    <awg-edition-sheet-facet-group
                        [editionTypeKey]="key"
                        [svgSheets]="sheetsData.sheets[key]"
                        [selectedSvgSheet]="selectedSvgSheet()" />

                    @if (!isLast) {
                        <hr />
                    }
                }
            </div>
        }
    </div>
}
