<!-- resource detail box -->
<div class="col-md-9 resource-detail-tabs" *ngIf="resourceData">

    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a data-toggle="tab" href="#html">{{ tabTitle?.html }}</a></li>
        <li><a data-toggle="tab" href="#converted">{{ tabTitle?.converted }}</a></li>
        <li><a data-toggle="tab" href="#raw">{{ tabTitle?.raw }}</a></li>
    </ul>

    <div class="tab-content">

        <awg-resource-detail-html id="html" class="tab-pane fade in active"
            *ngIf="resourceData?.html"
            [resourceDetailData]="resourceData?.html"
            [resourceUrl]="resourceUrl"
            (searchRequest)="navigateToSearch($event)"
            (resourceRequest)="navigateToResource($event)">
        </awg-resource-detail-html>

        <awg-resource-detail-json-converted id="converted" class="tab-pane fade"
            *ngIf="resourceData?.jsonConverted"
            [resourceJsonConvertedData]="resourceData?.jsonConverted"
            [resourceUrl]="resourceUrl">
        </awg-resource-detail-json-converted>

        <awg-resource-detail-json-raw id="raw" class="tab-pane fade"
            *ngIf="resourceData?.jsonRaw"
            [resourceJsonRawData]="resourceData?.jsonRaw"
            [resourceUrl]="resourceUrl">
        </awg-resource-detail-json-raw>

    </div>
</div>
