<!-- content: edition detail -->
<div>
    <!-- modal -->
    <awg-modal #modal />
    @if (viewData(); as view) {
        @if (view.error; as err) {
            <awg-alert-error [errorObject]="err.error" />
        } @else if (isFirstPageLoad() || view.isLoading || !viewReady()) {
            <awg-twelve-tone-spinner />
        } @else {
            <div class="awg-edition-sheets-view">
                <!-- accolade view -->
                <awg-edition-accolade
                    [isSheetFacetMinimized]="isSheetFacetMinimized"
                    [svgSheetsData]="view.data.svgSheetsData"
                    [selectedSvgSheet]="selectedSvgSheet"
                    [selectedTextcritics]="selectedTextcritics"
                    [selectedTextcriticalCommentary]="selectedTextcriticalCommentary"
                    [showTkA]="showTkA"
                    (browseSvgSheetRequest)="onBrowseSvgSheet($event)"
                    (navigateToReportFragmentRequest)="onReportFragmentNavigate($event)"
                    (openModalRequest)="modal.open($event)"
                    (selectLinkBoxRequest)="onLinkBoxSelect($event)"
                    (selectOverlaysRequest)="onOverlaySelect($event)"
                    (selectSvgSheetRequest)="onSvgSheetSelect($event)"
                    (toggleSheetFacetRequest)="onToggleSheetFacet($event)" />

                <!-- convolute view -->
                @if (selectedConvolute && selectedSvgSheet) {
                    <awg-edition-convolute
                        [selectedConvolute]="selectedConvolute"
                        [selectedSvgSheet]="selectedSvgSheet"
                        (openModalRequest)="modal.open($event)"
                        (selectSvgSheetRequest)="onSvgSheetSelect($event)" />
                }
            </div>
        }
    }
</div>
