<!-- content: edition detail -->
<div>
    @if (viewData(); as view) {
        @if (view.error; as errorObject) {
            <awg-alert-error [errorObject]="errorObject" />
        } @else if (isFirstPageLoad() || view.isLoading) {
            <awg-twelve-tone-spinner />
        } @else {
            <div class="awg-edition-sheets-view">
                <!-- sheets panel -->
                <awg-edition-sheets-panel
                    [(isSheetFacetMinimized)]="isSheetFacetMinimized"
                    [svgSheetsData]="view.data.svgSheetsData"
                    [selectedSvgSheet]="selectedSvgSheet()"
                    [displayedTextcritics]="displayedTextcritics()"
                    (browseSheetRequest)="onBrowseSvgSheet($event)"
                    (selectLinkBoxRequest)="onLinkBoxSelect($event)"
                    (selectTkkOverlaysRequest)="onOverlaySelect($event)" />

                <!-- folios panel -->
                @if (selectedConvolute(); as convolute) {
                    @if (selectedSvgSheet(); as svgSheet) {
                        <awg-edition-folios-panel [selectedConvolute]="convolute" [selectedSvgSheet]="svgSheet" />
                    }
                }
            </div>
        }
    }
</div>
