@import '~assets/themes/scss/shared';

/* slider container */
.awg-image-slider {
    height: 300px;

    .ngx-gallery {
        display: inline-block;
    }
}

:host {
    &::ng-deep {
        ngx-gallery {
            /* image preview */
            .ngx-gallery-image-wrapper {
                background-color: #e7e7e7;
            }

            /* arrows */
            .ngx-gallery-arrow {
                color: #676767;

                .ngx-gallery-disabled {
                    opacity: 0.3;
                }
            }

            /* thumbnails */
            .ngx-gallery-thumbnail {
                opacity: 0.5;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}
