<!--
/************************************************
*
*               CREDITS
*
* This code is inspired, adapted or taken from:
*
* ARACHNE – Objektdatenbank des Deutschen Archäologischen Instituts (DAI)
* https://arachne.dainst.org/entity/1121229**]
* 20.11.2017
*
*
*
************************************************/ -->
<!-- resourceDetailData content: image objects -->
<div class="awg-image-obj mb-3">

    <!-- header -->
    <h5>Abbildungen (<span id="awg-image-number">{{ galleryImages?.length }}</span>)</h5>

    <!-- image slider -->
    <div class="card awg-image-slider">

            <ngx-gallery *ngIf="galleryImages.length > 0" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

    </div><!-- end DIV image-slider -->
</div><!-- end DIV image-obj -->
