<!--
/************************************************
*
*               CREDITS
*
* This code is inspired, adapted or taken from:
*
* ARACHNE – Objektdatenbank des Deutschen Archäologischen Instituts (DAI)
* https://arachne.dainst.org/entity/1121229**]
* 20.11.2017
*
*
*
************************************************/ -->
<!-- resourceDetailData content: image objects -->
@if (images?.length > 0) {
    <div class="awg-image-obj mb-3">
        <!-- header -->
        <h5>
            Abbildungen (<span id="awg-image-number">{{ images?.length }}</span
            >)
        </h5>
        <!-- image slider -->
        <div class="card awg-image-slider">
            <ngx-gallery class="ngx-gallery" [options]="galleryOptions" [images]="images"></ngx-gallery>
        </div>
        <!-- end DIV image-slider -->
    </div>
}
<!-- end DIV image-obj -->
