<div id="awg-edition-svg-container" *ngIf="selectedSvgSheet">
    <div class="awg-edition-svg-icon-bar">
        <!-- Slider -->
        <div class="input-group input-group-sm awg-edition-svg-zoom-slider-container float-start mb-3">
            <span #sliderInputLabel class="input-group-text" id="slider-label">{{ sliderConfig.value }}x</span>
            <input
                type="range"
                #sliderInput
                class="awg-edition-svg-zoom-slider"
                id="awg-edition-svg-zoom-slider"
                name="zoomSlider"
                aria-label="Zoom slider"
                aria-describedby="slider-label"
                [min]="sliderConfig.min"
                [max]="sliderConfig.max"
                [step]="sliderConfig.stepSize"
                [(ngModel)]="sliderConfig.value"
                (ngModelChange)="onZoomChange($event)" />
            <button class="btn btn-sm btn-outline-info" type="submit" title="Reset zoom" (click)="resetZoom()">
                <fa-icon [icon]="faCompressArrowsAlt"></fa-icon>
            </button>
        </div>
    </div>

    <div #svgSheetContainer class="awg-edition-svg-sheet-container">
        <svg #svgSheetElement id="awg-edition-svg-sheet">
            <g #svgSheetRootGroup id="awg-edition-svg-sheet-root"></g>
        </svg>
    </div>
</div>
