<div class="text-center">
    <form [formGroup]="searchForm"
          (ngSubmit)="onSubmit(searchValueControl.value)">
        <div class="form-group">
            <label for="searchInput"></label>
            <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default"
                                type="submit"
                                [disabled]="searchForm.invalid">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                <input type="text"
                       id="searchInput"
                       placeholder="Volltextsuche in der Webern-Datenbank ({{ url }}) …"
                       [formControl]="searchValueControl"
                       [(ngModel)]="searchval">
            </div>
            <div *ngIf="!searchValueControl.valid"
                 class="alert alert-danger">Suchbegriff ist zu kurz</div>
            <div *ngIf="searchValueControl.hasError('required')"
                 class="alert alert-danger">Suchbegriff benötigt</div>
            <div *ngIf="searchForm.invalid"
                 class="alert alert-danger">Form ist ungültig</div>
        </div>
    </form>
</div>

