<!-- content: edition -->
<div>
    <!-- pre-notification -->
    <awg-edition-detail-notification></awg-edition-detail-notification>

    <!-- modal -->
    <awg-modal #modal></awg-modal>

    <!-- body with embedded svg's -->

        <!-- convolute view -->
        <awg-edition-convolute *ngIf="folioData && selectedSheet"
                               [folioData]="folioData"
                               [selectedSheet]="selectedSheet"
                               (openModalRequest)="modal.open($event)"
                               (selectSheetRequest)="onSheetSelect($event)">
        </awg-edition-convolute>


        <!-- accolade view -->
        <awg-edition-accolade *ngIf="sheetsData && selectedSheet"
                              [sheetsData]="sheetsData"
                              [selectedSheet]="selectedSheet"
                              [selectedTextcritics]="selectedTextcritics"
                              [selectedTextcriticId]="selectedTextcriticId"
                              [showTkA]="showTkA"
                              (openModalRequest)="modal.open($event)"
                              (selectSheetRequest)="onSheetSelect($event)"
                              (selectTextcriticRequest)="onTextcriticSelect($event)">
        </awg-edition-accolade>

</div>
