<!-- content: edition -->
<div>

    <!-- modal -->
    <awg-modal #modal></awg-modal>

    <!-- body with embedded svg's -->

        <!-- convolute view -->
        <awg-edition-convolute *ngIf="convoluteData && selectedSvgFile"
                               [convoluteData]="convoluteData"
                               [selectedSvgFile]="selectedSvgFile"
                               (openModalRequest)="modal.open($event)"
                               (selectSvgFileRequest)="onSvgFileSelect($event)">
        </awg-edition-convolute>


        <!-- accolade view -->
        <awg-edition-accolade *ngIf="svgFileData && selectedSvgFile"
                              [svgFileData]="svgFileData"
                              [selectedSvgFile]="selectedSvgFile"
                              [selectedTextcritics]="selectedTextcritics"
                              [selectedOverlay]="selectedOverlay"
                              [showTkA]="showTkA"
                              (openModalRequest)="modal.open($event)"
                              (selectSvgFileRequest)="onSvgFileSelect($event)"
                              (selectTextcriticRequest)="onTextcriticSelect($event)">
        </awg-edition-accolade>

</div>
