<ngb-accordion activeIds="awg-accolade-view">
    <ngb-panel id="awg-accolade-view" title="Edierter Notentext">
        <ng-template ngbPanelContent>
            <!-- accolade control -->
            <awg-edition-svg-file-nav *ngIf="svgFileData && selectedSvgFile"
                                      [svgFileData]="svgFileData"
                                      [selectedSvgFile]="selectedSvgFile"
                                      (selectSvgFileRequest)="selectSvgFile($event)">
            </awg-edition-svg-file-nav>

            <!-- pre-notification -->
            <awg-edition-detail-notification></awg-edition-detail-notification>

            <!-- svg panel -->
            <awg-edition-svg-file *ngIf="selectedSvgFile"
                                  [selectedSvgFile]="selectedSvgFile"
                                  [selectedOverlay]="selectedOverlay"
                                  (selectSvgFileRequest)="selectSvgFile($event)"
                                  (selectTextcriticRequest)="selectTextcritic($event)">
            </awg-edition-svg-file>

            <!-- table for TkA -->
            <div class="panel-footer" *ngIf="showTkA && selectedTextcritics">
                <h4 class="mt-4">Textkritischer Kommentar ({{selectedOverlay.typeLabel}} {{selectedOverlay.id}}):</h4>
                <awg-edition-tka-table
                    [selectedTextcritics]="selectedTextcritics"
                    (openModalRequest)="openModal($event)"
                    (selectSvgFileRequest)="selectSvgFile($event)">
                </awg-edition-tka-table>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
