@if (introBlockContent.length) {
    <div class="awg-edition-intro-content">
        @for (introBlock of introBlockContent; track $index) {
            <section class="awg-edition-intro-section" [id]="introBlock.blockId">
                @if (introBlock.blockHeader) {
                    <div class="awg-edition-intro-block">
                        <p class="heading" [awgCompileHtml]="introBlock.blockHeader"></p>
                    </div>
                }
                @if (introBlock.blockContent.length) {
                    @for (blockContent of introBlock.blockContent; track $index) {
                        <div class="awg-edition-intro-block" [awgCompileHtml]="blockContent"></div>
                    }
                }
            </section>
        }
        <section class="awg-edition-intro-section mt-5" id="notes">
            <hr />
            <h5>{{ notesLabel }}</h5>
            <div class="awg-edition-intro-notes">
                @for (introBlock of introBlockContent; track $index) {
                    @if (introBlock.blockNotes?.length) {
                        @for (note of introBlock.blockNotes; track $index) {
                            <div class="awg-edition-intro-note small" [awgCompileHtml]="note"></div>
                        }
                    }
                }
            </div>
        </section>
    </div>
}
