.awg-edition-intro-content {
    margin-top: 1.5em;

    .awg-edition-intro-note,
    .awg-edition-intro-block {
        text-align: justify;
        text-justify: inter-word;

        &::ng-deep {
            .note-1-dig {
                margin-left: 1.3em;
                text-indent: -1.3em;
            }

            .note-2-dig {
                margin-left: 1.8em;
                text-indent: -1.8em;
            }

            .note-3-dig {
                margin-left: 2.3em;
                text-indent: -2.3em;
            }
        }
    }

    .awg-edition-intro-block {
        margin: 0;
        text-indent: 1.5em;

        &::ng-deep {
            p {
                margin-bottom: 0 !important;
            }

            table > tbody > tr > td {
                padding-right: 10px;
            }

            .heading {
                display: block;
                font-weight: bold;
                margin: 1.5em 0;
                text-indent: 0;
            }

            .small,
            .no-indent {
                text-indent: 0;
            }

            .spacebreak {
                display: block;
                margin-top: 1em;

                &.list {
                    text-indent: 0;
                }

                &.no-indent {
                    margin-left: 0;
                }
            }

            .list {
                margin-left: 1em;
                text-indent: -1em;
            }
        }
    }
}
