<footer class="container-fluid text-center">
    <div class="row">
        <div class="col-md-8 text-center">
            <awg-footer-text [metaData]="metaData"></awg-footer-text>
        </div>

        <div class="col-6 col-md-2 order-md-first mb-4 mt-md-4">
            <awg-footer-logo [logo]="logos?.unibas"></awg-footer-logo>
        </div>
        <div class="col-6 col-md-2 mb-4 mt-md-4">
            <awg-footer-logo [logo]="logos?.snf"></awg-footer-logo>
        </div>
    </div>
</footer>
