<footer class="container-fluid text-center">
    <div class="row">
        <awg-footer-logo [logo]="logos.unibas"></awg-footer-logo>
        <div class="col-sm-8 text-center">
            <p class="versionDesc">
                Prototyp AWG-Online-Edition (Version <span id="version">{{ metaData?.page.version }}</span> &#9671; <span id="versionDate">{{ metaData?.page.versionReleaseDate }}</span>)
            </p>
            <p class="copyrightDesc">
                &copy; <span id="copyrightPeriod">{{ metaData?.page.yearStart }}–{{ metaData?.page.yearRecent }}</span> Anton Webern Gesamtausgabe
            </p>
            <p id="contact">
                <small>
                    <a id="imp" [routerLink]="['/contact']" fragment="masthead">
                        Impressum
                    </a>
                </small>
            </p>
        </div>
        <awg-footer-logo [logo]="logos.snf"></awg-footer-logo>
    </div>
</footer>
