<p class="help-block">
    Datenbank-Suche nach Ereignissen mit heutigem Tagesdatum. Der erstmalige Aufruf kann einige Sekunden Ladezeit beanspruchen.
</p>
<button class="btn btn-default" (click)="getTodaysEvents()">
    Webern-Chronologie vom {{date.day}}.{{date.month}}.
</button>

<!--
            <div data-ng-if="isEventLoaded">
                <div class="timeline-control-button">
                    <button class="btn btn-default" data-ng-click="timeline.leftAlign()">linksseitig</button>
                    <button class="btn btn-default" data-ng-click="timeline.rightAlign()">rechtsseitig</button>
                    <button class="btn btn-default" data-ng-click="timeline.defaultAlign()">alternierend</button>
                </div>

                <timeline>
                    <timeline-header>
                        <h3 data-ng-if="date.searchStart && date.searchEnd">
                            Suchzeitraum: {{date.searchStart}}–{{date.searchEnd}}
                        </h3>
                        <p>
                            In {{eventData.overallQueries}} Suchanfragen {{eventData.nhits}} Ereignisse zwischen {{date.findStart}} und {{date.findEnd}} gefunden
                        </p>
                    </timeline-header>
                    <timeline-body>
                        <timeline-event ng-repeat="event in eventData.events | orderBy:'-jdate.dateval1'" side="{{side}}">
                            <timeline-badge class="{{event.badgeClass}}">
                                <img title="{{event.objLabel}}: {{event.value.label}}" data-ng-src="{{event.objSrc}}" alt="icon" />
                            </timeline-badge>
                            <timeline-panel class="{{event.badgeClass}}">
                                <timeline-panel-heading>
                                    <p ng-if="event.date">
                                        <small class="text-muted"><i class="glyphicon glyphicon-time"></i> <em>{{event.date.label}}</em>: {{event.date.dateString}}</small>
                                    </p>
                                </timeline-panel-heading>
                                <timeline-panel-body>
                                    <p data-ng-if="event.value">
                                        [{{event.objID}}] {{event.value.valueString}} <small><a data-ng-click="showObject(event.objID)">[mehr…]</a></small>
                                    </p>
                                </timeline-panel-body>
                                <!-- <timeline-panel-footer>

                                </timeline-panel-footer> -->
<!--
                    </timeline-panel>
                </timeline-event>
            </timeline-body>
        </timeline>
    </div>
-->
