@if (svgSheetsData) {
    <div class="card awg-svg-sheet-facet">
        <button
            type="button"
            class="btn btn-sm border rounded m-2"
            [title]="isMinimized ? 'Maximize' : 'Minimize'"
            (click)="toggleSheetFacet()">
            <fa-icon [icon]="isMinimized ? faListUl : faAnglesLeft" />
        </button>
        @if (!isMinimized) {
            <div class="card-body">
                @for (key of EDITION_TYPE_KEYS; track key; let isLast = $last) {
                    <awg-edition-svg-sheet-facet-item
                        [facetItemLabel]="EDITION_TYPE_LABEL_MAP[key]"
                        [svgSheets]="svgSheetsData.sheets[key]"
                        [selectedSvgSheet]="selectedSvgSheet" />

                    @if (!isLast) {
                        <hr />
                    }
                }
            </div>
        }
    </div>
}
