/****** GENERAL SETTINGS ******/
html,
body {
    font-family: 'Droid', serif;
    background-color: transparent;
    min-width: 320px;
}

/****** LINKS & POINTER ******/
a,
a:link,
a:visited,
a:hover {
    color: #149b9e;
    text-decoration: none;
}
a:hover {
    border-bottom: 1px solid #149b9e;
}
a,
.incomingLinks {
    cursor: pointer;
}
a.dropdown-item,
.nav-tabs > li > a {
    color: #333;
}
.navbar-brand:hover,
.navbar-nav > li > a:hover,
a.dropdown-item:hover,
a.list-group-item:hover {
    border-bottom: none;
    text-decoration: none;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-brand:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:active,
a.dropdown-item:hover,
a.list-group-item:hover {
    color: #149b9e !important;
}

/****** DIVS ******/
.para {
    margin-bottom: 3em;
}

.todo {
    color: red;
    font-weight: bold;
}
.todo::before {
    content: '## ';
}
.todo::after {
    content: ' ##';
}

/****** PAGE LAYOUT ******/

/* navbar */
/* (override some default values) */
awg-navbar > .navbar {
    border-bottom: 1px solid #e7e7e7;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
}
@media screen and (max-width: 767px) {
    .navbar > .container-fluid > .row {
        flex-wrap: nowrap;
    }
}
.nav-link > fa-icon {
    margin-left: 5px;
    margin-right: 5px;
}
/* helper class to set order to minus 1 */
@media screen and (min-width: 768px) {
    .order-md-minus-1 {
        order: -1;
    }
}

/* view container */
.awg-view-container {
    background-color: #f9f9f6;
    background-image: url(http://api.thumbr.it/whitenoise-600x200.png?background=f9f9f6&noise=6c702d&density=17&opacity=15);
    /* full height without header and footer */
    /* needed for sticky footer, see https://css-tricks.com/couple-takes-sticky-footer */
    min-height: calc(100vh - 121px - 135px);
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .awg-view-container {
        /* full height without header and footer */
        min-height: calc(100vh - 121px - 200px);
    }
}

/* main content */
.awg-maincontent,
.awg-sidenav {
    margin-top: 10px;
    padding-top: 10px;
}

/* sidenav */
.awg-sidenav > .card {
    padding: inherit;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .awg-sidenav {
        height: auto;
        padding: 15px;
        margin-bottom: 10px;
    }
    .row {
        height: auto;
    }
}

/* footer */
footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    height: 132px; /* needed for sticky footer */
    background-color: transparent;
    color: #333;
    padding: 15px;
    border-top: 1px solid #e7e7e7;
}

.awg-footer-bottom {
    border-top: 1px solid #e7e7e7;
}
.awg-footer-bottom .icon img {
    position: relative;
    display: inline;
    height: 24px;
    width: 24px;
    margin: 0;
}

/****** MODAL ******/
.modal-header {
    background-color: #149b9e;
    color: #ffffff;
}
.modal-header > .close {
    color: #ffffff;
}
.modal-body,
.modal-footer {
    background-color: #f9f9f6;
}
.awg-modal-button:hover,
.awg-modal-button:active {
    background-color: #149b9e;
}

/****** OBJECT BOX ******/
.objbox {
    position: relative;
    height: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #f1f1f1;
    box-shadow: 5px 5px 6px #cccccc;
}
.objbox-control-button {
    text-align: right;
}

.awg-subitem {
    padding-left: 50px;
}

/****** IMAGES ******/
#unibaslogo {
    width: 118px;
    height: 37px;
    cursor: pointer;
}
#snflogo {
    width: 118px;
    height: 40px;
    cursor: pointer;
    padding-right: 10px;
}
#webernlogo {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: normal;
    color: black;
    letter-spacing: normal;
}
#webernlogo span {
    font-weight: lighter;
}

.img-thumbnail {
    height: 100px;
    width: auto;
    padding: 0px;
    margin: 2px 0px;
}

/****** SVG ******/
.edition-svg {
    box-shadow: 5px 5px 6px #cccccc;
    border: 1px solid #eeeeee;
}
.edition-svg-item {
    fill: orange;
    opacity: 0.2;
}
.edition-svg-measure,
.edition-svg-system,
.edition-svg-linkbox {
    fill: white;
    opacity: 0;
}
.edition-svg-measure:hover,
.edition-svg-system:hover,
.edition-svg-linkbox:hover,
.edition-svg-item:hover {
    fill: #8bb82d; /* some lighter OliveDrab*/
    opacity: 0.2;
}
svg a.active rect {
    fill: OliveDrab;
    opacity: 0.2;
}
.edition-convolute-legend:before {
    content: '\e157';
    font-family: 'Glyphicons Halflings';
}
.item-group.active,
.item-group.active > .item-link > .item-shape {
    stroke: OliveDrab;
}
.item-group.active > .item-link > .item-label {
    fill: OliveDrab;
}

/****** TABLES & LISTS ******/
.table thead tr th {
    border-bottom: 2px solid black;
}
.borderless tbody tr td,
.borderless tbody tr th,
.borderless thead tr th {
    border: none;
}
td {
    vertical-align: top;
}

ul.none {
    list-style: none;
}

.awg-sidenav-results tbody tr {
    cursor: pointer;
}
.awg-sidenav-results tbody tr:hover {
    background-color: #e7e7e7;
}
.awg-sidenav-results tbody tr.active td {
    background-color: #d7d7d7;
}
span.facet-badge {
    background-color: #777 !important;
}

/****** FONTPROPERTIES ******/
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.highlighted {
    background: orange;
}
.caps,
.version {
    font-variant: small-caps;
}
.indent {
    text-indent: 25px;
}
.single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/****** COLOURS ******/
.olivedrab {
    color: olivedrab;
}
.orange {
    color: orange;
}
.grey {
    color: grey;
}

/****** FORMS ******/
.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}
