<form [formGroup]="searchForm"
      (ngSubmit)="onSearch(searchValueControl.value)">
    <div class="form-row">
        <div class="col-12">
            <label class="sr-only" for="awg-search-input">{{ searchFormStrings.label }}</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <fa-icon [icon]="faSearch"></fa-icon>
                    </div>
                </div>
                <input title="search"
                       type="search"
                       class="form-control"
                       id="awg-search-input"
                       aria-label="Search input"
                       placeholder="{{ searchFormStrings.placeholder }}"
                       [formControl]="searchValueControl">
            </div>
            <div *ngIf="searchValueControl.invalid || searchValueControl.hasError('required')" class="alert alert-danger">
                {{ searchFormStrings.errorMessage }}
            </div>
        </div>
    </div>
</form>

