<form [formGroup]="searchForm">
    <div class="form-row mb-4">
        <div class="col-12">
            <label class="sr-only" for="awg-search-input">{{ searchFormStrings.label }}</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text" id="search-icon">
                        <fa-icon [icon]="faSearch"></fa-icon>
                    </div>
                </div>
                <input title="search"
                       type="search"
                       class="form-control"
                       id="awg-search-input"
                       aria-label="Search input" aria-describedby="search-icon"
                       placeholder="{{ searchFormStrings.placeholder }}"
                       formControlName="searchValueControl"
                       required>
            </div>
            <div *ngIf="searchForm.invalid || searchForm.hasError('required')" class="alert alert-danger">
                {{ searchFormStrings.errorMessage }}
            </div>
        </div>
    </div>
</form>

