/************************************************
 *
 *               CREDITS
 *
 * This code is inspired, adapted or taken from:
 *
 * ARACHNE – Objektdatenbank des Deutschen Archäologischen Instituts (DAI)
 * https://arachne.dainst.org/entity/1121229**]
 * 20.11.2017
 *
 *
 *
************************************************/

/* resource header */
.resource-header {
    margin: 1rem 0;
    border-bottom: 1px solid #ddd;
}

/* resource header title */
.resource-title .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.resource-title .title:hover {
    white-space: normal;
    width: inherit;
    height: auto;
}

/* resource header link */
.resource-link {
    margin: 2rem 0;
}

/* resource header table */
/* remove top border from table */
.resource-header table.resource-header-table tr:first-of-type th,
.resource-header table.resource-header-table tr:first-of-type td {
    border-top: none;
}
