<!-- resource detail header -->
<div class="resource-header">
    <div class="row">
        <div class="col-lg-8">
            <h2 class="resource-title">
                <div class="title">
                    <span [compile-html]="header?.title" [compile-html-ref]="this"></span>
                </div>
                <div class="subtitle">
                    <small></small>
                </div>
            </h2>
            <div class="resource-link">
                <small>
                    API-Request: <a target="_blank" ref="noopener noreferrer" href="{{ resourceUrl }}">{{ resourceUrl }}</a>
                    <!-- TODO (resource-detail-html-header): change then to stable URL for resource -->
                </small>
            </div>
        </div>
        <div class="col-lg-4">
            <table class="table table-sm resource-header-table">
                <tbody>
                <tr>
                    <th>ID:</th>
                    <td id="header?.objID">{{ header?.objID }}</td>
                </tr>
                <tr>
                    <th>Kategorie</th>
                    <td>{{ header?.type }}&nbsp;<img [src]="header?.icon" alt="icon" /></td>
                </tr>
                <tr>
                    <th>Zuletzt bearbeitet:</th>
                    <td>{{ header?.lastmod }} (UTC)</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
