name: SVG Optimization Workflow
on:
    push:
        # trigger on all branches except for main, release and dependabot-triggered push events
        branches-ignore: [main, release, dependabot/**]
        tags-ignore: [v*]
        paths:
            - '**.svg'

# The minimum required permissions
permissions:
    contents: write

jobs:
    svgs:
        name: Optimize SVGs
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # ratchet:actions/checkout@v3
            - name: Optimize SVGs
              uses: ericcornelissen/svgo-action@ee5df7574a3256289c336be4a5e3118666096c86 # ratchet:ericcornelissen/svgo-action@v3
              id: svgo
              with:
                  repo-token: ${{secrets.GITHUB_TOKEN}}
                  svgo-version: 3 # defaults to 2
            - name: Commit optimizations
              uses: stefanzweifel/git-auto-commit-action@3ea6ae190baf489ba007f7c92608f33ce20ef04a # ratchet:stefanzweifel/git-auto-commit-action@v4
              if: ${{steps.svgo.outputs.DID_OPTIMIZE}}
              with:
                  commit_message: 'fix(assets): optimize ${{steps.svgo.outputs.OPTIMIZED_COUNT}} SVG(s) with SVGO'
