name: CI Workflow
on:
    push:
        # trigger on all branches except for dependabot-triggered push events
        branches-ignore: [dependabot/**]
        tags:
            - 'v*' # trigger on all tags
        paths-ignore:
            - '**.md' # ignore changes in markdown files
    pull_request:
        branches: [develop]
        types: [opened, synchronize, reopened]

# globals
env:
    # general settings
    MAIN_REPO_OWNER: webern-unibas-ch # Main repo owner (default: webern-unibas-ch; should not be changed)

jobs:
    test:
        name: Run tests (Node v${{ matrix.node-version }}, ${{ matrix.os }})
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest]
                node-version: [18.19, 20.9] # TODO (when Angular allows it): 21.x
        steps:
            - name: Checkout repository
              uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # ratchet:actions/checkout@v4.1.3
              with:
                  fetch-depth: 0 # Get all history and branches
            - name: Set up node ${{ matrix.node-version}}
              uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # ratchet:actions/setup-node@v4.0.2
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'yarn'
            - name: yarn install dependencies
              run: |
                  yarn install
            - name: Run CI tests with coverage
              run: |
                  yarn run test:ci
            - name: Upload code coverage
              if: matrix.node-version == 20.9 # upload coverage report for current node version only
              uses: codecov/codecov-action@84508663e988701840491b86de86b666e8a86bed # ratchet:codecov/codecov-action@v4.3.0
              env:
                  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
              with:
                  flags: unittests
                  env_vars: ${{ matrix.os }}, ${{ matrix.node-version }}
            - name: Perform SonarCloud Analysis
              if: matrix.node-version == 20.9 && github.event_name != 'pull_request' && github.repository_owner == env.MAIN_REPO_OWNER # perform SonarCloud analysis only for current node version and not with pull requests or forks(token issue)
              uses: SonarSource/sonarcloud-github-action@49e6cd3b187936a73b8280d59ffd9da69df63ec9 # ratchet:SonarSource/sonarcloud-github-action@v2.1.1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
                  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            - name: Test build for GH Pages
              run: |
                  yarn run build:gh
    deploy:
        name: Deploy app from main (Node v${{ matrix.node-version }}, ${{ matrix.os }})
        runs-on: ${{ matrix.os }}
        needs: test
        # run only on main

        if: github.ref == 'refs/heads/main'
        strategy:
            matrix:
                os: [ubuntu-latest]
                node-version: [20.9]
        steps:
            - name: Checkout repository
              uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # ratchet:actions/checkout@v4.1.3
            - name: Set up node ${{ matrix.node-version}}
              uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # ratchet:actions/setup-node@v4.0.2
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'yarn'
            - name: yarn install dependencies
              run: |
                  yarn install
            - name: Build app for GH Pages
              run: |
                  yarn run build:gh
            - name: Deploy to GH Pages
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  yarn run deploy:ci
    release:
        name: Create Release from tag
        runs-on: ${{ matrix.os }}
        needs: test
        # run only on tags

        if: startsWith(github.ref, 'refs/tags/')
        strategy:
            matrix:
                os: [ubuntu-latest]
                node-version: [20.9]
        steps:
            - name: Get tag version
              id: get_version
              run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}
            - name: Create Release
              id: create_release
              if: ${{ success() && startsWith(github.ref, 'refs/tags/') }}
              uses: softprops/action-gh-release@9d7c94cfd0a1f3ed45544c887983e9fa900f0564 # ratchet:softprops/action-gh-release@v2.0.4
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  TAG_VERSION: ${{ steps.get_version.outputs.VERSION }}
              with:
                  name: Release ${{ env.TAG_VERSION }}
                  body: "A prototype web application for the online edition of the [Anton Webern Gesamtausgabe](https://www.anton-webern.ch), located at the Department of Musicology of the University of Basel. It is written in [Angular](https://angular.io/) and runs on [edition.anton-webern.ch](https://edition.anton-webern.ch).\n\n Changes since last release: https://github.com/${{ github.repository }}/blob/${{ env.TAG_VERSION }}/CHANGELOG.md"
                  draft: false
                  prerelease: false
