name: Visualize repo with diagram

on:
    workflow_dispatch: {}

permissions:
    contents: read

jobs:
    visualize_repo:
        permissions:
            contents: write # for githubocto/repo-visualizer to commit and push diagrams
        runs-on: ubuntu-latest

        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
              with:
                  egress-policy: audit

            - name: Checkout repository
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
              with:
                  ref: develop
                  token: ${{ secrets.REPO_TOKEN }}

            - name: Update diagram
              uses: githubocto/repo-visualizer@a999615bdab757559bf94bda1fe6eef232765f85 # v0.9.1
              with:
                  excluded_paths: '.github,.husky,.yarn'
