<div id="header">
    <div class="content">
        <div class="left">
            <img src="assets/img/uni.svg" alt="uni" id="unilogo" (click)="location.href='http://www.unibas.ch'" />
        </div>
        <div class="center">
            <div id="webernlogo">
                <img src="assets/img/webernlogo.png" alt="logo" onclick="location.href='http://anton-webern.ch'" />
            </div>
        </div>
        <div class="right">
            <span class="language" onClick="location.href='http://www.anton-webern.ch'">DE</span> |
            <span class="language" onclick="location.href='http://en.anton-webern.ch'">EN</span>
            <span id="contact" [routerLink]="['/contact']">KONTAKT</span>
        </div>
    </div>
</div>
