<form [formGroup]="searchForm" novalidate>
    <div class="input-group mt-3 mb-3">
        <div class="input-group-text" id="search-icon" style="max-height: 3.63rem">
            <fa-icon [icon]="faSearch"></fa-icon>
        </div>
        <div class="form-floating awg-form-floating-group flex-grow-1">
            <input
                title="{{ searchFormStrings.label }}"
                type="search"
                id="awg-fulltext-search-searchValue"
                class="form-control"
                [ngClass]="{
                    'is-invalid':
                        searchvalControl.hasError('required') ||
                        (searchvalControl.errors && searchvalControl.errors.minlength)
                }"
                formControlName="searchvalControl"
                aria-label="{{ searchFormStrings.label }}"
                aria-describedby="search-icon"
                placeholder="{{ searchFormStrings.placeholder }}"
                required />
            <label for="awg-fulltext-search-searchValue" class="text-muted">{{ searchFormStrings.placeholder }}</label>
            <div *ngIf="searchvalControl.invalid && !searchvalControl.pristine" class="invalid-feedback">
                <p
                    *ngIf="
                        searchvalControl.hasError('required') ||
                        (searchvalControl.errors && searchvalControl.errors.minlength)
                    ">
                    {{ searchFormStrings.errorMessage }}
                </p>
            </div>
        </div>
    </div>
</form>
