/* styles for the page's elements */

/****** OBJECT BOX ******/
.objbox {
    position: relative;
    height: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #f1f1f1;
    box-shadow: 5px 5px 6px #cccccc;
}
.objbox-control-button {
    text-align: right;
}
.objImage {
    margin-bottom:25px;
}
.facs {
    margin-bottom: 15px;
}

.subitem {
    padding-left: 20px;
}

/****** CARDS ******/
.search-overview {
    float: left;
    width: 30%;
    margin: 10px;
}


/****** IMAGES ******/
.img-thumbnail {
    height: 100px;
    width:auto;
    padding: 0px;
    margin: 2px 0px;
}

/****** SVG ******/
svg {
    box-shadow: 5px 5px 6px #cccccc;
    border: 1px solid #eeeeee;
}
.svg-item {
    fill: orange;
    opacity: 0.2;
}
/*.svg-system {
    fill: red;
    opacity: 0.2;
}*/
.svg-measure, .svg-system, .svg-linkbox {
    fill: white;
    opacity: 0;
}
.svg-measure:hover, .svg-system:hover, .svg-linkbox:hover, .svg-item:hover {
    fill: #8bb82d; /* some lighter OliveDrab*/
    opacity: 0.2;
}
svg a.active rect {
    fill: OliveDrab;
    opacity: 0.2;
}


/****** TABLES & LISTS ******/
.table thead tr th {
    border-bottom: 2px solid black;
}
.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}
td {
    vertical-align: top;
}

ul.none {
    list-style: none;
}

#sidenav_results tbody tr {
    cursor:pointer;
}
#sidenav_results tbody tr:hover {
    background-color: #e7e7e7;
}
#sidenav_results tbody tr.active td {
    background-color: #d7d7d7;
}


/****** LINKS & POINTER ******/
.ins {
    cursor: pointer;
}

#imp {
    cursor: pointer;
    color: black;
}
#imp:hover {
    color: #666;
}


/****** DIVS ******/
.para {
    margin-bottom: 3em;
}
.full-width {
    width: 100%;
}


/****** FONTPROPERTIES ******/
.bold {
    font-weight: bold;
}
.highlighted {
    background: orange;
}
.text-muted{
    opacity: 0.7;
}
span.caps, .version {
    font-variant: small-caps;
}
span.indent {
    text-indent:25px;
}

/****** FORMS ******/

.search-fulltext-form {
    width: 500px;
    align: center;
}
.full-width-input {
    width: 100%;
}

/*
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
}
*/
